html, body, h1, h2, h3, h4, h5, h6, select, option {
    font-family: "Roboto", sans-serif;
}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
body {
    padding-top: 60px;
    padding-bottom: 60px;
}
table {border-collapse: collapse;}
.zebra-table tr:nth-child(odd) {background: #eee;}
td, th {border: 1px solid #999;}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 600px) {
.unimportant-column {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
    }
body {
    padding-top: 120px;
    padding-bottom: 180px;
    }
}
