composer,musicname,location,notes,link,Conductor,Piccolo,Flute,Oboe,Coranglais,Clarinet,Bassoon,Horn,Trumpet,Trombone,Tuba,Percussion,Piano,Guitar,Saxophone,Recorder,Violin,Viola,Cello,Doublebass
Arnold,Sea Shanties (Wind Quintet),University Library,A 757 NR/U,,0,0,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
Bach,Short Pieces: Air from Suite in D ,SF (in easy brass music folders),,,0,0,0,0,0,0,0,1,2,1,1,0,0,0,0,0,0,0,0,0
Bach,Short Pieces: Air from Suite in D ,SF (in easy string music folders),,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,1,0
Beethoven,Octet in E flat,University Library,B 415 NN/U,"http://imslp.org/wiki/Wind_Octet_in_E-flat_major,_Op.103_(Beethoven,_Ludwig_van)",0,0,2,2,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0
Beethoven,Septet op. 20,JB,,"http://imslp.org/wiki/Septet_in_E-flat_major,_Op.20_(Beethoven,_Ludwig_van)",0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,1,1,1,1
Beethoven,Sextet op. 71,UWA,B 415 NQ/U,,0,0,0,0,0,2,2,2,0,0,0,0,0,0,0,0,0,0,0,0
Beethoven,"String Quartets Vol. 2, op. 6",UWA,B 415 NS/RW,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,1,0
Beethoven,"String Quartets (op. 127, 130, 133, 135)",UWA,B 415 NS/RW,,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,1,1,0
