<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/css/style.css' />
    <meta name="viewport" content="initial-scale=1">
    <title>{{ campname }} Dashboard</title>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>
        $(document).ready(function () {
            //handler for user clicking the button requesting an absence
            $(".absent_request_button").click(function () {
                var r = confirm("Press OK to mark yourself as absent for " + $(this).data('periodname') + ". This means that you will not be allocated to any groups or meals during this period.");
                if (r == true) {
                    console.log("User pressed OK");
                    var post_absent = $.ajax({
                        type: 'POST',
                        url: '/user/{{ user.userid }}/period/' + this.id + '/absent/confirm/'
                    });

                    // handle response
                    post_absent.done(function (response) {
                        console.log(response);
                        location.reload();
                    });
                } else {
                    console.log("User pressed Cancel");
                }
            });

            //handler for user clicking the button requesting to cancel an absence
            $(".absent_cancel_button").click(function () {
                var r = confirm("You are currently marked absent for " + $(this).data('periodname') + ". Press OK be marked as present again.");
                if (r == true) {
                    console.log("User pressed OK");
                    var post_absent = $.ajax({
                        type: 'POST',
                        url: '/user/{{ user.userid }}/period/' + this.id + '/absent/cancel/'
                    });

                    // handle response
                    post_absent.done(function (response) {
                        console.log(response);
                        location.reload();
                    });
                } else {
                    console.log("User pressed Cancel");
                }
            });

        });

    </script>




</head>
<body>
    <h1> {{ user.firstname }} {{ user.lastname }}'s Dashboard</h1>
    <p>{{ campname }}</p>
    <p>You have played a total of {{ count }} times this camp</p>
    <h2>Announcements</h2>

    <br />
    <h2>Your Schedule</h2>
    {% if date > today %}
    <p>To mark yourself as absent for any period, select one of the corresponding buttons.</p>
    {% endif %}
    <table style="width:100%">
        <caption>
            {% if previousday == today %}
            <a href="/user/{{ user.userid }}/">Previous Day</a>
            {% else %}
            <a href="/user/{{ user.userid }}/date/{{ previousday }}/">Previous Day</a>
            {% endif %}

            <b>     Schedule for {{ weekday }}, {{ date.strftime('%Y-%m-%d') }}     </b>
            {% if nextday == today %}
            <a href="/user/{{ user.userid }}/">Next Day</a>
            {% else %}
            <a href="/user/{{ user.userid }}/date/{{ nextday }}/">Next Day</a>
            {% endif %}

        </caption>
        <!--Start of the table for group allocations for this day-->
        <tr>
            <th>Time</th>
            <th>Name</th>
            {% if date > today %}
            <th>Options</th>
            {% endif %}
            {% if user.isconductor == 1 %}
            <th>Conductor</th>
            {% endif %}
            <th>Instrument</th>
            <th>Location</th>
        </tr>
        {% for p in periods %}
        <tr>
            <!--Time Column-->
            <td>
                {% if p.ismusical == 1 %}
                <a href="/user/{{ user.userid }}/period/{{ p.periodid }}/">{{ p.starttime.strftime('%H:%M') }} - {{ p.endtime.strftime('%H:%M') }}</a>

                {% else %}
                {{ p.starttime.strftime('%H:%M') }} - {{ p.endtime.strftime('%H:%M') }}
                {% endif %}
            </td>
            <!--Group Name Column-->
            <td>
                {% if not p.groupname %}
                    {{ p.periodname }}
                    
                    {% else %}{% if p.ismusical == 1 %}
                        <a href="/user/{{ user.userid }}/group/{{ p.groupid }}/">{{ p.groupname }}</a>
                        {% else %}{% if p.groupname == "absent" %}
                            ABSENT
                            {% else %}
                                {{ p.groupname }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
            <!--Options Column - only appears if looking at a future date-->
            {% if date > today %}
                <td>
                {% if not p.groupname or p.iseveryone %}
                    <button id={{ p.periodid }} data-periodname="{{ p.periodname }}" class="absent_request_button">Mark me as absent</button>
                    {% else %}
                        {% if p.groupname == "absent" %}
                        <button id={{ p.periodid }} data-periodname="{{ p.periodname }}" class="absent_cancel_button">Mark me as present</button>
                        {% else %}
                            Allocated
                    {% endif %}
                {% endif %}
                </td>
            {% endif %}
            <!--Conductor Column - only appears if the user is a conductor-->
            {% if user.isconductor == 1 %}
            <td>
                <a href="/user/{{ user.userid }}/grouprequest/conductor/{{ p.periodid }}/">CONDUCTOR: Create a group here</a>
            </td>
            {% endif %}
            <td>{{ p.instrument }}</td>
            <td>{{ p.locationname }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Your Options</h2>
    <p><a href="/user/{{ user.userid }}/grouprequest/">Request a group</a></p>    

    {% if user.isconductor == 1 %}
    <p><a href="/user/{{ user.userid }}/grouprequest/conductor/">Elevated Conductor request a group</a></p> 
    {% endif %}

    <p><a href="mailto:{{ supportemailaddress }}">Bugs? Feedback? Complaints? Send an email to camp admin my clicking here!</a></p>
</body>
</html>