<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1">
<html>
<head>
    <link rel="stylesheet" href='/static/css/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>if (!window.jQuery) { document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>'); }</script>
    <title>{{ campname }} Group Display</title>
</head>

<body>
    <h1>Listing for group {{ thisgroup.groupname }}</h1>
    <p><a href="/user/{{ thisuser.userid }}/">Back to dashboard</a></p>
    {% if thisuser.isadmin == 1 %}
    <p><a href="/user/{{ thisuser.userid }}/group/{{ thisgroup.groupid }}/edit/">ADMIN: Edit Group</a></p>
    {% endif %}
    <table style="width:30%">
        <tr>
            <th>Name</th>
            <td>{{ thisgroup.groupname }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ thisgroup.status }}</td>
        </tr>
        <tr>
            <th>Music</th>
            <td>{{ thisgroup.music }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>
                {% if period == None %}
                Not yet allocated
                {% else %}
                {{ period.starttime.strftime('%A, %Y-%m-%d') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Time</th>
            <td>
                {% if period == None %}
                Not yet allocated
                {% else %}
                {{ period.starttime.strftime('%H:%M') }} - {{ period.endtime.strftime('%H:%M') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {% if thislocation == None %}
                Not yet allocated
                {% else %}
                {{ thislocation.locationname }}
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <table style="width:100%">
        <caption>Players in {{ thisgroup.groupname }}</caption>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
        </tr>
        {% for p in players %}
        <tr>
            <td>{{ p.firstname }}</td>
            <td>{{ p.lastname }}</td>
            <td>{{ p.instrumentname }}</td>
        </tr>
        {% endfor %}

    </table>
    <a href="/user/{{ thisuser.userid }}/">Back to dashboard</a>
    {% if substitutes %}
    <p>
        If you can not make this group, it is your responsibility to find a substitute and notify them.
        The following people are not playing in a group at this time and may be able to substitute.
    </p>
    <table style="width:100%">
        <caption>Possible Substitutes for {{ thisgroup.groupname }}</caption>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
        </tr>
        {% for s in substitutes %}
        <tr>
            <td>{{ s.firstname }}</td>
            <td>{{ s.lastname }}</td>
            <td>{{ s.instrumentname }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/user/{{ thisuser.userid }}/">Back to dashboard</a>
    {% endif %}
</body>
</html>