<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1">
<html>
<head>
    <link rel="stylesheet" href='/static/css/style.css' />
    <title>{{ campname }} Group Display</title>
</head>
<body>
    <h1>Listing for group {{ group.groupname }}</h1>
    <table style="width:30%">
        <tr>
            <td>Name</td>
            <td>{{ group.groupname }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ period.starttime.strftime('%Y-%m-%d') }}</td>
        </tr>
        <tr>
            <td>Start Time</td>
            <td>{{ period.starttime.strftime('%H:%M') }}</td>
        </tr>
        <tr>
            <td>End Time</td>
            <td>{{ period.endtime.strftime('%H:%M') }}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ group.locationname }}</td>
        </tr>
    </table>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    <br>
    <table style="width:100%">
        <caption>Players in {{ group.groupname }}</caption>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
        </tr>
        {% for p in players %}
        <tr>
            <td>{{ p.firstname }}</td>
            <td>{{ p.lastname }}</td>
            <td>{{ p.instrument }}</td>
        </tr>
        {% endfor %}

    </table>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    <p>
        If you can not make this group, it is your responsibility to find a substitute and notify them.
        The following people are not playing in a group at this time and may be able to substitute.
    </p>
    <table style="width:100%">
        <caption>Possible Substitutes for {{ group.groupname }}</caption>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
        </tr>
        {% for s in substitutes %}
        <tr>
            <td>{{ s.firstname }}</td>
            <td>{{ s.lastname }}</td>
            <td>{{ s.instrument }}</td>
        </tr>
        {% endfor %}
        
    </table>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
</body>
</html>