<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href='/css/style.css'>
    <title>{{ campname }} Group Editor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>if (!window.jQuery) { document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>'); }</script>
    <script>

        $(document).ready(function () {

            //turn the dump of all players available in this period to a JS object
            {% if playersdump_serialized == [] %}
            var playersdump = null;
            {% else %}
            var playersdump = {{ playersdump_serialized|tojson }};
            {% endif %}
            console.log("Available Players:");
            console.log(playersdump);
            
            //turn the dump of all players already playing in this group to a JS object
            {% if thisgroupplayers_serialized == [] %}
            var thisgroupplayers = null;
            {% else %}
            var thisgroupplayers = {{ thisgroupplayers_serialized|tojson }};
            {% endif %}
            console.log("Players already playing in this group:");
            console.log(thisgroupplayers);

            //changes all player dropdowns to match the players already playing in the group. 
            //Sets the players to bold in their respective dropdowns.
            instrumentcounter = {}
            if (thisgroupplayers != null) {
                for (var i = 0; i < thisgroupplayers.length; i++) {
                    if (instrumentcounter[thisgroupplayers[i].instrumentname] == null) {
                        instrumentcounter[thisgroupplayers[i].instrumentname] = 0;
                    }
                    $("#" + thisgroupplayers[i].instrumentname + "_" + instrumentcounter[thisgroupplayers[i].instrumentname]).val(thisgroupplayers[i].userid).change();
                    $("#" + thisgroupplayers[i].instrumentname + "_" + instrumentcounter[thisgroupplayers[i].instrumentname] + " option:selected").css("font-weight","Bold");
                    instrumentcounter[thisgroupplayers[i].instrumentname]++;

                };
            }

            //this function updates the table slot containing the total number of players in the group.
            function updatetotal() {
                var sum = 0;
                $('.instrumentnumber_dropdown').each(function() {
                    sum += Number($(this).val());
                });
                $("#total_players").html(sum).change();
            }
            
            //when the page loads for the first time, update the total
            updatetotal();
            
            //adds a player dropdown to a given cell
            function addPlayer(cell) {
                instrument = cell.attr('data-instrument')
                var sel = ($('<select class="player_dropdown" data-instrument="' + instrument + '">')).appendTo(cell);
                sel.append($("<option>").attr('value',""));
                for (var i = 0; i < playersdump.length; i++) {
                    if (playersdump[i].instrumentname == instrument) {
                        sel.append($("<option>").attr('value',playersdump[i].userid).text(playersdump[i].grade + ' - ' + playersdump[i].firstname + ' ' + playersdump[i].lastname));
                    }
                }
            }

            //removes the last player dropdown in a cell
            function removePlayer(cell) {
                dropdowns = jQuery(cell).find('.player_dropdown')
                dropdowns[dropdowns.length - 1].remove()
            }

            //when user changes any instrument number drop down boxes
            $(document).on("change", '.instrumentnumber_dropdown', function () {
                updatetotal();
                thisinstrument = $(this).attr('data-instrument');
                playerscell = $('.players_cell[data-instrument="' + thisinstrument + '"]');
                difference = $(this).val() - $('.player_dropdown[data-instrument="' + thisinstrument + '"]').length;
                console.log('Need to add ' + difference + ' dropdowns');
                if (difference > 0) {
                    for (i=0; i < difference; i++) {
                        addPlayer(playerscell);
                    }
                }
                if (difference < 0) {
                    for (i=0; i > difference; i--) {
                        removePlayer(playerscell);
                    }
                } 
            });

            //when user changes the period dropdown box, reload the page with data from the new period
            $(document).on("change", '#periodid', function () {
                console.log('User selected period ' + $(this).val() + ', reloading page for that period');
                window.location = '/user/{{ thisuser.userid }}/group/{{ thisgroup.groupid }}/period/' + $(this).val() + '/edit/';
            });

            //run when user changes the content of a player dropdown
            $(document).on("change", '.player_dropdown', function (e) {
                //grab value that was selected on the dropdown
                var selectedplayer = $(this).val();
                //only run the code if it's the original event to prevent recursion (this function would go infinite otherwise)
                if (e.originalEvent) {
                    //for each other drop down box
                    $('.player_dropdown').not(this).each(function() {
                        //set any other boxes with the same player name to blank
                        if ($(this).val() == selectedplayer) {
                            $(this).val("").change();
                        }
                    });
                }
                ////NOT USED - keeping just in case. code doesn't work, but is the makings of the "available players" column after all the dropdowns.
                ////In each "Available Players" cell
                //$('.available_players').each(function() {
                //    thisinstrument = $(this).attr('id')
                //    //iterate through the whole list of players
                //    for (var i = 0; i < playersdump.length; i++) {
                //        //and for each player who plays this instrument
                //        if (playersdump[i].instrumentname == thisinstrument) {
                //            alreadyfound = false;
                //            $('.player_dropdown').each(function() {
                //                //if they are already set to playing in this group
                //                if ($(this).val() != playersdump[i].userid) {
                //                    //don't write their name
                //                    console.log('Already found player in dropdowns ' + playersdump[i].firstname + ' ' + playersdump[i].lastname)
                //                    alreadyfound = true;
                //                    return false
                //                }
                //            });
                //            if (alreadyfound == false) {
                //                console.log('Player not found in dropdowns, adding text to cell ' + playersdump[i].firstname + ' ' + playersdump[i].lastname)
                //                if ($(this).html() == '') {
                //                    $(this).html(playersdump[i].firstname + ' ' + playersdump[i].lastname)
                //                }
                //                else {
                //                    $(this).html().append(playersdump[i].firstname + ' ' + playersdump[i].lastname)
                //                }
                //            }
                //        }
                //    }
                //});
            });

            //when user presses submit button (either with or without autofill)
            $(".submit_button").click(function () {
                console.log('Submit button pressed');
                //establish the object we'll send to the server
                var request = {}

                //check if this was the autofill button or not, and add this information to the object
                if ($(this).attr('id') == 'submit_with_autofill') { request.autofill = '1' }
                else { request.autofill = '0' }

                //for each group_attribute dropdown on the page, add the value to the object
                $('.group_attribute').each(function() {
                    request[$(this).attr('id')] = $(this).val();
                });

                $('.instrumentnumber_dropdown').each(function() {
                    request[$(this).data('instrument')] = $(this).val();
                });

                //establish an array to fill with player and instruments
                request.players = []
                $('.player_dropdown').each(function() {
                    //create a new object
                    var iplayer = {};
                    //add the contents of the instrument dropdown to the object
                    iplayer.instrumentname = $(this).data('instrument');
                    iplayer.userid = $(this).val();
                    //push the player object to the players array in the request object
                    request.players.push(iplayer);
                });

                console.log('Sending the following to the server:');
                console.log(request);
                $.ajax({
                    //make a POST AJAX query to the same web page as the user is currently visiting
                    url: ('/user/{{ thisuser.userid }}/group/{{ thisgroup.groupid }}/edit/'),
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(request, null),
                    success: function(data) {
                        //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                        console.log(data);
                        if (data.message != 'none') {
                            confirm(data.message);
                        }
                        if (data.url != 'none') {
                            window.location = data.url;
                        }
                    }
                });
            });

            //when user presses the delete group button
            $("#delete_button").click(function () {
                console.log('Delete button pressed');
                $.ajax({
                    //make a POST AJAX query to the same web page as the user is currently visiting
                    url: (window.location.href),
                    type: 'DELETE',
                    success: function(data) {
                        //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                        console.log(data);
                        if (data.message != 'none') {
                            confirm(data.message);
                        }
                        if (data.url != 'none') {
                            window.location = data.url;
                        }
                    }
                });
            });
        });
    </script>
</head>

<body>


    <div class="w3-top">
        <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
            <li><a href="#" class="w3-theme-l1">&#34;{{ thisgroup.groupname }}&#34; Editor</a></li>
            <li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/" class="w3-hover-white">Dashboard</a></li>
        </ul>
    </div>

    <div class="w3-row">
        <div class="w3-container">

            <h2>Group Configuration</h2>
            <table style="width:100%">
                <tr>
                    <th>Attribute</th>
                    <th>Current</th>
                    <th>Change</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ thisgroup.groupname }}</td>
                    <td><input type="text" id="groupname" class="group_attribute" value="{{ thisgroup.groupname }}"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ thisgroup.status }}</td>
                    <td>
                        <select id="status" class="group_attribute">
                            {% if thisgroup.status == "Confirmed" %}
                            <option value="Queued">Queued</option>
                            <option value="Confirmed" selected="selected">Confirmed</option>
                            {% else %}
                            <option value="Queued" selected="selected">Queued</option>
                            <option value="Confirmed">Confirmed</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Music</th>
                    <td>{{ thisgroup.music }}</td>
                    <td><input type="text" id="music" class="group_attribute" value="{{ thisgroup.music }}"></td>
                </tr>
                <tr>
                    <th>Period</th>
                    <td>
                        {% if currentperiod != None %}
                        {{ currentperiod.periodname }}, {{ currentperiod.starttime.strftime('%A, %Y-%m-%d') }}, {{ currentperiod.starttime.strftime('%H:%M') }}-{{ currentperiod.endtime.strftime('%H:%M') }}
                    </td>
                    {% endif %}
                    <td>
                        <select id="periodid" class="group_attribute">
                            <option value=""></option>
                            {% for p in periods %}
                            {% if p.periodid == selectedperiod.periodid %}
                            <option value="{{ p.periodid }}" selected="selected">{{ p.periodname }}, {{ p.starttime.strftime('%A, %Y-%m-%d') }}, {{ p.starttime.strftime('%H:%M') }}-{{ p.endtime.strftime('%H:%M') }}</option>
                            {% else %}
                            <option value="{{ p.periodid }}">{{ p.periodname }}, {{ p.starttime.strftime('%A, %Y-%m-%d') }}, {{ p.starttime.strftime('%H:%M') }}-{{ p.endtime.strftime('%H:%M') }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        WARNING: changing this will refresh this page
                    </td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ thislocation.locationname }}</td>
                    <td>
                        <select id="locationid" class="group_attribute">
                            <option value=""></option>
                            {% for l in locations %}
                            {% if l.locationid == thislocation.locationid %}
                            <option value="{{ l.locationid }}" selected="selected">{{ l.locationname }} - Max Capacity: {{ l.capacity }}</option>
                            {% else %}
                            <option value="{{ l.locationid }}">{{ l.locationname}} - Max Capacity: {{ l.capacity }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Minimum Level</th>
                    <td>{{ thisgroup.minimumlevel }}</td>
                    <td>
                        <select id="minimumlevel" class="group_attribute">
                            <option value="">Auto</option>
                            {% for n in range(maximumlevel + 1) %}
                            {% if n == thisgroup.minimumlevel %}
                            <option value="{{ n }}" selected="selected">{{ n }}</option>
                            {% else %}
                            <option value="{{ n }}">{{ n }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Counted towards play totals</th>
                    <td>
                        {% if thisgroup.ismusical == 0 %}No
                        {% else %}Yes
                        {% endif %}
                    </td>
                    <td>
                        <select id="ismusical" class="group_attribute">
                            {% if thisgroup.ismusical == 0 %}
                            <option value="1">Yes</option>
                            <option value="0" selected="selected">No</option>
                            {% else %}
                            <option value="1" selected="selected">Yes</option>
                            <option value="0">No</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Requested User</th>
                    <td colspan="2">{{ thisgroup.requesteduserid }}</td>
                </tr>
                <tr>
                    <th>Request Time</th>
                    <td colspan="2">{{ thisgroup.requesttime.strftime('%A, %Y-%m-%d') }}, {{ thisgroup.requesttime.strftime('%H:%M') }}</td>
                </tr>
                <tr>
                    <th>Total Players:</th>
                    <td colspan="2" id="total_players"></td>
                </tr>
            </table>
            <h2>Players</h2>
            <p>Players bolded in the below table are the current players in that group. Player are shown with their grades on the respective instruments before their names.</p>
            <table class="sortable" id="table_players">
                <tr>
                    <th>Instrument</th>
                    <th>Number</th>
                    <th>Current Players</th>
                    <!--<th>Available Players</th>-->
                </tr>
                {% set count = 0 -%}
                {% for i in instrumentlist %}
                <tr id="row_{{ i }}">
                    <td>{{ i }}</td>
                    <td>
                        <select class="instrumentnumber_dropdown" id="number_{{ i }}" data-instrument="{{i}}">
                            {% set n = 21 %}
                            {% for n in range(n) %}
                            {% if n == thisgroup[i] %}
                            <option value="{{ n }}" selected="selected">{{ n }}</option>
                            {% else %}
                            <option value="{{ n }}">{{ n }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td class="players_cell" data-instrument="{{i}}">
                        {% if thisgroup[i] %}
                        {% for p in range(thisgroup[i]) %}
                        <select class="player_dropdown" id="{{i}}_{{p}}" data-instrument="{{i}}">
                            <option value=""></option>
                            {% for d in playersdump %}
                            {% if d.instrumentname == i %}
                            <option value="{{ d.userid }}">{{ d.grade }} - {{ d.firstname }} {{ d.lastname }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <!-- <td class="available_players" data-instrument="{{i}}"></td> -->
                </tr>
                {% endfor %}
            </table>
            <p><button class="submit_button" id="submit_with_autofill">Submit Changes and auto-fill missing players</button></p>
            <p><button class="submit_button" id="submit_without_autofill">Submit Changes without auto-fill</button></p>
            <p><button id="delete_button">Delete Group</button></p>
        </div>
        </div>

</body>
</html>