<meta name="viewport" content="initial-scale=1">
<html>
<head>
    <link rel="stylesheet" href='/static/css/style.css' />
    <title>{{ campname }} Request a Group</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>
        $(document).ready(function () {
            var players = {{ playersdump_serialized|tojson }};
            var grouptemplates = {{ grouptemplates_serialized|tojson }};
            var thisuserinstruments = {{ thisuserinstruments_serialized|tojson }};
            console.log("Grouptemplates:");
            console.log(grouptemplates);
            console.log("Instruments played by this user:");
            console.log(thisuserinstruments);
            //get the user's primary instrument
            var primaryinstrument = thisuserinstruments.filter(function( obj ) {
                return obj.isprimary == 1;
            })[0].instrumentname;
            console.log('Primary instrument is: ' + primaryinstrument);
            function addRow() {
                $('#playersTable tr:last').after('\
                        <tr>\
                            <td>\
                                <select class="instrument_dropdown" id="instrument' + $('.instrument_dropdown').length + '" data-pairing="' + $('.instrument_dropdown').length + '">\
                                    <option value=""></option>\
                                    {% for i in instrumentlist %}<option value="{{ i }}">{{ i }}</option>{% endfor %}\
                                </select>\
                            </td>\
                            <td>\
                                <select class="player_dropdown" id="player' + $('.instrument_dropdown').length + '" data-pairing="' + $('.instrument_dropdown').length + '">\
                                    <option value=""></option>\
                                </select>\
                            </td>\
                        </tr>');
            }

            $(document).on("change", '.instrument_dropdown', function () {
                // grab value
                var selectedinstrument = $(this).val();

                // add values to list 
                var listItems = "<option value='null'></option>";
                for (var i = 0; i < players.length; i++) {
                    if (players[i].instrumentname == selectedinstrument) {
                        listItems += "<option value='" + players[i].userid + "'>" + players[i].firstname + " " + players[i].lastname + "</option>";
                    };
                };
                console.log(listItems)
                console.log('Setting ' + this.id + ' to ' + selectedinstrument)
                $("#player" + $(this).data("pairing")).html(listItems);
            });
            //UNFINISHED - halfway through writing this template application code. Can't get the values to change in the dropdown...
            //also need to handle testing template for actually having the users instruments in it, and making the user one of the
            //members of the group.
            $("#apply_template").click(function () {
                //remove all rows excapt for the first row in the table (first row contains the user and respective instruments they play)
                $("#playersTable").find("tr:gt(1)").remove();
                //get the user selected template and format it so we can iterate over it later
                var grep_template = $.grep(grouptemplates, function (elt) {
                    return elt.grouptemplatename === $(group_template_dropdown).val();
                });
                selectedTemplate = grep_template[0];
                console.log('Selected template is:');
                console.log(selectedTemplate);

                var foundprimary = false

                //check if the user's primary instrument is in this group. if it is, set it.
                $.each(selectedTemplate, function(key,value){
                    if ((key == primaryinstrument) && (value > 0)) {
                        console.log('found that the users primary instrument is in this group. Key: ' + key);
                        var foundprimary = true;
                        console.log('Changing the associated user instrument to ' + key);
                        $('#instrument0').val(key).change();
                    }
                });
                //if the user's primary instrument is not in the group, find an instrument that is, and set it.
                if (foundprimary == false) {
                    console.log('Found the users primary instrument is not in the requested group. Iterating through the users instruments to see which one matches this group');
                    $.each(selectedTemplate, function(key,value){
                        for (var x = 1; x <= value; x++) {
                            //get the first instrument that this user plays that matches this instrument
                            matchinginstrument = thisuserinstruments.filter(function(obj){return obj.instrumentname == key;})[0]
                            if (matchinginstrument) {
                                console.log('found this user plays intsrument ' + matchinginstrument.instrumentname + ' which matches instrument in group ' + key);
                                console.log('setting this user instrument to ' + key)
                                $('#instrument0').val(key).change();
                            }
                        }
                    });
                }

                //for each instrument type in the group template
                $.each(selectedTemplate, function(key,value){
                    //make sure it's an instrument type and not other associated metadata
                    if ( (key == 'Conductor' || key == 'Flute' || key == 'Oboe' || key == 'Clarinet' || key == 'Bassoon' ||
                        key == 'Horn' || key == 'Trumpet' || key == 'Trombone' || key == 'Tuba' || key == 'Percussion' ||
                        key == 'Piano' || key == 'Violin' || key == 'Viola' || key == 'Cello' || key == 'DoubleBass') 
                        && (value > 0) && (key != $("#instrument0").val()) ) {
                        console.log(key + ": "+String(value));
                        for (var i = 0; i < thisuserinstruments.length; i++) {
                            addRow();
                            var thisinstrumentdropdown = '#instrument' + String($('.instrument_dropdown').length - 1)
                            console.log(thisinstrumentdropdown)
                            $(thisinstrumentdropdown).val(key).change();
                            console.log('attempted to change instrument dropdown with id ' + thisinstrumentdropdown + ' and resolved id ' + $(thisinstrumentdropdown).attr('id') + ' to ' + key);
                        }
                    }
                });
            });

            $("#add_player").click(function () {
                event.preventDefault();
                if ($('.instrument_dropdown').length < {{ playerlimit }}) {
                    addRow()
                };
             });

            $("#remove_player").click(function () {
                if ($('.instrument_dropdown').length > 1) {
                    $('#playersTable tr:last').remove();                    
                }
            });
            /*
            $("#submit_button").click(function () {
                var request_json = {}
                request_json.music = $('#textbox_music').val();
                for (var i = 0; i < $('.instrument_dropdown').length; i++) {
                //    request_json.music
                };

                
                
                console.log($('form#group_request_form').serialize());
                
                
                
                $.ajax({
                    url: ('/user/' + {{ user.userid }} + '/grouprequest/'),
                        type: 'post',
                        dataType: 'application/json',
                        data: $('form#group_request_form').serialize(),
                        success: function(data) {
                            var r = confirm("Success!" + data);
                            }
                    });
            });
            */
        });
    </script>
</head>

<body>
    <h1>Request a Group</h1>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    <p>Use this page to request a group. You can request a group of up to {{ playerlimit }} people. Only the 
    instrumentation is required, all other fields are optional and will be autofilled if left blank.</p>
    <p>For example, if you want to play in a wind quintet, but don't care who you play with, just select the instrumentation
    for a wind quintet (or use the template), ensure you're playing the instrument you want to play, then click "Submit", 
    leaving all other player names empty. You'll be matched up with other players automatically!</p>
    Optional: Select a group template to autofill the page
    <select id="group_template_dropdown">
        <option value=""></option>
        {% for g in grouptemplates %}
        <option value="{{ g.grouptemplatename }}">{{ g.grouptemplatename }}</option>
        {% endfor %}
    </select>
    <button id="apply_template">Apply</button>
    <br />
    Optional: What music will be played?<input type="text" id="textbox_music">
    <br /><br />
    <table id="playersTable">
        <!--Table Headers-->
        <tr>
            <th>Instrument</th>
            <th>Player Name</th>
        </tr>
        <tr>
            <!--Instrument Column-->
            <td>
                <select class="instrument_dropdown" id="instrument0" data-pairing="0">
                    {% for i in thisuserinstruments %}
                    <option value="{{ i.instrumentname }}">{{ i.instrumentname }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
        </tr>
        <tr>
            <!--Player Name Column-->
            <td>
                <select class="instrument_dropdown" id="instrument1" data-pairing="1">
                    <option value=""></option>
                    {% for i in instrumentlist %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="player_dropdown" id="player1" data-pairing="1">
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </table>
    <button id="add_player">Add a Player</button>
    <button id="remove_player">Remove a Player</button>
    <br />
    <br />
    <button id="sumbit_button">Submit</button>
    <br />
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
</body>
</html>