<meta name="viewport" content="initial-scale=1">
<html>
<head>
    <link rel="stylesheet" href='/static/css/style.css' />
    <title>{{ campname }} Request a Group</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>
        $(document).ready(function () {
            var players = {{ playersdump_serialized|tojson }};
            var grouptemplates = {{ grouptemplates_serialized|tojson }}
            console.log(players);
            console.log(grouptemplates)
            
            $(document).on("change", '.instrument_dropdown', function () {
                // grab value
                var selectedinstrument = $(this).val();
                console.log(selectedinstrument)
                // add values to list 
                var listItems = "<option value='null'></option>";
                for (var i = 0; i < players.length; i++) {
                    if (players[i].instrumentname == selectedinstrument) {
                        listItems += "<option value='" + players[i].userid + "'>" + players[i].firstname + " " + players[i].lastname + "</option>";
                    };
                };
                console.log(listItems)
                $("#player" + $(this).data("pairing")).html(listItems);
            });

            $("#add_player").click(function () {
                event.preventDefault();
                boxNumber = $('.instrument_dropdown').length
                console.log(boxNumber)
                if (boxNumber < {{ playerlimit }}) {
                    $('#playersTable tr:last').after('\
                        <tr>\
                            <td>\
                                <select class="instrument_dropdown" id="instrument' + boxNumber + '" data-pairing="' + boxNumber + '">\
                                    <option value=""></option>\
                                    {% for i in instrumentlist %}<option value="{{ i }}">{{ i }}</option>{% endfor %}\
                                </select>\
                            </td>\
                            <td>\
                                <select class="player_dropdown" id="player' + boxNumber + '" data-pairing="' + boxNumber + '">\
                                    <option value=""></option>\
                                </select>\
                            </td>\
                        </tr>');
                };
             });

            $("#remove_player").click(function () {
                if ($('.instrument_dropdown').length > 1) {
                    $('#playersTable tr:last').remove();
                }
            });

            $("#submit_button").click(function () {
                var request_json = {}
                request_json.music = $('#textbox_music').val();
                for (var i = 0; i < $('.instrument_dropdown').length; i++) {
                    request_json.music
                };

                
                
                console.log($('form#group_request_form').serialize());
                
                
                
                $.ajax({
                    url: ('/user/' + {{ user.userid }} + '/grouprequest/'),
                        type: 'post',
                        dataType: 'application/json',
                        data: $('form#group_request_form').serialize(),
                        success: function(data) {
                            var r = confirm("Success!" + data);
                            }
                    });
            });
        });
    </script>
</head>

<body>
    <h1>Request a Group</h1>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    <p>Use this page to request a group. You can request a group of up to {{ playerlimit }} people. Only the 
    instrumentation is required, all other fields are optional and will be autofilled if left blank.</p>
    <p>For example, if you want to play in a wind quintet, but don't care who you play with, just select the instrumentation
    for a wind quintet (or use the template), ensure you're playing the instrument you want to play, then click "Submit", 
    leaving all other player names empty. You'll be matched up with other players automatically!</p>
    Optional: Select a group template to autofill the page
    <select id="group_template_dropdown">
        <option value=""></option>
        {% for g in grouptemplates %}
        <option value="{{ g.grouptemplatename }}">{{ g.grouptemplatename }}</option>
        {% endfor %}
    </select>
    <button id="apply_template">Apply</button>
    Optional: What music will be played?<input type="text" id="textbox_music">
    <br /><br />
    <table id="playersTable">
        <!--Table Headers-->
        <tr>
            <th>Instrument</th>
            <th>Player Name</th>
        </tr>
        <tr>
            <!--Instrument Column-->
            <td>
                <select class="instrument_dropdown" id="instrument0" data-pairing="0">
                    {% for i in thisuserinstruments %}
                    <option value="{{ i.instrumentname }}">{{ i.instrumentname }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
        </tr>
        <tr>
            <!--Player Name Column-->
            <td>
                <select class="instrument_dropdown" id="instrument1" data-pairing="1">
                    <option value=""></option>
                    {% for i in instrumentlist %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="player_dropdown" id="player1" data-pairing="1">
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </table>
    <button id="add_player">Add a Player</button>
    <button id="remove_player">Remove a Player</button>
    <br />
    <br />
    <button id="sumbit_button">Submit</button>
    <br />
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
</body>
</html>