<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1">
<html>
<head>
    <link rel="stylesheet" href='/static/css/style.css' />
    <title>{{ campname }} Group Display</title>
</head>
<body>
    <h1>Listing for group {{ group.groupname }}</h1>
    <table style="width:30%">
        <tr>
            <th>Name</th>
            <td>{{ group.groupname }}</td>
        </tr>
        <tr>
            <th>Music</th>
            <td>{{ group.music }}</td>
        </tr>
        <tr>
            <th>Date</th>            
            <td>
                {% if period == None %}
                    Not yet allocated
                {% else %}
                    {{ period.starttime.strftime('%A, %Y-%m-%d') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Time</th>
            <td>
                {% if period == None %}
                    Not yet allocated
                {% else %}
                    {{ period.starttime.strftime('%H:%M') }} - {{ period.endtime.strftime('%H:%M') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ group.locationname }}</td>
        </tr>
    </table>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    <br>
    <table style="width:100%">
        <caption>Players in {{ group.groupname }}</caption>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
        </tr>
        {% for p in players %}
        <tr>
            <td>{{ p.firstname }}</td>
            <td>{{ p.lastname }}</td>
            <td>{{ p.instrument }}</td>
        </tr>
        {% endfor %}

    </table>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    {% if substitutes %}
    <p>
        If you can not make this group, it is your responsibility to find a substitute and notify them.
        The following people are not playing in a group at this time and may be able to substitute.
    </p>
    <table style="width:100%">
        <caption>Possible Substitutes for {{ group.groupname }}</caption>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Instrument</th>
        </tr>
        {% for s in substitutes %}
        <tr>
            <td>{{ s.firstname }}</td>
            <td>{{ s.lastname }}</td>
            <td>{{ s.instrumentname }}</td>
        </tr>
        {% endfor %}        
    </table>
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    {% endif %}
</body>
</html>