<meta name="viewport" content="initial-scale=1">
<html>
<head>
    
    <link rel="stylesheet" href='/static/css/style.css' />
    <title>{{ campname }} Request a Group</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>
        /* this script handles all user interaction in the group request page. Upon page load, it downloads all players
        in the camp including the instruments they play, all templates as stated by the config.xml, and the instruments
        this user plays. it uses all of this data to populate drop-down boxes, depending on what the user selects. */
        $(document).ready(function () {
            
            //these first few variables set up the rest of the script
            var players = {{ playersdump_serialized|tojson }};
            var grouptemplates = {{ grouptemplates_serialized|tojson }};
            var thisuserinstruments = {{ thisuserinstruments_serialized|tojson }};
            console.log("Grouptemplates:");
            console.log(grouptemplates);
            console.log("Instruments played by this user:");
            console.log(thisuserinstruments);
            
            //get the user's primary instrument
            var primaryinstrument = thisuserinstruments.filter(function( obj ) { return obj.isprimary == 1; })[0].instrumentname;
            console.log('Primary instrument is: ' + primaryinstrument);

            //create a variable to keep track of the IDs of the rows, used in the addRow() function.
            var rowId = 2;
            //this function is called by a few other functions in this script, and adds another table row with appropriate
            //drop down boxes in each cell. Every row's boxes have unique identifiers, because it increments each time it runs.
            function addRow() {
                $('#playersTable tr:last').after('\
                        <tr>\
                            <td>\
                                <select class="instrument_dropdown" id="instrument' + rowId + '" data-pairing="' + rowId + '">\
                                    <option value=""></option>\
                                    {% for i in instrumentlist %}<option value="{{ i }}">{{ i }}</option>{% endfor %}\
                                </select>\
                            </td>\
                            <td>\
                                <select class="player_dropdown" id="player' + rowId + '" data-pairing="' + rowId + '">\
                                    <option value=""></option>\
                                </select>\
                            </td>\
                            <td>\
                                <button class="remove_player" id="remove_player' + rowId + '" data-pairing="' + rowId + '">X</button>\
                                </select>\
                            </td>\
                        </tr>');
                rowId = rowId + 1;
            }

            //run when user (or javascript) changes the content of an instrument dropdown. Populates the corresponding
            //player dropdown with people that play that instrument that are not the current user.
            $(document).on("change", '.instrument_dropdown', function () {
                //grab value that was selected on the dropdown
                var selectedinstrument = $(this).val();

                // add values to list 
                var listItems = "<option value='null'></option>";
                for (var i = 0; i < players.length; i++) {
                    if (players[i].instrumentname == selectedinstrument) {
                        listItems += "<option value='" + players[i].userid + "'>" + players[i].firstname + " " + players[i].lastname + "</option>";
                    };
                };
                console.log(listItems)
                console.log('Setting ' + this.id + ' to ' + selectedinstrument)
                $("#player" + $(this).data("pairing")).html(listItems);
            });

            //run when user changes the content of a player dropdown. checks for other dropdown boxes that contain the
            //name of the player that was selected and removes them.
            $(document).on("change", '.player_dropdown', function (e) {
                //grab value that was selected on the dropdown
                var selectedplayer = $(this).val();
                //only run the code if it's the original event to prevent recursion (this function would go infinite otherwise)
                if (e.originalEvent) {
                    $('.player_dropdown').not(this).each(function() {
                        if ($(this).val() == selectedplayer) {
                            $(this).val("").change();
                        }
                    });
                }                
            });

            //run when a user clicks the "apply" button after selecting a template.
            $("#apply_template").click(function () {
                //remove all rows excapt for the first row in the table (first row contains the user and respective instruments they play)
                $("#playersTable").find("tr:gt(1)").remove();
                //get the user selected template and format it so we can iterate over it later
                var grep_template = $.grep(grouptemplates, function (elt) {
                    return elt.grouptemplatename === $(group_template_dropdown).val();
                });
                selectedTemplate = grep_template[0];
                console.log('Selected template is:');
                console.log(selectedTemplate);

                var foundprimary = false

                //check if the user's primary instrument is in this group. if it is, set it.
                $.each(selectedTemplate, function(key,value){
                    if ((key == primaryinstrument) && (value > 0)) {
                        console.log('found that the users primary instrument is in this group. Key: ' + key);
                        var foundprimary = true;
                        console.log('Changing the associated user instrument to ' + key);
                        $('#instrument0').val(key).change();
                    }
                });
                //if the user's primary instrument is not in the group, find an instrument that is, and set it.
                if (foundprimary == false) {
                    console.log('Found the users primary instrument is not in the requested group. Iterating through the users instruments to see which one matches this group');
                    $.each(selectedTemplate, function(key,value){
                        for (var x = 1; x <= value; x++) {
                            //get the first instrument that this user plays that matches this instrument
                            matchinginstrument = thisuserinstruments.filter(function(obj){return obj.instrumentname == key;})[0]
                            if (matchinginstrument) {
                                console.log('found this user plays intsrument ' + matchinginstrument.instrumentname + ' which matches instrument in group ' + key);
                                console.log('setting this user instrument to ' + key)
                                $('#instrument0').val(key).change();
                                break;
                            }
                        }
                    });
                }

                //for each instrument type in the group template
                $.each(selectedTemplate, function(key,value){
                    //make sure it's an instrument type and not other associated metadata
                    if (key != 'grouptemplateid' && key != 'grouptemplatename' && key != 'size' && value > 0) {
                        console.log(key + ": "+String(value));
                        //if the current instrument we're looking at is the same as the one that we selected for the user, decrement it because we already have one player
                        if (key == $("#instrument0").val()) { value = value - 1; }
                        if (value > 0) {
                            for (var i = 0; i < value; i++) {
                                addRow();
                                var thisinstrumentdropdown = '#instrument' + String(rowId - 1);
                                console.log(thisinstrumentdropdown)
                                $(thisinstrumentdropdown).val(key).change();
                                console.log('attempted to change instrument dropdown with id ' + thisinstrumentdropdown + ' and resolved id ' + $(thisinstrumentdropdown).attr('id') + ' to ' + key);
                            }
                        }
                        
                    }
                });
            });
            //run when user attempts to add another player row to the table
            $("#add_player").click(function () {
                event.preventDefault();
                if ($('.instrument_dropdown').length < {{ playerlimit }}) {
                    console.log('Adding a player as requested by user');
                    addRow()
                };
             });

            //run when user attempts to remove a player row from the table
            $(document).on('click', ".remove_player", function() {
                console.log('Removing player as requested by user');
                $(this).parents('tr').remove();
            });

            //run when user clicks the submit button
            $("#submit_button").click(function () {
                console.log('Submit button pressed');
                //set up a variable to track invalid configuration and the JSON to send through to the server
                var invalidConfig = false
                var request = {};
                //add the music name and minimum level to the JSON. Establish an array to contain the player names
                request.music = $('#textbox_music').val();
                request.minimumlevel = $('#level_dropdown').val();
                request.players = []
                var i = 0
                $('.instrument_dropdown').each(function() {
                    if ($(this).val() == "") {
                        alert("Sumbission failed. Every instrument must be filled in! Make sure there are no empty boxes under the Instrument column. Empty boxes under the player names are ok though!");
                        invalidConfig = true;
                        return 'error';
                    }
                    var iplayer = {};
                    iplayer.instrumentname = $(this).val();
                    if ($(this).data("pairing") == 0) {
                        iplayer.playerid = "{{ user.userid }}";
                    }
                    else {
                        iplayer.playerid = $("#player" + $(this).data("pairing")).val();
                    }
                    
                    request.players.push(iplayer);
                    i = i + 1
                });
                console.log('Pushing the following object to the server for processing:')
                console.log(JSON.stringify(request))
                
                if (invalidConfig == false) {
                    $.ajax({
                        url: ('/user/{{ user.userid }}/grouprequest/'),
                        type: 'POST',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify(request, null),
                        success: function(data) {
                            var r = confirm(data);
                            console.log(data);
                            window.location = '/user/{{ user.userid }}';
                        }
                    });
                }
                
             });
        });
    </script>
</head>

<body>
    {% if conductorpage %}
    <h1>Conductor: Group Creation</h1>
    <p>Creating a group for {{ thisperiod.periodname }} on {{ thisperiod.starttime.strftime('%A, %Y-%m-%d') }} at {{ thisperiod.starttime.strftime('%H:%M') }} - {{ thisperiod.endtime.strftime('%H:%M') }}</p>
    {% else %}
    <h1>Request a Group</h1>
    {% endif %}
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
    
    {% if conductorpage %}
        <p>
            This is a conductor group creation page. With great power comes great responsibility. Any group creation you make
            here is instantly in the system, with no further approval. This is intended to be for either allocation of babysitters 
            or other jobs, or other special groups. This is not intended to be where you request large groups, visit the 
            <a href="/user/{{ user.userid }}/largegroupinstrumentation/">Large Group Instrumentation Page</a> instead. 
            You cannot leave any blank fields on the table on this page.
        </p>
    {% endif %}

    {% if not conductorpage %}
    <p>
        Use this page to request a group. You can request a group of up to {{ playerlimit }} people. Only the
        instrumentation is required, all other fields are optional and will be autofilled if left blank.
    </p>
    <p>
        For example, if you want to play in a wind quintet, but don't care who you play with, just select the instrumentation
        for a wind quintet (or use the template), ensure you're playing the instrument you want to play, then click "Submit",
        leaving all other player names empty. You'll be matched up with other players automatically!
    </p>
    {% endif %}
    <p>
        Optional: Select a group template to autofill the page
        <select id="group_template_dropdown">
            <option value=""></option>
            {% for g in grouptemplates %}
            <option value="{{ g.grouptemplatename }}">{{ g.grouptemplatename }}</option>
            {% endfor %}
        </select>
        <button id="apply_template">Apply</button>
    </p>
    <p>Optional: What music will be played?<input type="text" id="textbox_music"></p>
    {% if not conductorpage %}
    <p>
        Minimum level of auto-selected players in this group:
        <select id="level_dropdown">
            <option value=""></option>
            {% for l in levels %}
            <option value="{{ l }}">{{ l }}</option>
            {% endfor %}
        </select>
    </p>
    {% endif %}
    <table id="playersTable">
        <!--Table Headers-->
        <tr>
            <th>Instrument</th>
            <th>Player Name</th>
        </tr>
        <tr>
            <!--Instrument Column-->
            <td>
                <select class="instrument_dropdown" id="instrument0" data-pairing="0">
                    {% for i in thisuserinstruments %}
                    <option value="{{ i.instrumentname }}">{{ i.instrumentname }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
        </tr>
        <tr>
            <!--Player Name Column-->
            <td>
                <select class="instrument_dropdown" id="instrument1" data-pairing="1">
                    <option value=""></option>
                    {% for i in instrumentlist %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="player_dropdown" id="player1" data-pairing="1">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <button class="remove_player" id="remove_player1" data-pairing="1">X</button>
            </td>
        </tr>
    </table>
    <button id="add_player">Add a Player</button>

    <br />
    <br />
    <button id="submit_button">Submit</button>
    <br />
    <a href="/user/{{ user.userid }}/">Back to dashboard</a>
</body>
</html>