<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1">
<html>
<head>
    <link rel="stylesheet" href='/static/css/style.css' />
    <title>{{ campname }} Group Display</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>
        $(document).ready(function () {

            //these first few variables set up the rest of the script
            var players = {{ playersdump_serialized|tojson }};
            console.log("Players:");
            console.log(players);

            $("#delete_button").click(function () {
                console.log('Delete button pressed');
                $.ajax({
                    //make a POST AJAX query to the same web page as the user is currently visiting
                    url: (window.location.href),
                    type: 'DELETE',
                    success: function(data) {
                        //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                        console.log(data);
                        confirm(data.message)
                        window.location = data.url;
                    }
                });
            });
        });
    </script>
</head>

<body>
    <h1>Editing group &#34;{{ thisgroup.groupname }}&#34;</h1>
    <p><a href="/user/{{ thisuser.userid }}/">Back to dashboard</a></p>
    <h2>Group Configuration</h2>
    <table style="width:100%">
        <tr>
            <th>Attribute</th>
            <th>Current</th>
            <th>Change</th>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ thisgroup.groupname }}</td>
            <td><input type="text" id="groupname" value="{{ thisgroup.groupname }}"></td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ thisgroup.status }}</td>
            <td>
                <select id="status">
                {% if thisgroup.status == "Confirmed" %}
                    <option value="Queued">Queued</option>
                    <option  value="Confirmed">Confirmed</option>
                {% else %}
                    <option  value="Queued">Queued</option>
                    <option value="Confirmed">Confirmed</option>
                {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Music</th>
            <td>{{ thisgroup.music }}</td>
            <td><input type="text" id="music" value="{{ thisgroup.music }}"></td>
        </tr>
        <tr>
            <th>Period</th>
            <td>
                {% if period != None %}
                {{ period.periodname }}, {{ period.starttime.strftime('%A, %Y-%m-%d') }}, {{ period.starttime.strftime('%H:%M') }}-{{ period.endtime.strftime('%H:%M') }}</td>
                {% endif %}
            <td>
                <select id="period">
                    <option value=""></option>
                    {% for p in periods %}
                    {% if p.periodid == period.periodid %}
                    <option value="{{ p.periodid }}" selected="selected">{{ p.periodname }}, {{ p.starttime.strftime('%A, %Y-%m-%d') }}, {{ p.starttime.strftime('%H:%M') }}-{{ p.endtime.strftime('%H:%M') }}</option>
                    {% else %}
                    <option value="{{ p.periodid }}">{{ p.periodname }}, {{ p.starttime.strftime('%A, %Y-%m-%d') }}, {{ p.starttime.strftime('%H:%M') }}-{{ p.endtime.strftime('%H:%M') }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ thislocation.locationname }}</td>
            <td>
                <select id="location">
                    <option value=""></option>
                    {% for l in locations %}
                    {% if l.locationid == thislocation.locationid %}
                    <option value="{{ l.locationid }}" selected="selected">{{ l.locationname }} - Max Capacity: {{ l.capacity }}</option>
                    {% else %}
                    <option value="{{ l.locationid }}">{{ l.locationname}} - Max Capacity: {{ l.capacity }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Minimum Level</th>
            <td>{{ thisgroup.minimumlevel }}</td>
            <td>
                <select class="attribute_dropdown" id="minimumlevel_dropdown">
                    {% set n = 7 %}
                    {% for n in range(n) %}
                    {% if n == thisgroup.minimumlevel %}
                    <option value="{{ n }}" selected="selected">{{ n }}</option>
                    {% else %}
                    <option value="{{ n }}">{{ n }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Requested User</th>
            <td colspan="2">{{ thisgroup.requesteduserid }}</tdcolspan="2">
        </tr>
        <tr>
            <th>Request Time</th>
            <td colspan="2">{{ thisgroup.requesttime.strftime('%A, %Y-%m-%d') }}, {{ thisgroup.requesttime.strftime('%H:%M') }}</td>
        </tr>
     </table>
    <h2>Players</h2>
    <table class="sortable" id="table_players">
        <tr>
            <th>Instrument</th>
            <th>Number</th>
            <th>Players</th>
        </tr>
        {% set count = 0 -%}
        {% for i in instrumentlist %}
        <tr>
            <td>{{ i }}</td>
            <td>
                <select class="instrumentnumber_dropdown" id="number_{{ i }}">
                    {% set n = 21 %}
                    {% for n in range(n) %}
                    {% if n == thisgroup[i] %}
                    <option value="{{ n }}" selected="selected">{{ n }}</option>
                    {% else %}
                    <option value="{{ n }}">{{ n }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                {% for p in range( thisgroup[i]) %}
                <select class="player_dropdown" data-instrument="{{ i }}">
                    <option value=""></option>
                    {% for d in playersdump %}
                    {% if d.instrumentname == i %}
                    <option value="{{ d.userid }}">{{ d.firstname }} {{ d.lastname }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button id="autofill_button">Auto-fill Players for this Instrumentation</button>
    <p><button id="submit_button">Submit Changes</button></p>
    <p><button id="delete_button">Delete Group</button></p>
    <p><a href="/user/{{ thisuser.userid }}/">Back to dashboard</a></p>

    <p>Current Group Players are:</p>
    {% for p in thisgroupplayers %}
    {{ p.firstname }} {{ p.lastname }} {{ p.instrument }}<br/>
    {% endfor %}
</body>
</html>