html, body, h1, h2, h3, h4, h5, h6, select, option {
    font-family: "Roboto", sans-serif;
}
.w3-navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
}
td, th {
    border: 1px solid #999;
}
body {
    padding-top: 60px;
}
table {
    border-collapse: collapse;
}
.zebra-table tr:nth-child(odd) {
    background: #eee;
}