<!DOCTYPE html>
<html height="100%">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css" media="screen">
    <link rel="stylesheet" href="/css/w3-theme-black.css" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
    <!-- Favicon and shortcut icon links/metas -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ favicon }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ favicon }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ favicon }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ favicon }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ favicon }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ favicon }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ favicon }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ favicon }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ favicon }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ favicon }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ favicon }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ favicon }}/favicon-16x16.png">
    <link rel="manifest" href="{{ favicon }}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ favicon }}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="{{ campname }}">
    <meta name="application-name" content="{{ campname }}">

    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>if (!window.jQuery) { document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>'); }</script>
    <script src="/js/jquery.tablesorter.min.js"></script>
    <!-- Scripts that apply to all pages -->
    <script>
        

        //functions dealing with setting and getting cookies
        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return false;
        }

        //this function 'toasts' the user with a message on the bottom of the screen
        function toast(message,category) {
            console.log('Toasting with ' + message)
            $('#toast').html(message).change();
            if (category != 'message') {
                $('#toast').addClass(category);
            }
            $('#toast').addClass('show');
            // After 3 seconds, remove the show class from DIV
            setTimeout(function(){ $('#toast').removeClass('show'); }, 3000);
        }

        var isClicked = false;

        function sendtoserver(request, method, url) {

            //this function handles AJAX sending to the server
            $.ajax({
                //make a POST AJAX query to the same web page as the user is currently visiting
                url: (url),
                type: method,
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(request, null),
                success: function(data, textStatus) {
                    //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                    console.log('Server returned ' + textStatus)
                    if (data.message != 'none') {
                        alert(data.message);
                        isClicked = false;
                    }

                    if (data.url != 'none') {
                        if (data.url == 'refresh') {
                            location.reload()
                        }
                        else {
                            window.location = data.url;
                        }
                    }
                    else {
                        $('.spin_icon').hide();
                        $('.save_icon').show();
                        isClicked = false;
                    }

                    if (data.url == 'none' && data.message == 'none') {
                        toast('Changes Saved','success');
                    }

                    return data;
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log('Server returned ' + textStatus)
                    $('.spin_icon').hide();
                    $('.save_icon').show();
                    alert('Submission failed with error: ' + errorThrown);
                    isClicked = false;
                    return 'error';
                },
            });
        }

        //function to be used by the submit button. called by the template.
        //all form objects must have the form-attribute class, and their ids must match class attributes on the server
        function buildrequest() {

            var request = {};
            //for each item marked form-attribute, add its value to the request
            $('.form-attribute').each(function () {
                request[$(this).attr('id')] = $(this).val();
            });

            //establish an array under request to deal with a group of objects. This will:
            //1. cycle through every object with the class form-object-master and grab its data-mapping id
            //2. cycle through this and every other object with that data-mapping and add its value to the object, bound to its data-key for each value's key
            //3. push the resulting object to the request object
            request.objects = []
            //for each dropdown contiaining the instrument names
            $('.form-object-master').each(function () {

                //check its validity
                validity = true;
                
                //if it's a checkbox, don't do anything if it's unchecked
                if (false == $(this).prop("checked") && $(this).attr("type") == 'checkbox') {
                    console.log('Found an unchecked checkbox');
                    validity = false;
                }

                    //if it's a dropdown or input, don't do anything if it's not set to anything
                else if ($(this).val() == 'null' || $(this).val() == '' || $(this).val() == 'None') {
                    console.log('Found an empty dropdown or textbox');
                    validity = false;
                }

                //if it's valid, add it to the object
                foundkey = false;
                if (validity == true) {
                    //create a variable to dump this instrument's data into
                    var ob = {};
                    $('[data-mapping=' + $(this).data('mapping') + ']').each(function () {
                        if ($(this).val() != 'null' && $(this).val() != '' && $(this).val() != 'None') {
                            foundkey = true;
                            console.log('Found ' + $(this).data('key') + ' to be ' + $(this).val());
                            ob[$(this).data('key')] = $(this).val();
                        }
                    });
                    //push its variable into the request.objects array if it contains data
                    if (foundkey = true) {
                        console.log('Pushing ob to request:');
                        console.log(ob);
                        request.objects.push(ob);
                    }
                }
            });
            return request
        }

        //iterate through all of the objects on the page requiring validation, and run the page's specific validation fuction on each.
        function validate_all() {
            var valid = true;
            $('.form-validate').each(function () {
                //if the object is good, clear the red border
                if (validate($(this))) {
                    $(this).removeClass("w3-border-red");
                }
                    //if the object is bad, give it a red border
                else {
                    $(this).addClass("w3-border-red");
                    valid = false;
                }
            });
            //if there are no bad objects, and this page has something to submit, show the submit button
            if (valid == true && ($('.form-attribute')[0] || $('.form-object-master')[0])) {
                $(".submit_hide").show();
            }
                //if there is at least one bad object, hide the submit button
            else {
                $(".submit_hide").hide();
            }
        }

        $(document).ready(function () {

            $('.spin_icon').hide();

            //try to validate the form at the start, and whenever anything is changed. If valid, show the submit buttons.
            //form-validate: these are the elements that get tested against the validation function inside the child template
            //form-attribute: these trigger the validation checks, and get sent to the server when submit is pressed
            try {
                validate_all();
            }
            catch (err) {
                console.log('Did not find validate function on this page.');
            }
            
            $(document).on("keyup keydown change", '.form-attribute, .form-object-master, .form-validate', function () {
                validate_all();
            });

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        toast('{{ message }}','{{ category }}');
                    {% endfor %}
                {% endif %}
            {% endwith %}

            // add parser for score order through the tablesorter addParser method
            $.tablesorter.addParser({
                // set a unique id
                id: 'scoreorder',
                is: function (s) {
                    // return false so this parser is not auto detected
                    return false;
                },
                format: function (s) {
                    // format your data for normalization
                    return s{% for i in instrumentlist %}.replace(/{{ i }}/, {{ loop.index }}){% endfor %};
                },
                // set type, either numeric or text
                type: 'numeric'
            });

            //every page that needs to submit data uses this function. This only works if the page has an element with:
            //class="submit_button"
            //data-method="POST" (or "DELETE")
            //optional: data-submittype="Whatever you like" this is used to pass extra info about the button type to the server
            $(".submit_button").click(function () {
                if (!isClicked) {
                    isClicked = true;
                    console.log('Submit button pressed with method ' + $(this).data('method'));
                    //hide the save and submit icons, show the spinning circle
                    $('.save_icon').hide();
                    $('.spin_icon').show();

                    if ($(this).data('method') == 'DELETE') {
                        var r = confirm('Are you sure you want to delete?');
                        if (r == true) {
                            sendtoserver($(this).attr('id'),'DELETE');
                        }
                        else {
                            $('.spin_icon').hide();
                            $('.save_icon').show();
                            isClicked = false;
                        }
                    }
                    else {
                        //This function relies on a buildrequest function. Every page needs its own in its own script.
                        var request = buildrequest()

                        if ($(this).data('submittype') != '' || $(this).data('submittype') != null) {
                            request.submittype = $(this).data('submittype');
                        }
                        if ($(this).data('url') != '' || $(this).data('url') != null) {
                            url = $(this).data('url');
                        }
                        else { url = window.location.href }

                        console.log('Pushing the request to the server for processing:');
                        console.log(request);
                        data = sendtoserver(request, $(this).data('method'), url);
                        }
                    }
                w3_close();
            });

            $(".protip_close").click(function () {
                $(this).parent().slideUp();
                setCookie($(this).parent().attr('id'), 'clicked', 365);
            });
            

            $('.protip').each(function () {
                if (!getCookie($(this).attr('id')) || getCookie($(this).attr('id')) != 'clicked') {
                    $(this).show();
                }
            });

        });

    </script>
    <!-- Scripts that apply to single pages are inserted here -->
    {% block head %}{% endblock %}
</head>
<body height="100%">
    <div id="toast"></div>
    <!-- Navbar -->
    <div class="w3-top no-print" id="navbar">
        <ul class="w3-navbar w3-black w3-top w3-left-align w3-large" id="navcontents">
            <li class="w3-opennav w3-left w3-hide-large">
                <a class="w3-hover-white w3-large" href="javascript:void(0)" onclick="w3_open()" style="padding:12px 12px !important;"><i class="fa fa-bars"></i></a>
            </li>
            <li class="w3-opennav w3-left"><a href="/user/{{ thisuser.logonid }}/" class="w3-hover-white w3-large" style="padding:12px 8px !important;"><i class="fa fa-home"></i></a></li>
            {% if thisuser.isactive == 1 %}
            <li class="w3-opennav w3-left"><a href="/user/{{ thisuser.logonid }}/grouprequest/" class="w3-hover-white w3-large" style="padding:12px 8px !important;"><i class="fa fa-music"></i></a></li>
            <li class="w3-opennav w3-left"><a href="/user/{{ thisuser.logonid }}/musiclibrary/" class="w3-hover-white w3-large" style="padding:12px 8px !important;"><i class="fa fa-book"></i></a></li>
            <li class="w3-opennav w3-left"><a href="/user/{{ thisuser.logonid }}/grouphistory/" class="w3-hover-white w3-large" style="padding:12px 8px !important;"><i class="fa fa-history"></i></a></li>
            {% endif %}
            {% if thisuser.isannouncer == 1 %}
            <li class="w3-opennav w3-left"><a href="/user/{{ thisuser.logonid }}/announcement/" class="w3-hover-white w3-large" style="padding:12px 8px !important;"><i class="fa fa-comment"></i></a></li>
            {% endif %}
            {% if thisuser.isadmin == 1 %}
            <li class="w3-opennav w3-left"><a href="/user/{{ thisuser.logonid }}/groupscheduler/" class="w3-hover-white w3-large" style="padding:12px 8px !important;"><i class="fa fa-ellipsis-h"></i></a></li>
            <li class="w3-opennav w3-left"><a href="/user/{{ thisuser.logonid }}/useradmin/" class="w3-hover-white w3-large" style="padding:12px 8px !important;"><i class="fa fa-universal-access"></i></a></li>
            {% endif %}
            {% block navbar%}{% endblock %}
            <!-- Specific page breadcrumbs/title pages go here -->
            {% block breadcrumbs %}{% endblock %}
        </ul>
    </div>

    

    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


    <!-- Sidenav -->
    <nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left no-print" style="z-index:3;width:250px;padding-bottom:80px" id="mySidenav">

        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
        <i class="fa fa-remove"></i>
        </a>
        <h4><b>{{ thisuser.firstname }} {{ thisuser.lastname }}</b></h4>
    
        <!-- Specific page sidenav points go here -->
        {% block sidenav %}{% endblock %}
        <h4><b>Navigation</b></h4>
        <a href="/user/{{ thisuser.logonid }}/" class="w3-hover-black"><i class="fa fa-home"></i> Home</a>
        {% if thisuser.isactive == 1 %}
        <a href="/user/{{ thisuser.logonid }}/grouprequest/" class="w3-hover-black"><i class="fa fa-music"></i> Request a group</a>
        <a href="/user/{{ thisuser.logonid }}/musiclibrary/" class="w3-hover-black"><i class="fa fa-book"></i> Music Library</a>
        {% endif %}
        <a href="/user/{{ thisuser.logonid }}/grouphistory/" class="w3-hover-black"><i class="fa fa-history"></i> Group History</a>
        <a href="mailto:{{ supportemailaddress }}" class="w3-hover-black"><i class="fa fa-envelope"></i> Contact Support</a>
        {% if thisuser.isannouncer == 1 %}
        <h4><b>Announcer</b></h4>
        <a href="/user/{{ thisuser.logonid }}/announcement/" class="w3-hover-black"><i class="fa fa-comment"></i> Announcement Editor</a>
        {% endif %}
        {% if thisuser.isadmin == 1 %}
        <h4><b>Admin</b></h4>
        <a href="/user/{{ thisuser.logonid }}/groupscheduler/" class="w3-hover-black"><i class="fa fa-ellipsis-h"></i> Group Scheduler</a>
        <a href="/user/{{ thisuser.logonid }}/useradmin/" class="w3-hover-black"><i class="fa fa-universal-access"></i> User Administration</a>
        <a href="/user/{{ thisuser.logonid }}/catering/" class="w3-hover-black"><i class="fa fa-utensils"></i> Catering</a>
        <a class="accordion" href="javascript:void(0)">
            Database Editor <i class="fa fa-caret-down w3-right"></i>
        </a>
        <div id="editor" class="w3-accordion-content w3-card-4 panel">
            <a href="/user/{{ thisuser.logonid }}/setup/" class="w3-hover-black"><i class="fa fa-wrench"></i> Initial Setup</a>
            <a href="/user/{{ thisuser.logonid }}/objecteditor/grouptemplate/" class="w3-hover-black">Group Templates</a>
            <a href="/user/{{ thisuser.logonid }}/objecteditor/location/" class="w3-hover-black">Locations</a>
            <a href="/user/{{ thisuser.logonid }}/objecteditor/period/" class="w3-hover-black">Periods</a>
            <a href="/user/{{ thisuser.logonid }}/objecteditor/music/" class="w3-hover-black">Musics</a>
            <a href="/user/{{ thisuser.logonid }}/objecteditor/group/" class="w3-hover-black">Groups</a>
        </div>
        {% endif %}
    </nav>



    <!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
    <div id="main-content">
            {% block content %}{% endblock %}
        {% block footer %}
        <!-- Footer -->
        <div class="w3-bottom">
            <ul class="w3-navbar w3-theme w3-animate-bottom w3-left-align w3-large submit_hide">
                <li><a href="javascript:void(0)" class="w3-hover-white submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-notch fa-spin spin_icon"></i> Submit</a></li>
            </ul>
        </div>
        {% endblock %}
    </div>
    <script>
        // Get the Sidenav
        var mySidenav = document.getElementById("mySidenav");
        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");
        // Toggle between showing and hiding the sidenav, and add overlay effect
        function w3_open() {
            if (mySidenav.style.display === 'block') {
                mySidenav.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidenav.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }
        // Close the sidenav with the close button
        function w3_close() {
            mySidenav.style.display = "none";
            overlayBg.style.display = "none";
        }

        /* Toggle between adding and removing the "active" and "show" classes when the user clicks on one of the accordion buttons. The "active" class is used to add a background color to the current button when its belonging panel is open. The "show" class is used to open the specific accordion panel */
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                this.classList.toggle("active");
                $(this).next().slideToggle('fast');
            }
        }

    </script>
</body>
</html>