{% extends "layout.html" %}
{% block title %}New Music - {{ campname }}{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if (ob.val() == '') {
            return false;
        }
        else {
            return true;
        }
    }

    $(document).ready(function () {

        var grouptemplates = {{ grouptemplates_serialized|tojson }};
        console.log("Grouptemplates:");
        console.log(grouptemplates);

        var instrumentlist_string = '{{ instrumentlist_string }}';
        var isClicked = false;

        //run when a user changes the select template dropdown
        $(document).on("click change", '.template', function (e) {
            //get the user selected template and format it so we can iterate over it later
            var ob = $(this);
            console.log('User is attempting to apply ' + ob.attr('id'));
            var grep_template = $.grep(grouptemplates, function (elt) {
                return String(elt.grouptemplateid) === String(ob.attr('id'));
            });
            w3_close();

            selectedTemplate = grep_template[0];
            console.log('Selected template is:');
            console.log(selectedTemplate);

            //for each instrument type in the group template
            $.each(selectedTemplate, function(key,value){

                if (instrumentlist_string.split(',').indexOf(key) > -1) {
                    console.log(key + ": "+String(value));
                    $('#' + key).val(0).change();
                    if (value > 0) {
                        $('#' + key).val(value).change();
                    }
                }
            });
            toast('Applied ' + ob.html(),'message');
        });

        //apply a template when the music dropdown or a template button is pressed
        $(document).on("change", '.music_dropdown', function (e) {
            e.preventDefault();
            applyTemplate($(this));
        });

        //apply a template when the music dropdown or a template button is pressed
        $(document).on("click", '.group_template_button', function (e) {
            e.preventDefault();
            applyTemplate($(this));
        });

        //if a template is selected, reapply it when the user changes their instrument
        $(document).on("change", '#first_instrument_dropdown', function (e) {
            if (e.originalEvent) {
                var requestInst = $('#first_instrument_dropdown').val();
                console.log('User changed their instrument to ' + requestInst)
                if ($('#musicid').val() != '') {
                    applyTemplate($('#musicid'));
                }
            }
        });
    });

</script>
{% endblock %}
{% block breadcrumbs %}
{% if conductorpage %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.logonid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="/user/{{ thisuser.logonid }}/period/{{ thisperiod.periodid }}/" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
<li class="w3-hide-small w3-hide-medium"><a href="#" class="w3-hover-white">Create a Group</a></li>
{% else %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">New Music</a></li>
{% endif %}
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    <h4><b>Save</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
            <h2>Add Music to the Library</h2>
            <div class="w3-card-4">
                <header class="w3-container w3-dark-gray">
                    <h3>Step 1: Fill in the Details</h3>
                </header>
                <div class="w3-container">
                    <div id="newmusic_protip_details" class="w3-panel w3-blue protip" hidden="hidden">
                        <span class="w3-closebtn protip_close">&times;</span>
                        <h3>Pro tip!</h3>
                        <p>You're on a page that allows you to add your own music to the library. Adding your music to the library allows all other campers to see it, and you should expect them to come to you to ask for it if they book it out.</p>
                    </div> 
                    <p>
                        <label>Composer</label>
                        <input type="text" placeholder="Example: Beethoven" class="form-attribute form-validate w3-input w3-border" id="composer">
                    </p>
                    <p>
                        <label>Name of Work</label>
                        <input type="text" placeholder="Example: Septet op. 20" class="form-attribute form-validate w3-input w3-border" id="musicname">
                    </p>
                    <p>
                        <label>Optional: Description</label>
                        <input type="text" placeholder="Example: Very hard string parts. Wind parts are comfortably university level." class="form-attribute w3-input w3-border" id="description">
                    </p>
                    <p>
                        <label>Optional: URL to sheet music, eg. IMSLP</label>
                        <input type="text" placeholder="Optional" class="form-attribute w3-input w3-border" id="link">
                    </p>
                    <input type="hidden" class="form-attribute" id="source" value="{{thisuser.firstname}} {{thisuser.lastname}}">
                </div>
            </div>
        </div>
    <br />
    <div class="w3-container">
        <div class="w3-card-4">
            <header class="w3-container w3-dark-gray">
                <h3>Step 2: Instrumentation</h3>
            </header>
            <div class="w3-container">
                <p>
                    <div class="w3-dropdown-hover">
                        <button class="w3-btn-block w3-white w3-border">Optional: Apply a Template</button>
                        <div class="w3-dropdown-content w3-border">
                            {% for g in grouptemplates %}
                            <button id="{{ g.grouptemplateid }}" class="template w3-btn-block w3-white w3-border">{{ g.grouptemplatename }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </p>
                <div id="playersDiv">
                    <table id="playersTable" class="w3-table border-table">
                        <thead>
                            <tr class="w3-light-gray">
                                <th>Instrument</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody id="playersTableBody">
                            {% for i in instrumentlist %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>
                                    <select class="instrumentnumber_dropdown form-attribute form-validate w3-select w3-border" id="{{ i }}">
                                        {% set n = 21 %}
                                        {% for n in range(n) %}
                                        <option value="{{ n }}">{{ n }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="submit_hide">
        <br />
        <div class="w3-container">
            <div class="w3-card-4">
                <header class="w3-container w3-dark-gray">
                    <h3>Step 3: <a href="javascript:void(0)" class="submit_button w3-btn w3-black w3-hover-white w3-border w3-round-large" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a></h3>
                </header>
                <div class="w3-container">
                    <p>Once you're done press submit!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
