{% extends "layout.html" %}
{% block title%}Period Details - {{ campname }}{% endblock %}
{% block head %}
<script>
    $(document).ready(function () {
        $(function () {
            $(".tablesorter").tablesorter({
                emptyTo: 'bottom',
                sortList: [[3, 1], [1, 0], [0, 0]],
                headers: {
                    1: {
                        sorter: 'scoreorder',
                    },
                },
            });
        });
    });
</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.logonid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="#" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
        <h2>{{ thisperiod.periodname }}</h2>
        <table class="w3-table">
            <tr>
                <th>Date</th>
                <td>{{thisperiod.starttime.strftime('%A %d %b')}}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ thisperiod.starttime.strftime('%H:%M') }}-{{ thisperiod.endtime.strftime('%H:%M') }}</td>
            </tr>
        </table>
        <br />
        {% if publicevents[0] != None %}
        {% for e in publicevents %}
        <div class="w3-container w3-indigo">
            <h3>Public Event</h3>
            <p>
                <table class="w3-table">
                    <tr>
                        <th>Event Name</th>
                        <td><a href="/user/{{ thisuser.logonid }}/group/{{ e.groupid }}">{{ e.groupname }}</a></td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{e.locationname}}</td>
                    </tr>
                    <tr>
                        <th>Attendees</th>
                        <td>{{ players|length + unallocatedplayers|length + nonplayers|length }}</td>
                    </tr>
                </table>
                {% if e.groupdescription != None %}
                <br />{{ e.groupdescription }}
                {% endif %}
            </p>
        </div> 
        <br />
        {% endfor %}
        {% endif %}
        <table style="width:100%" class="tablesorter border-table">
            <thead>
                <tr class="dark-row">
                    <th>Name</th>
                    <th><div class="w3-hide-small no-print">Instrument</div><div class="w3-hide-medium w3-hide-large">Inst.</div></th>
                    <th>Group</th>
                    <th><div class="w3-hide-small no-print">Location</div><div class="w3-hide-medium w3-hide-large">Loc.</div></th>
                </tr>
            </thead>
            <tbody class="zebra-table">
                {% for p in players %}
                <tr>
                    <td>{{ p.firstname }} {{ p.lastname }}</td>
                    <td>{{ p.instrumentname }}</td>
                    <td><a href="/user/{{ thisuser.logonid }}/group/{{ p.groupid }}/">{{ p.groupname }}</a></td>
                    <td>{{ p.locationname }}</td>
                </tr>
                {% endfor %}
                {% for p in unallocatedplayers %}
                <tr>
                    <td>{{ p.firstname }} {{ p.lastname }}</td>
                    <td>{{ p.instrumentname }}</td>
                    <td>{{ p.groupname }}</td>
                    <td>{{ p.locationname }}</td>
                </tr>
                {% endfor %}
                {% for p in nonplayers %}
                <tr>
                    <td>{{ p.firstname }} {{ p.lastname }}</td>
                    <td>{{ p.instrumentname }}</td>
                    <td>{{ p.groupname }}</td>
                    <td>{{ p.locationname }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
