{% extends "layout.html" %}
{% block title%}Period Details - {{ campname }}{% endblock %}
{% block head %}
<script>
    $(document).ready(function () {
        $(function () {
            {% if thisperiod.meal == 1 %}
                $(".tablesorter").tablesorter({});
            {% else %}
            $(".tablesorter").tablesorter({
                emptyTo: 'bottom',
                sortList: [[3, 1], [1, 0], [0, 0]],
                headers: {
                    1: {
                        sorter: 'scoreorder',
                    },
                },
            });
            {% endif %}
        });
    });
</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.logonid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="#" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
{% endblock %}
{% block navbar %}
    {% if thisuser.isadmin == 1 %}
    <li class="w3-opennav w3-right">
        <a href="/user/{{ thisuser.logonid }}/group/new/period/{{ thisperiod.periodid }}/edit/" class="w3-hover-white w3-theme-l1"><i class="fa fa-plus"></i></a>
    </li>
    {% endif %}
{% endblock %}
{% block sidenav %}
    {% if thisuser.isadmin == 1 %}
        <h4><b>Tools</b></h4>
        <a href="/user/{{ thisuser.logonid }}/group/new/period/{{ thisperiod.periodid }}/edit/" class="w3-hover-black"><i class="fa fa-plus"></i> Create New Group</a>
    {% endif %}
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
        <div class="flex-container">
            <a class="w3-btn w3-hover-black w3-white w3-border w3-round-large" href="/user/{{ thisuser.logonid }}/period/{{ previousperiod.periodid }}/"><i class="fa fa-chevron-left"></i></a>
            <h2>{{ thisperiod.periodname }}</h2>
            <a class="w3-btn w3-hover-black w3-white w3-border w3-round-large" href="/user/{{ thisuser.logonid }}/period/{{ nextperiod.periodid }}/"><i class="fa fa-chevron-right"></i></a>
        </div>
        <table class="w3-table">
            <tr>
                <th>Date</th>
                <td><a href="/user/{{ thisuser.logonid }}/date/{{ thisperiod.starttime.strftime('%Y-%m-%d') }}/">{{thisperiod.starttime.strftime('%A %d %b')}}</a></td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ thisperiod.starttime.strftime('%H:%M') }}-{{ thisperiod.endtime.strftime('%H:%M') }}</td>
            </tr>
        </table>
        <br />
        {% if publicevents[0] != None %}
        {% for e in publicevents %}
        <div class="w3-container w3-indigo">
            <h3>Public Event</h3>
            <p>
                <table class="w3-table">
                    <tr>
                        <th>Event Name</th>
                        <td><a href="/user/{{ thisuser.logonid }}/group/{{ e.groupid }}">{{ e.groupname }}</a></td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{e.locationname}}</td>
                    </tr>
                    <tr>
                        <th>Attendees</th>
                        <td>{{ players|length + unallocatedplayers|length + nonplayers|length }}</td>
                    </tr>
                </table>
                {% if thisperiod.meal == 1 %}
                <h5><a href="/user/{{ thisuser.logonid }}/catering/">Catering</a></h5>
                <table class="w3-table tablesorter">
                    <thead>
                        <th>Age</th>
                        <th>Diet</th>
                        <th>Count</th>
                    </thead>
                    <tbody>
                        {% for total in mealstats.totals.byDietaryRequirement %}
                        <tr>
                            <td>{{ total.agecategory }}</td>
                            <td>{{ total.dietaryrequirements }}</td>
                            <td>{{ total.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if e.groupdescription != None %}
                <br />{{ e.groupdescription }}
                {% endif %}
            </p>
        </div> 
        <br />
        {% endfor %}
        {% endif %}
        <table style="width:100%" class="tablesorter border-table">
            <thead>
                <tr class="dark-row">
                    <th>Name</th>
                    {% if thisperiod.meal == 1 %}
                        <th>Age</th>
                        <th>Diet</th>
                    {% else %}
                        <th><div class="w3-hide-small no-print">Instrument</div><div class="w3-hide-medium w3-hide-large">Inst.</div></th>
                        <th>Group</th>
                        <th><div class="w3-hide-small no-print">Location</div><div class="w3-hide-medium w3-hide-large">Loc.</div></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody class="zebra-table">
                {% for p in players %}
                <tr>
                    <td>{{ p.firstname }} {{ p.lastname }}</td>
                    {% if thisperiod.meal == 1 %}
                        <td>Age</td>
                        <td>Diet</td>
                    {% else %}
                        <td>{{ p.instrumentname }}</td>
                        <td><a href="/user/{{ thisuser.logonid }}/group/{{ p.groupid }}/">{{ p.groupname }}</a></td>
                        <td>{{ p.locationname }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for p in unallocatedplayers %}
                <tr>
                    <td>{{ p.firstname }} {{ p.lastname }}</td>
                    {% if thisperiod.meal == 1 %}
                        <td>{{ p.agecategory }}</td>
                        <td>{{ p.dietaryrequirements }}</td>
                    {% else %}
                        <td>{{ p.instrumentname }}</td>
                        <td>{{ p.groupname }}</td>
                        <td>{{ p.locationname }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% for p in nonplayers %}
                <tr>
                    <td>{{ p.firstname }} {{ p.lastname }}</td>
                    {% if thisperiod.meal == 1 %}
                        <td>{{ p.agecategory }}</td>
                        <td>{{ p.dietaryrequirements }}</td>
                    {% else %}
                        <td>{{ p.instrumentname }}</td>
                        <td>{{ p.groupname }}</td>
                        <td>{{ p.locationname }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
