{% extends "layout.html" %}
{% block title %}User Administration - {{ campname }}{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if ($('.checkbox:checked').length > 0) {
            return true
        }
        else {
            return false
        }
    }

    $(document).on("keyup", '#search', function () {
        $('.searchable').each(function () {
            var words = $('#search').val().toUpperCase().split(" ");
            for (var i = 0; i < words.length; i++) {
                if ($(this).data('search').toUpperCase().indexOf(words[i].toUpperCase()) != -1) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                    break;
                }
            }
            $('#number').val($('tr:visible').length - 1).change();
        });
    });

    $(document).ready(function () {

        $('#number').val($('tr:visible').length - 1).change();

        $(function () {
            $(".tablesorter").tablesorter({
                headers: {
                    4: {
                        sorter: 'scoreorder',
                    },
                },
            });
        });

        //select all checkboxes
        $("#select_all").change(function () {  //"select all" change
            $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('.checkbox').change(function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkbox:checked').length == $('.checkbox').length) {
                $("#select_all").prop('checked', true);
            }
        });
    });

</script>
{% endblock %}
{% block navbar %}
<li class="w3-opennav w3-right">
    <a href="/user/{{ thisuser.logonid }}/newuser/" class="w3-hover-white w3-large w3-theme-l1"><i class="fa fa-plus"></i></a>
</li>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">User Administration</a></li>
{% endblock %}
{% block sidenav %}
<h4><b>Tools</b></h4>
<a href="/user/{{ thisuser.logonid }}/newuser/" class="w3-hover-black"><i class="fa fa-male"></i> New User</a>
<a href="#" class="w3-hover-black submit_button" id="email_users" data-method="POST" data-url="/user/{{ thisuser.logonid }}/email/"><i class="fa fa-envelope-o save_icon"></i><i class="fa fa-circle-notch fa-spin spin_icon"></i> Email Selected Users</a>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
        <p>Number of users found: <input type="text" disabled="disabled" id="number"/></p>
        <p>Search prefixes: 'Firstname:*', 'Lastname:*', 'Playcount:*', 'Admin', 'Accouncer', 'Conductor'.</p>
        <p><input type="text" placeholder="Type to search..." class="w3-input w3-border" id="search" value=""></p>
        <table style="width:100%" class="tablesorter border-table">
            <thead>
                <tr>
                    <td><input type="checkbox" id="select_all"></td>
                    <th>First</th>
                    <th>Last</th>
                    <th class="w3-hide-small w3-hide-medium">Active</th>
                    <th class="w3-hide-small">Instrument</th>
                    <th class="w3-hide-small w3-hide-medium">Request Count</th>
                    <th><div class="w3-hide-small">Playcount</div><div class="w3-hide-medium w3-hide-large">Plays</div></th>
                    <th>Home</th>
                </tr>
            </thead>
            <tbody>
                {% if users != None %}
                {% for u in users %}
                <tr class="searchable" data-search="firstname:{{ u.firstname }} 
                                                    lastname:{{ u.lastname }} 
                                                    {% if u.isadmin == 1 %}Admin{% endif %}
                                                    {% if u.isannouncer == 1 %}Announcer{% endif %}
                                                    {% if u.isconductor == 1 %}Conductor{% endif %}
                                                    Playcount:{% if u.playcount %}{{ u.playcount }}{% else %}0{% endif %}
                                                    {% if u.instrumentname %}{{u.instrumentname}}{% endif %}
                                                    ">
                    <td><input type="checkbox" value="{{ u.userid }}" data-key="userid" data-mapping="{{ u.userid }}" class="checkbox form-object-master form-validate"></td>
                    <td><a href="/user/{{ thisuser.logonid }}/edituser/{{ u.userid }}/">{% if u.firstname == "" %}&nbsp;{% else %}{{ u.firstname }}{% endif %}</a></td>
                    <td><a href="/user/{{ thisuser.logonid }}/edituser/{{ u.userid }}/">{% if u.lastname == "" %}&nbsp;{% else %}{{ u.lastname }}{% endif %}</a></td>
                    <td class="w3-hide-small w3-hide-medium">{% if u.isactive == 1 %}Yes{% else %}No{% endif %}</td>
                    <td class="w3-hide-small">{% if u.instrumentname %}{{u.instrumentname}}{% else %}&nbsp;{% endif %}</td>
                    <th class="w3-hide-small w3-hide-medium">{{u.grouprequestcount}}</th>
                    <td>{% if u.playcount and u.instrumentname %}{{ u.playcount }}{% elif u.instrumentname %}0{% else %}&nbsp;{% endif %}</td>
                    <td><a href="/user/{{ u.logonid }}/">Home</a></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% endblock %}
    </div>
</div>
{% block footer %}{% endblock %}
