{% extends "layout.html" %}
{% block title %}{{ campname }} Announcement Editor{% endblock %}
{% block pagename %}Announcement Editor{% endblock %}
{% block head %}
    <script>

        //function to be used by the submit button. called by the template.
        function buildrequest() {
            var request = {};
            request.content = $("#announcement_text").val();
            return request
        }
        
        $(document).ready(function () {
        });

    </script>
{% endblock %}
{% block tools %}
<h4><b>Tools</b></h4>
<a href="#" class="w3-hover-black submit_button" data-method="POST">Submit</a>
{% endblock %}
{% block content %}
    <p>
        This page is used to edit the announcement that shows up on all user dashboards.
    </p>
    <p><textarea id="announcement_text" cols="40" rows="5">{{ currentannouncement.content }}</textarea></p>
{% endblock %}
{% block footer %}
<!-- Navbar -->
<div class="w3-bottom">
    <ul class="w3-navbar w3-theme w3-bottom w3-left-align w3-large">
        <li><a href="#" class="w3-hover-white submit_button" data-method="POST">Submit</a></li>
    </ul>
</div>
{% endblock %}