{% extends "layout.html" %}
{% block title %}Announcement Editor - {{ campname }}{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        return true
    }

</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="javascript:void(0)" class="w3-hover-white">Announcement Editor</a></li>
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    <h4><b>Save</b></h4>
    <a href="javascript:void(0)" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
        <h2>Accouncement Editor</h2>
        <p>This page is used to edit the announcement that shows up on all user dashboards. You can write HTML if you like, but all return characters are echoed to user pages (there is no need to write any "br" tags).</p>
        <p><textarea class="form-attribute form-validate w3-input w3-border" id="content" rows="7">{{ currentannouncement.content }}</textarea></p>
    </div>
</div>
{% endblock %}
