{% extends "layout.html" %}
{% block title %}{{ campname }} Announcement Editor{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if (ob.val() != '') {
            return true
        }
        else {
            return false
        }
    }

</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">Announcement Editor</a></li>
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    <h4><b>Save</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<p>
    This page is used to edit the announcement that shows up on all user dashboards.
</p>
<p><textarea class="form-attribute form-validate" id="content" cols="40" rows="5">{{ currentannouncement.content }}</textarea></p>
{% endblock %}
