{% extends "layout.html" %}
{% block title%}{{ campname }} Dashboard{% endblock %}
{% block pagename %}{{ thisuser.firstname }} {{ thisuser.lastname }}'s Dashboard{% endblock %}
{% block head %}
    <script>


        $(document).ready(function () {
            //handler for thisuser clicking the button requesting an absence
            $(".absent_request_button").click(function () {
                $(this).prop('disabled', true).addClass('disabled');
                console.log("User requested absence");
                var post_absent = $.ajax({
                    type: 'POST',
                    url: '/user/{{ thisuser.userid }}/period/' + this.id + '/absent/confirm/'
                });

                // handle response
                post_absent.done(function (response) {
                    console.log(response);
                    location.reload();
                });
            });

            //handler for thisuser clicking the button requesting to cancel an absence
            $(".absent_cancel_button").click(function () {
                $(this).prop('disabled', true).addClass('disabled');
                console.log("User Removed their Absence");
                var post_absent = $.ajax({
                    type: 'POST',
                    url: '/user/{{ thisuser.userid }}/period/' + this.id + '/absent/cancel/'
                });

                // handle response
                post_absent.done(function (response) {
                    console.log(response);
                    location.reload();
                });
            });

        });
    </script>
{% endblock %}
{% block content %}
    <h3>Announcements</h3>
    <p>{{ currentannouncement.content }}</p>
    <h3>Your Schedule</h3>
    {% if date > today %}
    <p>To mark yourself as absent for any period, select one of the corresponding buttons.</p>
    {% endif %}
    <table style="width:100%">
        <caption>
            {% if previousday == today %}
            <a href="/user/{{ thisuser.userid }}/">Previous</a>
            {% else %}
            <a href="/user/{{ thisuser.userid }}/date/{{ previousday }}/">Previous</a>
            {% endif %}
            <b> Schedule for {{ date.strftime('%a, %d %b') }}</b>
            {% if nextday == today %}
            <a href="/user/{{ thisuser.userid }}/">Next</a>
            {% else %}
            <a href="/user/{{ thisuser.userid }}/date/{{ nextday }}/">Next</a>
            {% endif %}

        </caption>
        <!--Start of the table for group allocations for this day-->
        <tr>
            <th>Time</th>
            <th>Name</th>
            {% if date > today %}
            <th>Click to mark yourself absent</th>
            {% endif %}
            {% if thisuser.isconductor == 1 %}
            <th>Conductor</th>
            {% endif %}
            {% if thisuser.isadmin == 1 %}
            <th>Admin</th>
            {% endif %}
            <th>Instrument</th>
            <th>Location</th>
        </tr>
        {% for p in periods %}
        <tr>
            <!--Time Column-->
            <td>
                <a href="/user/{{ thisuser.userid }}/period/{{ p.periodid }}/">{{ p.starttime.strftime('%H:%M') }} - {{ p.endtime.strftime('%H:%M') }}</a>
            </td>
            <!--Group Name Column-->
            <td>
                {% if not p.groupname %}
                {{ p.periodname }}

                {% else %}{% if p.ismusical == 1 %}
                <a href="/user/{{ thisuser.userid }}/group/{{ p.groupid }}/">{{ p.groupname }}</a>
                {% else %}{% if p.groupname == "absent" %}
                ABSENT
                {% else %}
                {{ p.groupname }}
                {% endif %}
                {% endif %}
                {% endif %}
            </td>
            <!--Options Column - only appears if looking at a future date-->
            {% if date > today %}
            <td>
                {% if not p.groupname or p.iseveryone %}
                <button id={{ p.periodid }} data-periodname="{{ p.periodname }}" class="absent_request_button">Mark me as absent</button>
                {% else %}
                {% if p.groupname == "absent" %}
                <button id={{ p.periodid }} data-periodname="{{ p.periodname }}" class="absent_cancel_button">Mark me as present</button>
                {% else %}
                Already allocated
                {% endif %}
                {% endif %}
            </td>
            {% endif %}
            <!--Conductor Column - only appears if the thisuser is a conductor-->
            {% if thisuser.isconductor == 1 %}
            <td>
                <a href="/user/{{ thisuser.userid }}/grouprequest/conductor/{{ p.periodid }}/">Create a group here</a>
                <br />
                <a href="/user/{{ thisuser.userid }}/instrumentation/{{ p.periodid }}/">Large Group Instrumentation</a>
            </td>
            {% endif %}
            <!--Admin Column - only appears if the thisuser is an admin-->
            {% if thisuser.isadmin == 1 %}
            <td>
                <a href="/user/{{ thisuser.userid }}/publicevent/{{ p.periodid }}/">Create a public event here</a>
            </td>
            {% endif %}
            <td>{{ p.instrumentname }}</td>
            <td>{{ p.locationname }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if thisuser.isadmin == 1 %}
    <h3>Queued Groups</h3>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Request Time</th>
                <th>Requestor</th>
                <th>Group Name</th>
                <th>Period</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="zebra-table">
            {% if queuedgroups != None %}
            {% for q in queuedgroups %}
            <tr>
                <td>
                    {% if q.requesttime != None %}
                    {{ q.requesttime.strftime('%Y-%m-%d %H:%M')}}
                    {% endif %}
                </td>
                <td>{{ q.firstname }} {{ q.lastname }}</td>
                <td><a href="/user/{{ thisuser.userid }}/group/{{ q.groupid }}/">{{ q.groupname }}</a></td>
                <td>
                    {% if q.starttime != None and q.endtime != None %}
                    {{ q.starttime.strftime('%Y-%m-%d') }}: {{ q.starttime.strftime('%H:%M') }}-{{ q.endtime.strftime('%H:%M') }}
                    {% endif %}
                </td>
                <td>{{ q.status }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}