{% extends "layout.html" %}
{% block title %}{{ campname }} Group Editor{% endblock %}
{% block pagename %}&#34;{{ targetuser.firstname }} {{ targetuser.lastname }}&#34; Editor{% endblock %}
{% block head %}
<script>

    //function to be used by the submit button. called by the template.
    function buildrequest() {
        var request = {};
        //add the music name and minimum level to the JSON. Establish an array to contain the player names
        $('.userattribute').each(function () {
            request[$(this).attr('class')] = $(this).value();
        });
        //establish an array to fill with instrument config
        request.instruments = []
        $('.instrumentconfig[data-type=instrumentname').each(function () {
            datamapping = $(this).data('mapping')
            $('.instrumentconfig[data-mapping=' + datamapping).each(function () {
                if ($(this).val() != 'null' || $(this).val() != '') {
                    var inst = {};
                    inst($(this).data('type')) = $(this).val()
                    console.log('Adding instrument to packet:')
                    console.log(inst)
                    request.instruments.push(inst);
                }
            });
        });
        return request
    }

    $(document).ready(function () {

        //run when user changes the content of a isprimary dropdown to "yes". Sets all others to no.
        $(document).on("change", '.instrumentconfig[data-type=isprimary]', function (e) {
            //only run the code if it's the original event to prevent recursion (this function would go infinite otherwise)
            if (e.originalEvent && ($(this).val() == 1 || $(this).val() == '1')) {
                console.log('User selected an instrument to be their primary');
                $('.instrumentconfig[data-type=isprimary]').not(this).each(function () {
                    if ($(this).val() == 1 || $(this).val() == '1') {
                        $(this).val("0").change();
                    }
                });
            }
        });

        //run when user clicks the submit button
        $(".submit_button").click(function () {
            console.log('Submit button pressed');
            //if the button hasn't already been clicked
            if (!isClicked) {
                isClicked = true;
                //request will be our parent object, and will be pushed to the server through AJAX later
                var request = {};
                //add the music name and minimum level to the JSON. Establish an array to contain the player names
                $('.userattribute').each(function () {
                    request[$(this).attr('class')] = $(this).value();
                });
                //establish an array to fill with instrument config
                request.instruments = []
                $('.instrumentconfig[data-type=instrumentname').each(function () {
                    datamapping = $(this).data('mapping')
                    $('.instrumentconfig[data-mapping=' + datamapping).each(function () {
                        if ($(this).val() != 'null' || $(this).val() != '') {
                            var inst = {};
                            inst($(this).data('type')) = $(this).val()
                            console.log('Adding instrument to packet:')
                            console.log(inst)
                            request.instruments.push(inst);
                        }
                    });
                });

                console.log('Pushing the following object to the server for processing:');
                console.log(JSON.stringify(request));
                sendtoserver(request,'POST')
            }
        });
    });
</script>
{% endblock %}
{% block tools %}
<h4><b>Edit</b></h4>
<a href="#" class="w3-hover-black submit_button">Submit</a>
{% endblock %}
{% block content %}
<h1>Editing User &#34;{{ targetuser.firstname }} {{ targetuser.lastname }}&#34;</h1>
<h2>User Attributes</h2>
<table>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td><input type="text" id="firstname" class="userattribute" value="{{ targetuser.firstname }}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" id="lastname" class="userattribute" value="{{ targetuser.lastname }}"></td>
        </tr>
        <tr>
            <td>Arrival</td>
            <td>
                <select id="arrival" class="userattribute">
                    <option value="None"></option>
                    {% for p in periods %}
                    {% if p.starttime == targetuser.arrival %}
                    <option value="{{ p.periodid }}" selected="selected">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% else %}
                    <option value="{{ p.periodid }}">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Departure</td>
            <td>
                <select id="departure" class="userattribute">
                    <option value="None"></option>
                    {% for p in periods %}
                    {% if p.starttime == targetuser.departure %}
                    <option value="{{ p.periodid }}" selected="selected">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% else %}
                    <option value="{{ p.periodid }}">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Announcer</td>
            <td>
                <select id="isannouncer" class="userattribute">
                    {% if targetuser.isannouncer == 1 %}
                    <option value="0">No</option>
                    <option value="1" selected="selected">Yes</option>
                    {% else %}
                    <option value="0" selected="selected">No</option>
                    <option value="1">Yes</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Conductor</td>
            <td>
                <select id="isconductor" class="userattribute">
                    {% if targetuser.isconductor == 1 %}
                    <option value="0">No</option>
                    <option value="1" selected="selected">Yes</option>
                    {% else %}
                    <option value="0" selected="selected">No</option>
                    <option value="1">Yes</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Admin</td>
            <td>
                <select id="isadmin" class="userattribute">
                    {% if targetuser.isadmin == 1 %}
                    <option value="0">No</option>
                    <option value="1" selected="selected">Yes</option>
                    {% else %}
                    <option value="0" selected="selected">No</option>
                    <option value="1">Yes</option>
                    {% endif %}
                </select>
            </td>
        </tr>
    </tbody>
</table>
<h2>User Instruments</h2>
<p>This section allows you to edit the intsrument records for this user. If you want to disable one of their instruments, set it to not active. 
    If you want to add an additional instrument, set it up and submit. You can revisit this page if you want to enter more than one instrument.</p>
<table>
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Grade</th>
            <th>Primary</th>
            <th>Active</th>
        </tr>
    <thead>
    <tbody>
        {% for t in targetuserinstruments %}
            <tr>
                <td>
                    <select class="instrumentconfig" data-type="instrumentname" data-instrumentid="{{t.instrumentid}}" data-mapping="{{ loop.index }}">
                        {% for i in instrumentlist %}
                        {% if t.instrumentname == i %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="instrumentconfig" data-type="grade" data-instrumentid="{{t.instrumentid}}" data-mapping="{{ loop.index }}">
                        {% for n in range(maximumlevel + 1) %}
                        {% if n == t.grade %}
                        <option value="{{ n }}" selected="selected">{{ n }}</option>
                        {% else %}
                        <option value="{{ n }}">{{ n }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="instrumentconfig" data-type="isprimary" data-instrumentid="{{t.instrumentid}}" data-mapping="{{ loop.index }}">
                        {% if t.isprimary == 1 %}
                        <option value="0">No</option>
                        <option value="1" selected="selected">Yes</option>
                        {% else %}
                        <option value="0" selected="selected">No</option>
                        <option value="1">Yes</option>
                        {% endif %}
                    </select>
                </td>
                <td>
                    <select class="instrumentconfig" data-type="isactive" data-instrumentid="{{t.instrumentid}}" data-mapping="{{ loop.index }}">
                        {% if t.isactive == 1 %}
                        <option value="0">No</option>
                        <option value="1" selected="selected">Yes</option>
                        {% else %}
                        <option value="0" selected="selected">No</option>
                        <option value="1">Yes</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <select class="new" data-type="instrumentname" data-instrumentid="new" data-mapping="new">
                    <option value=""></option>
                    {% for i in instrumentlist %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="new" data-type="grade" data-instrumentid="new" data-mapping="new">
                    <option value=""></option>
                    {% for n in range(maximumlevel + 1) %}
                    <option value="{{ n }}">{{ n }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="new" data-type="isprimary" data-instrumentid="new" data-mapping="new">
                    <option value=""></option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
{% block footer %}
<!-- Navbar -->
<div class="w3-bottom">
    <ul class="w3-navbar w3-theme w3-bottom w3-left-align w3-large">
        <li><a href="#" class="w3-hover-white submit_button">Submit</a></li>
    </ul>
</div>
{% endblock %}
