{% extends "layout.html" %}
{% block title %}{{ campname }} Group Editor{% endblock %}
{% block pagename %}
    {% if targetuser.userid is not none %}
    &#34;{{ targetuser.firstname }} {{ targetuser.lastname }}&#34; Editor
    {% else %}
    New User Editor
    {% endif %}
{% endblock %}
{% block head %}
<script>

    //function to be used by the submit button. called by the template.
    function buildrequest() {
        var request = {};
        //add the music name and minimum level to the JSON. Establish an array to contain the player names
        $('.userattribute').each(function () {
            if ($(this).val() != 'null' && $(this).val() != '' && $(this).val() != 'None' && $(this).val() != '<HIDDEN>')
            console.log('Setting ' + $(this).attr('id') + ' to ' + $(this).val());
            request[$(this).attr('id')] = $(this).val();
        });
        //establish an array to fill with instrument config
        request.instruments = []
        //for each dropdown contiaining the instrument names
        $('.instrumentconfig[data-type=instrumentname]').each(function () {
            if ($(this).val() != 'null' && $(this).val() != '' && $(this).val() != 'None') {
                //create a variable to dump this instrument's data into
                var inst = {};
                inst['instrumentid'] = $(this).data('instrumentid')
                console.log('Set instrumentid to be ' + inst.instrumentid)
                //iterate through each dropdown on the row corresponding to that instrument
                $('.instrumentconfig[data-instrumentid=' + $(this).data('instrumentid') + ']').each(function () {
                    //if the box isn't empty
                    if ($(this).val() != 'null' && $(this).val() != '' && $(this).val() != 'None') {
                        //add its value to the variable
                        inst[$(this).data('type')] = $(this).val();
                    }
                    else { return false; }
                });
                console.log('Adding instrument to packet:');
                console.log(inst);
                //push its variable into the request.instruments array
                request.instruments.push(inst);
            }
        });
        return request
    }

    $(document).ready(function () {

        //run when user changes the content of a isprimary dropdown to "yes". Sets all others to no.
        $(document).on("change", '.instrumentconfig[data-type=isprimary]', function (e) {
            //only run the code if it's the original event to prevent recursion (this function would go infinite otherwise)
            if (e.originalEvent && ($(this).val() == 1 || $(this).val() == '1')) {
                console.log('User selected an instrument to be their primary');
                $('.instrumentconfig[data-type=isprimary]').not(this).each(function () {
                    if ($(this).val() == 1 || $(this).val() == '1') {
                        $(this).val("0").change();
                    }
                });
            }
        });

        $(document).on("click", '#send_email', function (e) {
            $(this).prop('disabled', true).addClass('disabled');
            var request = {}
            request.users = []
            var user = {}
            user.userid = '{{ targetuser.userid }}'
            request.users.push(user);
            $.ajax({
                type: 'POST',
                url: '/user/{{thisuser.userid}}/email/',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(request, null),
                success: function (data, textStatus) {
                    //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                    console.log(data);
                    if (data.message != 'none') {
                        alert(data.message);
                        isClicked = false;
                    }
                    if (data.url != 'none') {
                        window.location = data.url;
                    }
                    else {
                        isClicked = false;
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Submission failed with error: ' + errorThrown);
                    isClicked = false;
                },
            });
        });
    });
</script>
{% endblock %}
    {% block tools %}
        <h4><b>Tools</b></h4>
        <a href="#" class="w3-hover-black submit_button" data-method="POST">Submit</a>
    {% endblock %}
{% block content %}
{% if targetuser.userid is not none %}
    <h1>Editing User &#34;{{ targetuser.firstname }} {{ targetuser.lastname }}&#34;</h1>
{% else %}
    <h1>New User</h1>
{% endif %}
<h2>User Attributes</h2>
<table>
    <thead>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>
                {% if targetuser.userid is not none %}
                <input type="text" id="firstname" class="userattribute" value="{{ targetuser.firstname }}">
                {% else %}
                <input type="text" id="firstname" class="userattribute" value="">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                {% if targetuser.userid is not none %}
                <input type="text" id="lastname" class="userattribute" value="{{ targetuser.lastname }}">
                {% else %}
                <input type="text" id="lastname" class="userattribute" value="">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input id="email" type="email" class="userattribute" value="<HIDDEN>">
            </td>
        </tr>
        <tr>
            <td>Arrival</td>
            <td>
                <select id="arrival" class="userattribute">
                    <option value="None"></option>
                    {% for p in periods %}
                    {% if p.starttime == targetuser.arrival %}
                    <option value="{{ p.periodid }}" selected="selected">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% else %}
                    <option value="{{ p.periodid }}">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Departure</td>
            <td>
                <select id="departure" class="userattribute">
                    <option value="None"></option>
                    {% for p in periods %}
                    {% if p.starttime == targetuser.departure %}
                    <option value="{{ p.periodid }}" selected="selected">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% else %}
                    <option value="{{ p.periodid }}">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Announcer</td>
            <td>
                <select id="isannouncer" class="userattribute">
                    {% if targetuser.isannouncer == 1 %}
                    <option value="0">No</option>
                    <option value="1" selected="selected">Yes</option>
                    {% else %}
                    <option value="0" selected="selected">No</option>
                    <option value="1">Yes</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Conductor</td>
            <td>
                <select id="isconductor" class="userattribute">
                    {% if targetuser.isconductor == 1 %}
                    <option value="0">No</option>
                    <option value="1" selected="selected">Yes</option>
                    {% else %}
                    <option value="0" selected="selected">No</option>
                    <option value="1">Yes</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Admin</td>
            <td>
                <select id="isadmin" class="userattribute">
                    {% if targetuser.isadmin == 1 %}
                    <option value="0">No</option>
                    <option value="1" selected="selected">Yes</option>
                    {% else %}
                    <option value="0" selected="selected">No</option>
                    <option value="1">Yes</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Active</td>
            <td>
                <select id="isactive" class="userattribute">
                    {% if targetuser.isactive == 0 %}
                    <option value="0" selected="selected">No</option>
                    <option value="1">Yes</option>
                    {% else %}
                    <option value="0">No</option>
                    <option value="1" selected="selected">Yes</option>
                    {% endif %}
                </select>
            </td>
        </tr>
    </tbody>
</table>
<p>Send this user their dashboard link via email: <button type="button" id="send_email">Send Email</button></p>
<h2>User Instruments</h2>
<p>This section allows you to edit the instrument records for this user. If you want to disable one of their instruments, set it to not active. 
    If you want to add an additional instrument, set it up and submit. You can revisit this page if you want to enter more than one instrument.</p>
<table>
    <thead>
        <tr>
            <th>Instrument</th>
            <th>Grade</th>
            <th>Primary</th>
            <th>Active</th>
        </tr>
    <thead>
    <tbody>
        {% for t in targetuserinstruments %}
            <tr>
                <td>
                    <select class="instrumentconfig" data-type="instrumentname" data-instrumentid="{{t.instrumentid}}">
                        {% for i in instrumentlist %}
                        {% if t.instrumentname == i %}
                        <option value="{{i}}" selected="selected">{{i}}</option>
                        {% else %}
                        <option value="{{i}}">{{i}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="instrumentconfig" data-type="grade" data-instrumentid="{{t.instrumentid}}">
                        {% for n in range(maximumlevel + 1) %}
                        {% if n == t.grade %}
                        <option value="{{ n }}" selected="selected">{{ n }}</option>
                        {% else %}
                        <option value="{{ n }}">{{ n }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="instrumentconfig" data-type="isprimary" data-instrumentid="{{t.instrumentid}}">
                        {% if t.isprimary == 1 %}
                        <option value="0">No</option>
                        <option value="1" selected="selected">Yes</option>
                        {% else %}
                        <option value="0" selected="selected">No</option>
                        <option value="1">Yes</option>
                        {% endif %}
                    </select>
                </td>
                <td>
                    <select class="instrumentconfig" data-type="isactive" data-instrumentid="{{t.instrumentid}}" data-mapping="{{ loop.index }}">
                        {% if t.isactive == 1 %}
                        <option value="0">No</option>
                        <option value="1" selected="selected">Yes</option>
                        {% else %}
                        <option value="0" selected="selected">No</option>
                        <option value="1">Yes</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <select class="instrumentconfig" data-type="instrumentname" data-instrumentid="new">
                    <option value=""></option>
                    {% for i in instrumentlist %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="instrumentconfig" data-type="grade" data-instrumentid="new">
                    <option value=""></option>
                    {% for n in range(maximumlevel + 1) %}
                    <option value="{{ n }}">{{ n }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="instrumentconfig" data-type="isprimary" data-instrumentid="new">
                    <option value=""></option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </td>
            <td>
                <select class="instrumentconfig" data-type="isactive" data-instrumentid="new">
                    <option value=""></option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
{% block footer %}
<!-- Navbar -->
<div class="w3-bottom">
    <ul class="w3-navbar w3-theme w3-bottom w3-left-align w3-large">
        <li><a href="#" class="w3-hover-white submit_button" data-method="POST">Submit</a></li>
    </ul>
</div>
{% endblock %}
