{% extends "layout.html" %}
{% block title %}{% if thisuser.isadmin == 1 %}User Editor - {{ campname }}{% else %}Settings - {{ campname }}{% endif %}{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if (ob.val() != '') {
            return true
        }
        else {
            return false
        }
    }

    //function to be used by the submit button. called by the template.
    function buildrequest() {
        var request = {};
        //for each item marked form-attribute, add its value to the request
        $('.form-attribute').each(function () {
            request[$(this).attr('id')] = $(this).val();
        });

        //establish an array under request to deal with a group of objects. This will:
        //1. cycle through every object with the class form-object-master and grab it's data-mapping value
        //2. cycle through this and every other object with that data-mapping and add its value to the object
        //3. push the resulting object to the request object
        request.objects = []
        //for each dropdown contiaining the instrument names
        $('.form-object-master').each(function () {
            if ($(this).val() != 'null' && $(this).val() != '' && $(this).val() != 'None') {
                //create a variable to dump this instrument's data into
                var ob = {};
                $('[data-mapping=' + $(this).data('mapping') + ']').each(function () {
                    ob[$(this).data('key')] = $(this).val();
                });
                //push its variable into the request.instruments array
                request.objects.push(ob);
            }
        });
        console.log('Sending request packet to server:')
        console.log(request)
        return request
    }

    $(document).ready(function () {

        $('.spin_icon_email').hide();

        //run when user changes the content of a isprimary dropdown to "yes". Sets all others to no.
        $(document).on("change", '[data-key=isprimary]', function (e) {
            //only run the code if it's the original event to prevent recursion (this function would go infinite otherwise)
            if (e.originalEvent && ($(this).val() == 1 || $(this).val() == '1')) {
                console.log('User selected an instrument to be their primary');
                $('[data-key=isprimary]').not(this).each(function () {
                    if ($(this).val() == 1 || $(this).val() == '1') {
                        $(this).val("0").change();
                    }
                });
            }
        });

        $(document).on("click", '#send_email', function (e) {
            if (isClicked == false) {
                isClicked = true;
                $('.send_icon_email').hide();
                $('.spin_icon_email').show();
                var request = {}
                request.objects = []
                var user = {}
                user.userid = '{{ targetuser.userid }}'
                request.objects.push(user);
                console.log('Posting to server with:')
                console.log(request)
                $.ajax({
                    type: 'POST',
                    url: '/user/{{thisuser.userid}}/email/',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(request, null),
                    success: function (data, textStatus) {
                        //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                        console.log(data);
                        $('.spin_icon_email').hide();
                        $('.send_icon_email').show();
                        if (data.message != 'none' && data.success == 'true') {
                            toast(data.message, 'success');
                            isClicked = false;
                        }
                        else if (data.message != 'none' && data.success == 'false') {
                            alert(data.message);
                            isClicked = false;
                        }
                        else if (data.url != 'none') {
                            window.location = data.url;
                            isClicked = false;
                        }
                        else {
                            isClicked = false;
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $('.spin_icon_email').hide();
                        $('.send_icon_email').show();
                        alert('Submission failed with error: ' + errorThrown);
                        isClicked = false;
                    },
                });
            }
        });
    });
</script>
{% endblock %}
{% block navbar %}
<div class="submit_hide">
    <li class="w3-opennav w3-right w3-animate-right">
        <a href="#" class="w3-hover-white w3-large w3-theme-l1 submit_button" data-submittype="save" data-method="POST">
            <i class="fa fa-save save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i>
        </a>
    </li>
</div>
{% endblock %}
{% block breadcrumbs %}
{% if targetuser.userid is not none %}
    {% if thisuser.isadmin == 1 %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">Editing User &#34;{{ targetuser.firstname }} {{ targetuser.lastname }}&#34;</a></li>
    {% else %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">My Settings</a></li>
    {% endif %}
{% else %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">New User</a></li>
{% endif %}
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    {% if thisuser.isadmin == 1 %}
    <h4><b>Tools</b></h4>
    <a href="#" class="w3-hover-black" id="send_email" data-method="POST"><i class="fa fa-envelope-o send_icon_email"></i><i class="fa fa-circle-o-notch fa-spin spin_icon_email"></i> Send Invite Email</a>
    {% endif %}
    <h4><b>Save</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="save" data-method="POST"><i class="fa fa-save save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Save Changes</a>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">

        {% if targetuser.userid is not none %}
        {% if thisuser.isadmin == 1 %}
        <header class="w3-container w3-red">
            <h2>Editing User &#34;{{ targetuser.firstname }} {{ targetuser.lastname }}&#34;</h2>
        </header>
        {% endif %}
        {% else %}
        <header class="w3-container w3-red">
            <h2>New User</h2>
        </header>
        {% endif %}
    </div>
</div>
<div class="w3-row">
    <div class="w3-panel w3-half">
        <div class="w3-card-4">
            <header class="w3-container w3-dark-gray">
                <h2>{% if thisuser.isadmin == 1 %}User{% else %}My{% endif %} Settings</h2>
            </header>
            <div class="w3-container">
                <p>Note: You will only be assigned a group if you are set to Active, and the group plays between your arrival and departure times.</p>
                <table class="w3-table border-table">
                    <tbody>
                        <tr>
                            <td>First Name</td>
                            <td>
                                {% if targetuser.userid is not none and thisuser.isadmin == 1 %}
                                <input type="text" id="firstname" class="form-attribute form-validate w3-input w3-border" value="{{ targetuser.firstname }}">
                                {% elif thisuser.isadmin != 1 %}
                                {{ targetuser.firstname }}
                                {% else %}
                                <input type="text" id="firstname" class="form-attribute form-validate w3-input w3-border" value="">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>
                                {% if targetuser.userid is not none and thisuser.isadmin == 1 %}
                                <input type="text" id="lastname" class="form-attribute form-validate w3-input w3-border" value="{{ targetuser.lastname }}">
                                {% elif thisuser.isadmin != 1 %}
                                {{ targetuser.lastname }}
                                {% else %}
                                <input type="text" id="lastname" class="form-attribute form-validate w3-input w3-border" value="">
                                {% endif %}
                            </td>
                        </tr>
                        {% if thisuser.isadmin == 1 %}
                        <tr>
                            <td>Email</td>
                            <td>
                                <input id="email" type="email" class="form-attribute w3-input w3-border" value="HIDDEN">
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Arrival</td>
                            <td>
                                <select id="arrival" class="form-attribute w3-select w3-border">
                                    {% for p in periods %}
                                    {% if targetuser.userid != None and p.starttime == targetuser.arrival %}
                                    <option value="{{ p.starttime }}" selected="selected">{{ p.starttime.strftime('%d %b') }}: {{ p.periodname }}</option>
                                    {% elif targetuser.userid == None and p.starttime == periods[0].starttime %}
                                    <option value="{{ p.starttime }}" selected="selected">{{ p.starttime.strftime('%d %b') }}: {{ p.periodname }}</option>
                                    {% else %}
                                    <option value="{{ p.starttime }}">{{ p.starttime.strftime('%d %b') }}: {{ p.periodname }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Departure</td>
                            <td>
                                <select id="departure" class="form-attribute w3-select w3-border">
                                    {% for p in periods %}
                                    {% if targetuser.userid != None and p.starttime == targetuser.departure %}
                                    <option value="{{ p.starttime }}" selected="selected">{{ p.starttime.strftime('%d %b') }}: {{ p.periodname }}</option>
                                    {% elif targetuser.userid == None and p.starttime == periods[periods|length - 1].starttime %}
                                    <option value="{{ p.starttime }}" selected="selected">{{ p.starttime.strftime('%d %b') }}: {{ p.periodname }}</option>
                                    {% else %}
                                    <option value="{{ p.starttime }}">{{ p.starttime.strftime('%d %b') }}: {{ p.periodname }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Active</td>
                            <td>
                                <select id="isactive" class="form-attribute w3-select w3-border">
                                    {% if targetuser.isactive == 0 %}
                                    <option value="0" selected="selected">Inactive</option>
                                    <option value="1">Active</option>
                                    {% else %}
                                    <option value="0">Inactive</option>
                                    <option value="1" selected="selected">Active</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                        {% if thisuser.isadmin == 1 %}
                        <tr>
                            <td>Announcer</td>
                            <td>
                                <select id="isannouncer" class="form-attribute w3-select w3-border">
                                    {% if targetuser.isannouncer == 1 %}
                                    <option value="0">No</option>
                                    <option value="1" selected="selected">Yes</option>
                                    {% else %}
                                    <option value="0" selected="selected">No</option>
                                    <option value="1">Yes</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Conductor</td>
                            <td>
                                <select id="isconductor" class="form-attribute w3-select w3-border">
                                    {% if targetuser.isconductor == 1 %}
                                    <option value="0">No</option>
                                    <option value="1" selected="selected">Yes</option>
                                    {% else %}
                                    <option value="0" selected="selected">No</option>
                                    <option value="1">Yes</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Admin</td>
                            <td>
                                <select id="isadmin" class="form-attribute w3-select w3-border">
                                    {% if targetuser.isadmin == 1 %}
                                    <option value="0">No</option>
                                    <option value="1" selected="selected">Yes</option>
                                    {% else %}
                                    <option value="0" selected="selected">No</option>
                                    <option value="1">Yes</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
    <div class="w3-panel w3-half">
        <div class="w3-card-4">
            <header class="w3-container w3-dark-gray">
                <h2>{% if thisuser.isadmin == 1 %}User{% else %}My{% endif %} Instruments</h2>
            </header>
            <div class="w3-container">
                <p>Note: You won't be assigned to play an instrument if it's set to inactive. Your primary instrument is significantly more likely to be allocated to groups than non-primary instruments.{% if thisuser.isadmin != 1 %} If you wish to add any more instruments, <a href="mailto:{{ supportemailaddress }}">contact camp administration</a>.{% endif %}</p>
                <table class="w3-table border-table">
                    <thead>
                        <tr>
                            <th>Instrument</th>
                            {% if thisuser.isadmin == 1 %}
                            <th>Grade</th>
                            {% endif %}
                            <th>Primary</th>
                            <th>Active</th>
                        </tr>
                    <thead>
                    <tbody>
                        {% for t in targetuserinstruments %}
                        <tr>
                            <td>
                                <input type="hidden" data-key="instrumentid" data-mapping="{{t.instrumentid}}" value="{{t.instrumentid}}" class="form-object-master">
                                {% if thisuser.isadmin == 1 %}
                                <select class="w3-select w3-border" data-key="instrumentname" data-mapping="{{t.instrumentid}}">
                                    {% for i in instrumentlist %}
                                    {% if t.instrumentname == i %}
                                    <option value="{{i}}" selected="selected">{{i}}</option>
                                    {% else %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                {% else %}
                                {{ t.instrumentname }}
                                {% endif %}
                            </td>
                            {% if thisuser.isadmin == 1 %}
                            <td>
                                <select data-key="grade" data-mapping="{{t.instrumentid}}" class="w3-select w3-border">
                                    {% for n in range(maximumlevel + 1) %}
                                    {% if n == t.grade %}
                                    <option value="{{ n }}" selected="selected">{{ n }}</option>
                                    {% else %}
                                    <option value="{{ n }}">{{ n }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            {% endif %}
                            <td>
                                <select data-key="isprimary" data-mapping="{{t.instrumentid}}" class="w3-select w3-border">
                                    {% if t.isprimary == 1 %}
                                    <option value="0">No</option>
                                    <option value="1" selected="selected">Yes</option>
                                    {% else %}
                                    <option value="0" selected="selected">No</option>
                                    <option value="1">Yes</option>
                                    {% endif %}
                                </select>
                            </td>
                            <td>
                                <select data-key="isactive" data-mapping="{{t.instrumentid}}" class="w3-select w3-border">
                                    {% if t.isactive == 1 %}
                                    <option value="0">Inactive</option>
                                    <option value="1" selected="selected">Active</option>
                                    {% else %}
                                    <option value="0" selected="selected">Inactive</option>
                                    <option value="1">Active</option>
                                    {% endif %}
                                </select>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if thisuser.isadmin == 1 %}
                        <tr>
                            <td>
                                <input type="hidden" data-key="instrumentid" data-mapping="new" value="new">
                                <select class="form-object-master w3-select w3-border" data-key="instrumentname" data-mapping="new">
                                    <option value=""></option>
                                    {% for i in instrumentlist %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select data-key="grade" data-mapping="new" class="w3-select w3-border">
                                    <option value=""></option>
                                    {% for n in range(maximumlevel + 1) %}
                                    <option value="{{ n }}">{{ n }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <select data-key="isprimary" data-mapping="new" class="w3-select w3-border">
                                    <option value=""></option>
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </td>
                            <td>
                                <select data-key="isactive" data-mapping="new" class="w3-select w3-border">
                                    <option value=""></option>
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                </select>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>

        {% endblock %}
