<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href='/css/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>if (!window.jQuery) { document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>'); }</script>
    <title>GOD PAGE - {{ campname }}</title>
</head>
<body>
    <h1>GOD PAGE - {{ campname }}</h1>
    <div class="container">
        <h2>Application Setup</h2>
        <div>
            <p>Step 1: upload a config.xml file</p>
            <p>Step 2: upload a campers.csv file</p>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file"><br />
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    <h2>Users in Database</h2>
    <table style="width:100%">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Dashboard Links</th>
            <th>Play Count</th>
        </tr>
        {% for u in users %}
        <tr>
            <td>{{ u.firstname }}</td>
            <td>{{ u.lastname }}</td>
            <td><a href="/user/{{ u.userid }}/">{{ u.userid }}</a></td>
            <td>{{ u.playcount }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Group Templates in Database</h2>
    <table style="width:100%">
        <tr>
            <th>Template Name</th>
            <th>Size</th>
            <th>Maximum Level</th>
            <th>Minimum Level</th>
        </tr>
        {% for g in grouptemplates %}
        <tr>
            <td>{{ g.grouptemplatename }}</td>
            <td>{{ g.size }}</td>
            <td>{{ g.minimumlevel }}</td>
            <td>{{ g.maximumlevel }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
