<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>if (!window.jQuery) { document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>'); }</script>
    <script>
        $(document).ready(function () {
            {% for i in instrumentlist %}
            console.log('Instrument name: {{ i }}, Loop index: {{ loop.index }})')
            {% endfor %}
            // add parser through the tablesorter addParser method
            $.tablesorter.addParser({
                // set a unique id
                id: 'scoreorder',
                is: function (s) {
                    // return false so this parser is not auto detected
                    return false;
                },
                format: function (s) {
                    // format your data for normalization
                    return s.toLowerCase(){% for i in instrumentlist %}.replace(/{{ i }}/, {{ loop.index }}){% endfor %};
                },
                // set type, either numeric or text
                type: 'numeric'
            });

            $(function () {
                $(".player_table").tablesorter({
                    sortList: [3,1],
                    headers: {
                        3: {
                            sorter: 'scoreorder',
                            emptyto: 'top'
                        }
                    }
                });
            });
        });
    </script>
    <title>{{ campname }} Group Display</title>
</head>
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
            <li><a href="#" class="w3-theme-l1">{{ thisgroup.groupname }}</a></li>
            <li><a href="/user/{{ thisuser.userid }}/" class="w3-hover-white">Dashboard</a></li>
            {% if thisuser.isadmin == 1 %}
            <li><a href="/user/{{ thisuser.userid }}/group/{{ thisgroup.groupid }}/edit/" class="w3-hover-white">Edit This Group</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- Body -->
    <div class="w3-row">
        <div class="w3-container">
            <h2>Group Details</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <td>{{ thisgroup.groupname }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ thisgroup.status }}</td>
                </tr>
                <tr>
                    <th>Music</th>
                    <td>{{ thisgroup.music }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>
                        {% if period == None %}
                        Not yet allocated
                        {% else %}
                        {{ period.starttime.strftime('%A, %Y-%m-%d') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>
                        {% if period == None %}
                        Not yet allocated
                        {% else %}
                        <a href="/user/{{ thisuser.userid }}/period/{{ period.periodid }}/">{{ period.starttime.strftime('%H:%M') }} - {{ period.endtime.strftime('%H:%M') }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>
                        {% if thislocation == None %}
                        Not yet allocated
                        {% else %}
                        {{ thislocation.locationname }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% if thisgroup.iseveryone != 1 %}
                <h2>Players</h2>
                <table style="width:100%" class="player_table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Instrument</th>
                        </tr>
                    </thead>
                    <tbody class="zebra-table">
                        {% for p in players %}
                        <tr>
                            <td>{{ p.firstname }}</td>
                            <td>{{ p.lastname }}</td>
                            <td>{{ p.instrumentname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if substitutes %}
                <p>
                    If you can not make this group, it is your responsibility to find a substitute and notify them.
                    The following people are not playing in a group at this time and may be able to substitute.
                </p>
                <h2>Possible Substitutes</h2>
                <table style="width:100%" class="player_table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Instrument</th>
                        </tr>
                    </thead>
                    <tbody class="zebra-table">
                        {% for s in substitutes %}
                        <tr>
                            <td>{{ s.firstname }}</td>
                            <td>{{ s.lastname }}</td>
                            <td>{{ s.instrumentname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>