{% extends "layout.html" %}
{% block title %}Group Request - {{ campname }}{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if (ob.val() == '' && ob.closest("tr").is(":nth-child(2)")) {
            return false;
        }
        else if (ob.val() != '' || ob.closest("tr").is(":last-child")) {
            return true;
        }
        else if ('{{ conductorpage }}' == 'False') {
            return true;
        }
        else {
            return false;
        }
    }

    inst = '{{instrumentlist}}';
    var instrumentlist = inst.split(',');

    /* this script handles all thisuser interaction in the group request page. Upon page load, it downloads all players
    in the camp including the instruments they play, all templates as stated by the config.xml, and the instruments
    this thisuser plays. it uses all of this data to populate drop-down boxes, depending on what the thisuser selects. */

    //function to be used by the submit button. called by the template.
    function buildrequest() {
        var request = {};
        //for each item marked form-attribute, add its value to the request
        $('.form-attribute').each(function() {
            request[$(this).attr('id')] = $(this).val();
        });

        //establish an array under request to deal with a group of objects. This will:
        //1. cycle through every object with the class form-object-master and grab it's data-mapping id
        //2. cycle through this and every other object with that data-mapping and add its value to the object
        //3. push the resulting object to the request object
        request.objects = []
        //for each dropdown contiaining the instrument names
        $('.form-object-master').each(function () {
            if (($(this).val() != 'null' && $(this).val() != '' && $(this).val() != 'None') || ($(this).is("checkbox") && $(this).prop("checked"))) {
                //create a variable to dump this instrument's data into
                var ob = {};
                $('[data-mapping=' + $(this).data('mapping') + ']').each(function () {
                    ob[$(this).data('key')] = $(this).val();
                });
                //push its variable into the request.instruments array
                request.objects.push(ob);
            }
        });
        console.log('Sending request packet to server:')
        console.log(request)
        return request
    }

    $(document).ready(function () {
            
        //these first few variables set up the rest of the script
        var players = {{ playersdump_serialized|tojson }};
        console.log("Players:");
        console.log(players);

        var grouptemplates = {{ grouptemplates_serialized|tojson }};
        console.log("Grouptemplates:");
        console.log(grouptemplates);

        var thisuserinstruments = {{ thisuserinstruments_serialized|tojson }};
        console.log("Instruments played by this user:");
        console.log(thisuserinstruments);

        var musics = {{ musics_serialized|tojson }};
        console.log("Music Database:");
        console.log(musics);

        var instrumentlist_string = '{{ instrumentlist_string }}';

        var isClicked = false;
            
        conductorpage = "{{ conductorpage }}"
        console.log('Conductorpage is ' + conductorpage)
        //get the user's primary instrument
        var primaryinstrument = thisuserinstruments.filter(function( obj ) { return obj.isprimary == 1; })[0].instrumentname;
        console.log('Primary instrument is: ' + primaryinstrument);
        //create a variable to keep track of the IDs of the rows, used in the addRow() function.
        var rowId = 2;
        //this function is called by a few other functions in this script, and adds another table row with appropriate
        //drop down boxes in each cell. Every row's boxes have unique identifiers, because it increments each time it runs.
        function addRow() {
            $('#playersTable tr:last').after('\
                    <tr>\
                        <td>\
                            <select class="form-object-master instrument_dropdown form-validate" data-key="instrumentname" data-mapping="' + rowId + '">\
                                <option value=""></option>\
                                {% for i in instrumentlist %}<option value="{{ i }}">{{ i }}</option>{% endfor %}\
                            </select>\
                        </td>\
                        <td>\
                            <select class="player_dropdown form-validate" data-key="userid" data-mapping="' + rowId + '">\
                                <option value=""></option>\
                            </select>\
                        </td>\
                    </tr>');
            rowId = rowId + 1;
            validate_all();
        }

        //run when user (or javascript) changes the content of an instrument dropdown. Populates the corresponding
        //player dropdown with people that play that instrument that are not the current user.
        $(document).on("change", '.instrument_dropdown[data-mapping!=0]', function () {   
            //grab value that was selected on the dropdown
            var selectedinstrument = $(this).val();
            console.log('Detected dropdown instrument change to ' + selectedinstrument)

            if (selectedinstrument == "") {
                $(this).parents('tr').remove();
            }

            $('.instrument_dropdown').each(function() {
                if ($(this).val() == "") {
                    $(this).parents('tr').remove();
                }
            });
            addRow();
            // add values to list 
            var listItems = "<option value=''></option>";
            for (var i = 0; i < players.length; i++) {
                if (players[i].instrumentname == selectedinstrument) {
                    listItems += "<option value='" + players[i].userid + "'>" + {% if conductorpage %}'Level ' + players[i].grade + ' - ' +{% endif %} players[i].firstname + " " + players[i].lastname + "</option>";
                };
            };
            $(".player_dropdown[data-mapping=" + $(this).data('mapping') + "]").html(listItems);
        });

        //run when user changes the content of a player dropdown. checks for other dropdown boxes that contain the
        //name of the player that was selected and removes them.
        $(document).on("change", '.player_dropdown', function (e) {
            //grab value that was selected on the dropdown
            var selectedplayer = $(this).val();
            //only run the code if it's the original event to prevent recursion (this function would go infinite otherwise)
            if (e.originalEvent) {
                $('.player_dropdown').not(this).each(function() {
                    if ($(this).val() == selectedplayer) {
                        $(this).val("").change();
                    }
                });
            }                
        });

        //run when a user changes the select template dropdown
        $(document).on("change", '.group_template_dropdown', function (e) {
            e.preventDefault();
            var ob = $(this);
            console.log('Value of the dropdown: ' + ob.val());
            //get the user selected template or music and format it so we can iterate over it later
            if (ob.attr('id') == 'musicid') {
                var grep_template = $.grep(musics, function (elt) {
                    return String(elt.musicid) === String(ob.val());
                });
                if (e.originalEvent) {
                    $('#groupname').val('').change()
                }
                if ($('#musicid').val() == '') {
                    $('.hidemusic').show();
                    $('.instrument_dropdown .first_instrument_dropdown').each(function() {
                        $(this).prop("disabled", false);
                    });
                }
                else {
                    $('#musicwritein').val('').change();
                    $('.hidemusic').hide();
                    $('.instrument_dropdown .first_instrument_dropdown').each(function() {
                        console.log('Disabling ' + $(this).html())
                        $(this).prop("disabled", true);
                    });
                }
            }
            else if (ob.attr('id') == 'groupname') {
                var grep_template = $.grep(grouptemplates, function (elt) {
                    return String(elt.grouptemplatename) === String(ob.val());
                });
                if (e.originalEvent) {
                    $('#musicid').val('').change()
                }
            }
            console.log(grep_template)
            selectedTemplate = grep_template[0];
            console.log('Selected template is:');
            console.log(selectedTemplate);

            if (conductorpage == "True") {
                //remove all rows in the table except the header and first instrument slot
                $("#playersTable").find("tr:gt(0)").remove();
                addRow();
            }

            //if this is not the conductor group request, handle which instrument the user plays
            if (conductorpage == "False") {                    
                //remove all rows in the table excapt for the header and row containing the user, and add a new row for later
                $("#playersTable").find("tr:gt(1)").remove();
                addRow();
                var foundprimary = false
                
                //check if the user's primary instrument is in this group. if it is, set it.
                $.each(selectedTemplate, function(key,value){
                    if ((key == primaryinstrument) && (value > 0)) {
                        console.log('found that the users primary instrument is in this group. Key: ' + key);
                        foundprimary = true;
                        console.log('Changing the associated user instrument to ' + key);
                        $('.first_instrument_dropdown').val(key).change();
                    }
                });
                
                //if the user's primary instrument is not in the group, find an instrument that is, and set it.
                if (foundprimary == false) {
                    console.log('Found the users primary instrument is not in the requested group. Iterating through the users instruments to see which one matches this group');
                    $.each(selectedTemplate, function(key,value){
                        for (var x = 1; x <= value; x++) {
                            //get the first instrument that this user plays that matches this instrument
                            matchinginstrument = thisuserinstruments.filter(function(obj){return obj.instrumentname == key;})[0]
                            if (matchinginstrument) {
                                console.log('found this user plays intsrument ' + matchinginstrument.instrumentname + ' which matches instrument in group ' + key);
                                console.log('setting this user instrument to ' + key)
                                $('.first_instrument_dropdown').val(key).change();
                                break;
                            }
                        }
                    });
                }
            }

            //for each instrument type in the group template
            $.each(selectedTemplate, function(key,value){
                //make sure it's an instrument type and not other associated metadata
                if ((instrumentlist_string.split(',').indexOf(key) > -1) && value > 0) {
                    console.log(key + ": "+String(value));
                    //if the current instrument we're looking at is the same as the one that we selected for the user, decrement it because we already have one player
                    if (key == $("[data-mapping=0][data-key='instrumentname']").val()) {
                        value = value - 1; 
                    }
                    if (value > 0) {
                        for (var i = 0; i < value; i++) {
                            $('.instrument_dropdown[data-mapping=' + String(rowId - 1) + ']').val(key).change();
                        }
                    }
                }
            });

            if ($('#musicid').val() == '') {
                $('.instrument_dropdown').prop("disabled", false);
                $('.first_instrument_dropdown').prop("disabled", false);
            }
            else {
                $('.instrument_dropdown').prop("disabled", true);
                $('.first_instrument_dropdown').prop("disabled", true);
            }
        });
        requestedmusicid = '{{requestedmusic.musicid}}';
        if (requestedmusicid != 'None' && requestedmusicid != '') {
            $('#musicid').val(requestedmusicid).change();
        }
        
    });
</script>
{% endblock %}
{% block breadcrumbs %}
{% if conductorpage %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/period/{{ thisperiod.periodid }}/" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
<li class="w3-hide-small w3-hide-medium"><a href="#" class="w3-hover-white">Create a Group</a></li>
{% else %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">Group Request</a></li>
{% endif %}
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    <h4><b>Save</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
    <h1>Group Request</h1>
    {% if conductorpage %}
    <table id="configTable">
    <tr>
        <th>Period Name</th>
        <td>{{ thisperiod.periodname }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ thisperiod.starttime.strftime('%A, %Y-%m-%d') }}</td>
    </tr>
    </table>
    <p>
        This is a conductor group creation page. This is intended to be for allocation of mentored groups.
        You cannot leave any blank fields for player names on this page.
    </p>
    <p>
        Where will this group be held?
        <select class="form-attribute form-validate" id="locationid">
            <option value=""></option>
            {% for l in locations %}
            <option value="{{ l.locationid }}">{{ l.locationname }}</option>
            {% endfor %}
        </select>
    </p>
    {% endif %}
    {% if not conductorpage %}
    <h3>Step 1: Select Music</h3>
    <p>
        This step is optional, but if you submit or write in music, it's more likely you'll be matched up with like-minded campers!
    </p>
    {% endif %}
    <p>
        Select music to book it out. For more information on the music available, visit the <a href="/user/{{ thisuser.userid }}/musiclibrary/"><i class="fa fa-book"></i> Music Library</a>.
        <select class="form-attribute group_template_dropdown" id="musicid">
            <option value="">Other (Write your own):</option>
            {% for m in musics %}
            <option value="{{m.musicid}}">{{m.composer}} {% if m.musicname|length > 25 %}{{ m.musicname[0:25] }}...{% else %}{{ m.musicname }}{% endif %}</option>
            {% endfor %}
        </select>
    </p>
    <div class="hidemusic">
        <p>Custom Music: <input type="text" class="form-attribute" id="musicwritein"></p>
    </div>
    <h3>Step 2: Select Instrumentation and (optionally) Players</h3>
    <div class="hidemusic">
        <p>
            Choose a group template to more easily fill out the page.
            <select class="form-attribute group_template_dropdown" id="groupname">
                <option value="" selected="selected"></option>
                {% for g in grouptemplates %}
                <option value="{{ g.grouptemplatename }}">{{ g.grouptemplatename }}</option>
                {% endfor %}
            </select>
        </p>
    </div>
    <p>You do not need to fill in players if you don't want to. Any blank players will be filled in automatically when your group is scheduled.</p>
    <table id="playersTable">
        <!--Table Headers-->
        <tr>
            <th>Instrument</th>
            <th>Player (Optional)</th>
        </tr>
        {% if not conductorpage %}
        <tr>
            <!--Row 1 (only appears for the non-conductor group page and is locked to the player name)-->
            <td>
                <select class="form-object-master form-validate first_instrument_dropdown" data-key="instrumentname" data-mapping="0">
                    {% for i in thisuserinstruments %}
                    <option value="{{ i.instrumentname }}">{{ i.instrumentname }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select data-mapping="0" data-key="userid" disabled="disabled" id="this_user" class="form-validate">
                    <option value="{{ thisuser.userid }}">{{ thisuser.firstname }} {{ thisuser.lastname }}</option>
                </select>
            </td>
        </tr>
        {% endif %}
        <tr>
            <!--Row 2 (drop down menu containing instrument, player names are autofilled by the JS upon selection)-->
            <td>
                <select class="form-object-master instrument_dropdown form-validate" data-key="instrumentname" data-mapping="1">
                    <option value=""></option>
                    {% for i in instrumentlist %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="player_dropdown form-validate" data-key="userid" data-mapping="1">
                    <option value=""></option>
                </select>
            </td>
        </tr>
    </table>
{% endblock %}