{% extends "layout.html" %}
{% block title%}Group Scheduler - {{ campname }}{% endblock %}
{% block head %}
<script>
    $(document).ready(function () {

        $(function () {
            $(".tablesorter").tablesorter({
            });
        });
    });

    $(document).ready(function () {
        var fillall_clicked = false;
        $('.reset_spin').hide();
        $('.auto_schedule_spinicon').hide();

        $(document).on("click", '.reset', function (e) {
            if (!fillall_clicked) {
                $('.reset_icon[data-pairing="' + $(this).attr('id') + '"]').hide();
                $('.reset_spin[data-pairing="' + $(this).attr('id') + '"]').show();
                var request = {};
                request.submittype = 'reset';
                var ob = $(this);
                request.groupid = ob.attr('id');
                console.log('Sending to server:')
                console.log(request);
                $.ajax({
                    type: 'POST',
                    url: '/user/{{thisuser.logonid}}/groupqueue/',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(request, null),
                    success: function (data, textStatus) {
                        //upon success, the server will return a success message. Remove the period associated with the group from the page.
                        console.log(data);
                        $('.reset_icon[data-pairing="' + ob.attr('id') + '"]').show();
                        $('.reset_spin[data-pairing="' + ob.attr('id') + '"]').hide();
                        if (data.message == 'none' && data.success == 'true') {
                            toast('Reset Group Period and Location', 'success');
                            $('.period_text[data-pairing="' + ob.attr('id') + '"]').html('&nbsp;');
                        }
                        else if (data.message != 'none' && data.success == 'false') {
                            alert(data.message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $('.reset_icon[data-pairing="' + ob.attr('id') + '"]').show();
                        $('.reset_spin[data-pairing="' + ob.attr('id') + '"]').hide();
                        alert('Submission failed with error: ' + errorThrown);
                    },
                });
            }
        });

        $(document).on("click", '#fillall', function (e) {
            if (!fillall_clicked) {
                fillall_clicked = true
                $('.auto_schedule_text').hide();
                $('.auto_schedule_spinicon').show();
                $('.reset_icon').hide();
                $('.reset_spin').show();
                var request = {};
                request.submittype = 'fillall'
                request.periodid = $('#periodid').val();
                console.log('Sending to server:')
                console.log(request);
                $.ajax({
                    type: 'POST',
                    url: '/user/{{thisuser.logonid}}/groupqueue/',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(request, null),
                    success: function (data, textStatus) {

                        //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                        console.log('Server returned ' + textStatus)
                        if (data.message != 'none') {
                            alert(data.message);
                            fillall_clicked = false;
                        }

                        if (data.url != 'none') {
                            if (data.url == 'refresh') {
                                location.reload()
                            }
                            else {
                                window.location = data.url;
                            }
                        }
                        else {
                            $('.auto_schedule_text').show();
                            $('.auto_schedule_spinicon').hide();
                            $('.reset_icon').show();
                            $('.reset_spin').hide();
                            fillall_clicked = false;
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Submission failed with error: ' + errorThrown);
                        $('.auto_schedule_text').show();
                        $('.auto_schedule_spinicon').hide();
                        $('.reset_icon').show();
                        $('.reset_spin').hide();
                        fillall_clicked = false;
                    },
                });
            }
        });

        $(document).on("keyup keydown keypress", '#search', function () {
            $('.searchable').each(function () {
                var words = $('#search').val().toUpperCase().split(" ");
                for (var i = 0; i < words.length; i++) {
                    if ($(this).data('search').toUpperCase().indexOf(words[i].toUpperCase()) != -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                        break;
                    }
                }
            });
        });
    });

</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">Group Scheduler</a></li>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
        <h2>Group Scheduler</h2>
        <div class="w3-card-4">
            <header class="w3-container w3-dark-gray">
                <h3>Auto-Scheduler</h3>
            </header>
            <div class="w3-container">
                <p>
                    <select class="w3-border w3-select" id="periodid" style="width:75%">
                        <option value="">Select a Period...</option>
                        {% for p in periods %}
                        <option value="{{p.periodid}}">{{ p.starttime.strftime('%d %b') }}: {{ p.periodname }}</option>
                        {% endfor %}
                    </select>
                    <button class="w3-btn w3-white w3-hover-black w3-border w3-round-large" id="fillall">
                        <div class="auto_schedule_text">Auto-Schedule</div><div class="auto_schedule_spinicon"><i class="fa fa-circle-o-notch fa-spin"></i></div>
                    </button>
                </p>

            </div>
        </div>
        <br />
        <div class="w3-card-4">
            <header class="w3-container w3-purple">
                <h3>Groups</h3>
            </header>
            <div class="w3-container">
                <p><input type="text" placeholder="Type to search..." style="overflow: hidden; padding-right: .5em;" class="w3-input w3-border" id="search" value=""></p>
                <p>
                    <table style="width:100%" class="tablesorter">
                        <thead>
                            <tr>
                                <th><div class="w3-hide-small">Request Time</div><div class="w3-hide-medium w3-hide-large">R.Time</div></th>
                                <th class="w3-hide-small">Requestor</th>
                                <th><div class="w3-hide-small">Group Name</div><div class="w3-hide-medium w3-hide-large">Name</div></th>
                                <th>Period</th>
                                <th><div class="w3-hide-small">Status</div><div class="w3-hide-medium w3-hide-large">Stat</div></th>
                                <th>Reset</th>
                            </tr>
                        </thead>
                        <tbody class="zebra-table">
                            {% if groups != None %}
                            {% for g in groups %}
                            <tr class="searchable" data-search="{{ g.requesttime.strftime('%d %b')}} {{g.groupname}} {{ g.firstname }} {{ g.lastname }} {% if g.starttime and g.starttime < now and g.status == 'Confirmed' %}Complete{% else %}{{g.status}}{% endif %} {{g.description}} {% if g.starttime %}{{ g.starttime.strftime('%d %b') }}{% endif %} {{ g.periodname }} {% for i in instrumentlist %}{% if g[i] > 0 %}{{i}} {% endif %}{% endfor %}">
                                <td>
                                    {% if g.requesttime != None %}
                                    {{ g.requesttime.strftime('%d%b %H:%M')}}
                                    {% endif %}
                                </td>
                                <td class="w3-hide-small">{{ g.firstname }} {{ g.lastname }}</td>
                                <td><a href="/user/{{ thisuser.logonid }}/group/{{ g.groupid }}/edit/">{{ g.groupname }}</a></td>
                                <td class="period_text" data-pairing="{{ g.groupid }}">
                                    {% if g.starttime != None and g.endtime != None %}
                                    <a href="/user/{{ thisuser.logonid }}/period/{{ g.periodid }}/">{{ g.starttime.strftime('%d %b') }} {{ g.periodname }}</a>
                                    {% endif %}
                                </td>
                                <td style="text-align:center">
                                    {% if g.status == "Confirmed" %}
                                    {% if g.starttime < now %}
                                    <div class="tooltip"><i class="fa fa-check-circle"></i><span class="tooltiptext tooltiptop">Complete</span></div>
                                    {% else %}
                                    <div class="tooltip"><i class="fa fa-check"></i><span class="tooltiptext tooltiptop">Confirmed</span></div>
                                    {% endif %}
                                    {% else %}
                                    <div class="tooltip"><i class="fa fa-ellipsis-h"></i><span class="tooltiptext tooltiptop">Queued</span></div>
                                    {% endif %}
                                </td>
                                <td style="text-align:center">
                                    {% if not g.starttime or g.starttime > now %}
                                    <button class="w3-btn w3-white w3-hover-black w3-border w3-round-large reset" style="width: 100%" id="{{ g.groupid }}">
                                        <i class="fa fa-minus-square reset_icon" data-pairing="{{ g.groupid }}"></i>
                                        <i class="fa fa-circle-o-notch fa-spin reset_spin" data-pairing="{{ g.groupid }}"></i>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
