{% extends "layout.html" %}
{% block title %}Group Details - {{ campname }}{% endblock %}
{% block head %}
<script>
    $(document).ready(function () {
        $(function () {
            $(".tablesorter").tablesorter({
                headers: {
                    2: {
                        sorter: 'scoreorder',
                    }
                },
                sortList: [[2, 0],[0, 0]]
            });
        });
    });
</script>
{% endblock %}
{% block breadcrumbs %}
{% if thisperiod != None %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/period/{{ thisperiod.periodid }}/" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
<li class="w3-hide-small w3-hide-medium"><a href="#" class="w3-hover-white">{{ thisgroup.groupname }}</a></li>
{% else %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">{{ thisgroup.groupname }}</a></li>
{% endif %}
{% endblock %}
{% if thisuser.isadmin == 1 %}
{% block navbar %}
<li class="w3-opennav w3-right">
    <a href="/user/{{ thisuser.userid }}/group/{{ thisgroup.groupid }}/edit/" class="w3-hover-white w3-large w3-theme-l1"><i class="fa fa-edit"></i></a>
</li>
{% endblock %}
{% block sidenav %}
    <h4><b>Tools</b></h4>
    <a href="/user/{{ thisuser.userid }}/group/{{ thisgroup.groupid }}/edit/" class="w3-hover-black "><i class="fa fa-edit"></i> Edit Group</a>
{% endblock %}
{% endif %}
{% block content %}
            <h2>Group Details</h2>
            <table>
                <tr>
                    <th>Name </th>
                    <td>{{ thisgroup.groupname }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ thisgroup.status }}</td>
                </tr>
                <tr>
                    <th>Music</th>
                    <td>
                        {% if thisgroup.musicid != None %}
                        <a href="/user/{{ thisuser.userid }}/musiclibrary/{{ thisgroup.musicid }}/"><i class="fa fa-book"></i>{{ thismusic.composer }}: {{ thismusic.musicname }}</a>
                        {% elif thisgroup.musicwritein != None %}
                        {{ thisgroup.musicwritein }}
                        {% else %}
                        None Specified
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>
                        {% if thisperiod == None %}
                        Not yet allocated
                        {% else %}
                        {{ thisperiod.starttime.strftime('%A, %Y-%m-%d') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td>
                        {% if thisperiod == None %}
                        Not yet allocated
                        {% else %}
                        <a href="/user/{{ thisuser.userid }}/period/{{ thisperiod.periodid }}/">{{ thisperiod.starttime.strftime('%H:%M') }} - {{ thisperiod.endtime.strftime('%H:%M') }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>
                        {% if thislocation == None %}
                        Not yet allocated
                        {% else %}
                        {{ thislocation.locationname }}
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% if thisgroup.iseveryone != 1 %}
                <h2>Players</h2>
                <table style="width:100%" class="player_table tablesorter" >
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Instrument</th>
                        </tr>
                    </thead>
                    <tbody class="zebra-table">
                        {% for p in players %}
                        <tr>
                            <td>{{ p.firstname }}</td>
                            <td>{{ p.lastname }}</td>
                            <td>{{ p.instrumentname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if substitutes %}
                    <p>
                        If you can not make this group, it is your responsibility to find a substitute and notify them.
                        The following people are not playing in a group at this time and may be able to substitute.
                    </p>
                    <h2>Possible Substitutes</h2>
                    <table style="width:100%" class="player_table tablesorter">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Instrument</th>
                            </tr>
                        </thead>
                        <tbody class="zebra-table">
                            {% for s in substitutes %}
                            <tr>
                                <td>{{ s.firstname }}</td>
                                <td>{{ s.lastname }}</td>
                                <td>{{ s.instrumentname }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endif %}
{% endblock %}