{% extends "layout.html" %}
{% block title %}{{ campname }} Group History{% endblock %}
{% block pagename %}Group History{% endblock %}
{% block content %}
    <p>Number of times played so far this camp: {{ playcount }}</p>
    <table style="width:100%" class="sortable-table">
        <thead>
            <tr>
                <th>Date <i class="fa fa-sort"></i></th>
                <th>Time <i class="fa fa-sort"></i></th>
                <th>Name <i class="fa fa-sort"></i></th>
                <th class="w3-hide-small">Instrument <i class="fa fa-sort"></i></th>
                <th class="w3-hide-small">Location <i class="fa fa-sort"></i></th>
                <th>Status <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody class="zebra-table">
            {% for g in groups %}
            <tr>
                <td>
                    {% if g.periodid != None %}
                    <a href="/user/{{ thisuser.userid }}/date/{{ g.starttime.strftime('%Y-%m-%d') }}/">{{ g.starttime.strftime('%d %b') }}</a></td>
                    {% else %}
                    Queued
                    {% endif %}
                <td>
                    {% if g.periodid != None %}
                    <a href="/user/{{ thisuser.userid }}/period/{{ g.periodid }}/">{{ g.starttime.strftime('%H:%M') }}</a>
                    {% else %}
                    Queued
                    {% endif %}
                </td>
                <td><a href="/user/{{ thisuser.userid }}/group/{{ g.groupid }}/">{{ g.groupname }}</a></td>
                <td class="w3-hide-small">{{ g.instrumentname }}</td>
                <td class="w3-hide-small">{{ g.locationname }}</td>
                <td>
                    {% if g.status == 'Confirmed' and now > g.endtime %}
                    Complete
                    {% elif g.status == 'Confirmed' and now > g.starttime %}
                    In Progress
                    {% else %}
                    {{ g.status }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
