{% extends "layout.html" %}
{% block title %}{{ campname }} Group Editor{% endblock %}
{% block pagename %}&#34;{{ thisgroup.groupname }}&#34; Editor{% endblock %}
{% block head %}
    <script>

        //function to be used by the submit button. called by the template.
        function buildrequest() {
            var request = {};
            //for each group_attribute dropdown on the page, add the value to the object
            $('.group_attribute').each(function() {
                request[$(this).attr('id')] = $(this).val();
            });
            $('.instrumentnumber_dropdown').each(function() {
                request[$(this).data('instrument')] = $(this).val();
            });
            //establish an array to fill with player and instruments
            request.players = []
            $('.player_dropdown').each(function() {
                //create a new object
                var iplayer = {};
                //add the contents of the instrument dropdown to the object
                iplayer.instrumentname = $(this).data('instrument');
                iplayer.userid = $(this).val();
                //push the player object to the players array in the request object
                request.players.push(iplayer);
            });
            return request
        }

        $(document).ready(function () {

            //turn the dump of all players available in this period to a JS object
            {% if playersdump_serialized == [] %}
            var playersdump = null;
            {% else %}
            var playersdump = {{ playersdump_serialized|tojson }};
            {% endif %}
            
            //turn the dump of all players already playing in this group to a JS object
            {% if thisgroupplayers_serialized == [] %}
            var thisgroupplayers = null;
            {% else %}
            var thisgroupplayers = {{ thisgroupplayers_serialized|tojson }};
            {% endif %}

            {% if grouptemplates_serialized == [] %}
            var grouptemplates = null;
            {% else %}
            var grouptemplates = {{ grouptemplates_serialized|tojson }};
            {% endif %}

            //this function updates the table slot containing the total number of players in the group.
            function updatetotal() {
                var sum = 0;
                $('.instrumentnumber_dropdown').each(function() {
                    sum += Number($(this).val());
                });
                $("#total_players").html(sum).change();
            }
            
            //adds a player dropdown to a given cell
            function addPlayer(cell) {
                instrument = cell.attr('data-instrument')
                var sel = ($('<select class="player_dropdown" data-instrument="' + instrument + '">')).appendTo(cell);
                sel.append($("<option>").attr('value',""));
                for (var i = 0; i < playersdump.length; i++) {
                    if (playersdump[i].instrumentname == instrument) {
                        sel.append($("<option>").attr('value',playersdump[i].userid).text(playersdump[i].grade + ' - ' + playersdump[i].firstname + ' ' + playersdump[i].lastname));
                    }
                }
            }

            //removes the last player dropdown in a cell
            function removePlayer(cell) {
                dropdowns = jQuery(cell).find('.player_dropdown')
                dropdowns[dropdowns.length - 1].remove()
            }

            //run when a user changes the select template dropdown
            $(document).on("change", '#group_template_dropdown', function () {
                //get the user selected template and format it so we can iterate over it later
                var grep_template = $.grep(grouptemplates, function (elt) {
                    return elt.grouptemplatename === $(group_template_dropdown).val();
                });
                selectedTemplate = grep_template[0];
                console.log('Selected template is:');
                console.log(selectedTemplate);
                $('#groupname').val(selectedTemplate.grouptemplatename).change();
                //for each instrument type in the group template
                $.each(selectedTemplate, function(key,value) {
                    //make sure it's an instrument type and not other associated metadata
                    if (key != 'grouptemplateid' && key != 'grouptemplatename' && key != 'size' && key != 'minimumlevel' && key != 'maximumlevel' && key != 'defaultlocationid') {
                        if (value == '' || value == null) {
                            value = 0;
                        }
                        $('#number_' + key).val(value).change();
                    }
                    if (key == 'minimumlevel' || key == 'maximumlevel') {
                        if (value == '' || value == 'null') {
                            $('#' + key).val(0).change();
                        }
                        else {
                            $('#' + key).val(value).change();
                        }
                        
                    }
                });
            });

            //when user changes any instrument number drop down boxes
            $(document).on("change", '.instrumentnumber_dropdown', function () {
                updatetotal();
                thisinstrument = $(this).attr('data-instrument');
                playerscell = $('.players_cell[data-instrument="' + thisinstrument + '"]');
                difference = $(this).val() - $('.player_dropdown[data-instrument="' + thisinstrument + '"]').length;
                console.log('Need to add ' + difference + ' dropdowns');
                if (difference > 0) {
                    for (i=0; i < difference; i++) {
                        addPlayer(playerscell);
                    }
                }
                if (difference < 0) {
                    for (i=0; i > difference; i--) {
                        removePlayer(playerscell);
                    }
                } 
            });
            
            //when user changes the period dropdown box, reload the page with data from the new period
            $(document).on("change", '#periodid', function () {
                console.log('User selected period ' + $(this).val() + ', reloading page for that period');
                groupid = '{{ thisgroup.groupid }}'
                if (groupid == 'None') {
                    groupid = 'new';
                }
                window.location = '/user/{{ thisuser.userid }}/group/' + groupid + '/period/' + $(this).val() + '/edit/';
            });

            //run when user changes the content of a player dropdown
            $(document).on("change", '.player_dropdown', function (e) {
                //grab value that was selected on the dropdown
                var selectedplayer = $(this).val();
                //only run the code if it's the original event to prevent recursion (this function would go infinite otherwise)
                if (e.originalEvent) {
                    //for each other drop down box
                    $('.player_dropdown').not(this).each(function() {
                        //set any other boxes with the same player name to blank
                        if ($(this).val() == selectedplayer) {
                            $(this).val("").change();
                        }
                    });
                }
            });

            //when user presses the clear players button
            $("#clear_players").click(function () {
                console.log('Clear players button pressed');
                $('.player_dropdown').each(function() {
                    $(this).val('').change();
                });
                w3_close();
            });

            //when the page loads for the first time, change the instrument numbers to the correct numbers
            {% for i in instrumentlist %}
            {% if thisgroup[i] == None %}
            $('#number_{{i}}').val(0).change();
            {% else %}
            $('#number_{{i}}').val({{ thisgroup[i] }}).change();
            {% endif %}
            {% endfor %}

            //changes all player dropdowns to match the players already playing in the group. 
            //Sets the players to bold in their respective dropdowns.
            //UNFINISHED - does not match up with the current ID numbering created by the above dropdown box creation. Need to be more clever
            instrumentcounter = {}
            var breakout = false
            if (thisgroupplayers != null) {
                for (var i = 0; i < thisgroupplayers.length; i++) {
                    breakout = false;
                    $('.player_dropdown[data-instrument=' + thisgroupplayers[i].instrumentname + ']').each(function() {
                        if (($(this).val() == '' || $(this).val() == null) && breakout == false) {
                            $(this).val(thisgroupplayers[i].userid).change();
                            console.log('Changed dropdown box for instrument ' + thisgroupplayers[i].instrumentname + ' to ' + thisgroupplayers[i].firstname);
                            breakout = true;
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}
{% block tools %}
    <h4><b>Edit</b></h4>
    <a href="#" class="w3-hover-black" id="clear_players">Clear Players</a>
    <a href="#" class="w3-hover-black submit_button" data-submittype="autofill" data-method="POST">Autofill Missing Players</a>
    <a href="#" class="w3-hover-black submit_button" data-submittype="save" data-method="POST">Save Changes</a>
    <a href="#" class="w3-hover-black submit_button" data-method="DELETE">Delete Group</a>
{% endblock %}
{% block content %}
                <h2>Group Configuration</h2>
                <table style="width:100%">
                    <tr>
                        <th>Attribute</th>
                        <th class="unimportant-column">Current</th>
                        <th>Change</th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td class="unimportant-column">{{ thisgroup.groupname }}</td>
                        <td><input type="text" id="groupname" class="group_attribute" value="{% if thisgroup.groupname != None %}{{ thisgroup.groupname }}{% endif %}"></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td class="unimportant-column">{{ thisgroup.status }}</td>
                        <td>
                            <select id="status" class="group_attribute">
                                {% if thisgroup.status == "Confirmed" %}
                                <option value="Queued">Queued</option>
                                <option value="Confirmed" selected="selected">Confirmed</option>
                                {% else %}
                                <option value="Queued" selected="selected">Queued</option>
                                <option value="Confirmed">Confirmed</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Music</th>
                        <td class="unimportant-column">{{ thisgroup.music }}</td>
                        <td><input type="text" id="music" class="group_attribute" value="{{ thisgroup.music }}"></td>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <td class="unimportant-column">
                            {% if currentperiod != None %}
                            {{ currentperiod.periodname }}, {{ currentperiod.starttime.strftime('%a, %d %b') }}, {{ currentperiod.starttime.strftime('%H:%M') }}-{{ currentperiod.endtime.strftime('%H:%M') }}
                        </td>
                        {% endif %}
                        <td>
                            <select id="periodid" class="group_attribute">
                                <option value="None"></option>
                                {% for p in periods %}
                                {% if p.periodid == selectedperiod.periodid %}
                                <option value="{{ p.periodid }}" selected="selected">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}, {{ p.starttime.strftime('%H:%M') }}</option>
                                {% else %}
                                <option value="{{ p.periodid }}">{{ p.periodname }}, {{ p.starttime.strftime('%a, %d %b') }}, {{ p.starttime.strftime('%H:%M') }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td class="unimportant-column">{{ thislocation.locationname }}</td>
                        <td>
                            <select id="locationid" class="group_attribute">
                                {% for l in locations %}
                                {% if l.locationid == thislocation.locationid %}
                                <option value="{{ l.locationid }}" selected="selected">{{ l.locationname }} - Capacity: {{ l.capacity }}</option>
                                {% else %}
                                <option value="{{ l.locationid }}">{{ l.locationname}} - Capacity: {{ l.capacity }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Minimum Level</th>
                        <td class="unimportant-column">{{ thisgroup.minimumlevel }}</td>
                        <td>
                            <select id="minimumlevel" class="group_attribute">
                                {% for n in range(maximumlevel + 1) %}
                                {% if n == thisgroup.minimumlevel and n == 0 %}
                                <option value="{{ n }}" selected="selected">Auto</option>
                                {% elif n == thisgroup.minimumlevel %}
                                <option value="{{ n }}" selected="selected">{{ n }}</option>
                                {% elif n == 0 %}
                                <option value="{{ n }}">Auto</option>
                                {% else %}
                                <option value="{{ n }}">{{ n }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Maximum Level</th>
                        <td class="unimportant-column">{{ thisgroup.maximumlevel }}</td>
                        <td>
                            <select id="maximumlevel" class="group_attribute">
                                {% for n in range(maximumlevel + 1) %}
                                {% if n == thisgroup.maximumlevel and n == 0 %}
                                <option value="{{ n }}" selected="selected">Auto</option>
                                {% elif n == thisgroup.maximumlevel %}
                                <option value="{{ n }}" selected="selected">{{ n }}</option>
                                {% elif n == 0 %}
                                <option value="{{ n }}">Auto</option>
                                {% else %}
                                <option value="{{ n }}">{{ n }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Counted towards play totals</th>
                        <td class="unimportant-column">
                            {% if thisgroup.ismusical == 0 %}No
                            {% else %}Yes
                            {% endif %}
                        </td>
                        <td>
                            <select id="ismusical" class="group_attribute">
                                {% if thisgroup.ismusical == 0 %}
                                <option value="1">Yes</option>
                                <option value="0" selected="selected">No</option>
                                {% else %}
                                <option value="1" selected="selected">Yes</option>
                                <option value="0">No</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                    <tr class="unimportant-column">
                        <th>Requested User</th>
                        <td colspan="2" class="unimportant-column">{{ thisgroup.requesteduserid }}</td>
                    </tr>
                    <tr class="unimportant-column">
                        <th>Request Time</th>
                        <td colspan="2" class="unimportant-column">
                            {% if thisgroup.requesttime != None %}
                            {{ thisgroup.requesttime.strftime('%A, %Y-%m-%d') }}, {{ thisgroup.requesttime.strftime('%H:%M') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Total Players:</th>
                        <td id="total_players"></td>
                    </tr>
                </table>
                <h2>Players</h2>
                <p>Players bolded in the below table are the current players in that group. Player are shown with their grades on the respective instruments before their names.</p>
                <p>
                    Optional: Select a group template to autofill the page. Note - this wipes the current configuration.
                    <select id="group_template_dropdown">
                        <option value=""></option>
                        {% for g in grouptemplates %}
                        <option value="{{ g.grouptemplatename }}">{{ g.grouptemplatename }}</option>
                        {% endfor %}
                    </select>
                </p>
                <table class="sortable" id="table_players">
                    <tr>
                        <th>Instrument</th>
                        <th>Number</th>
                        <th>Current Players</th>
                        <!--<th>Available Players</th>-->
                    </tr>
                    {% set count = 0 -%}
                    {% for i in instrumentlist %}
                    <tr id="row_{{ i }}">
                        <td>{{ i }}</td>
                        <td>
                            <select class="instrumentnumber_dropdown" id="number_{{ i }}" data-instrument="{{i}}">
                                <option value="0" selected="selected">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </td>
                        <td class="players_cell" data-instrument="{{i}}">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
{% endblock %}
{% block footer %}
<!-- Navbar -->
<div class="w3-bottom">
    <ul class="w3-navbar w3-theme w3-bottom w3-left-align w3-large">
        <li><a href="#" class="w3-hover-white submit_button" data-submittype="submit" data-method="POST">Submit</a></li>
    </ul>
</div>
{% endblock %}