{% extends "layout.html" %}
{% block title%}Home - {{ campname }}{% endblock %}
{% block head %}
<script>

    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function () {

        //handler for thisuser clicking the button requesting an absence
        $(".absent_request_button").click(function () {
            $(this).prop('disabled', true).addClass('disabled');
            console.log("User requested absence");
            var post_absent = $.ajax({
                type: 'POST',
                url: '/user/{{ thisuser.userid }}/period/' + this.id + '/absent/confirm/'
            });

            // handle response
            post_absent.done(function (response) {
                console.log(response);
                location.reload();
            });
        });

        //handler for thisuser clicking the button requesting to cancel an absence
        $(".absent_cancel_button").click(function () {
            $(this).prop('disabled', true).addClass('disabled');
            console.log("User Removed their Absence");
            var post_absent = $.ajax({
                type: 'POST',
                url: '/user/{{ thisuser.userid }}/period/' + this.id + '/absent/cancel/'
            });

            // handle response
            post_absent.done(function (response) {
                console.log(response);
                location.reload();
            });
        });

        //handler for the user changing the dropdown date picker
        $(document).on("change", '.date_select', function () {
            window.location.replace("/user/{{ thisuser.userid }}/date/" + $(this).val() + "/")
            /*
            request = {};
            request.date = $(this).val();
            response = sendtoserver(request, 'POST', "/user/{{ thisuser.userid }}/requestschedule/");
            console.log(response);
            */
        });
    });
</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">{{ date.strftime('%d %b') }}</a></li>
{% endblock %}
{% block content %}
        {% if thisuser.isactive == 0 %}
        <h2>You are currently set to inactive. You will not be allocated to any groups.</h2>
        {% endif %}
        {% if currentannouncement != '' and currentannouncement != None %}
        <h3>Announcements</h3>
        <p>{{ currentannouncement|safe }}</p>
        {% endif %}
        <p>
            <div class="w3-center">
                <a class="w3-btn w3-white w3-border" href="/user/{{ thisuser.userid }}/date/{{ previousday.strftime('%Y-%m-%d') }}/">&#10094; Previous</a>
                <div class="w3-dropdown-hover">
                    <button class="w3-btn w3-white w3-border">
                        {% if date.strftime('%Y-%m-%d') == today.strftime('%Y-%m-%d') %}
                        Today
                        {% else %}
                        {{ date.strftime('%a, %d %b') }}
                        {% endif %}
                    </button>
                    <div class="w3-dropdown-content w3-border">
                        {% for d in dates %}
                        {% if d.strftime('%Y-%m-%d') == today.strftime('%Y-%m-%d') %}
                        <a href="/user/{{ thisuser.userid }}/date/{{d.strftime('%Y-%m-%d')}}/">Today</a>
                        {% else %}
                        <a href="/user/{{ thisuser.userid }}/date/{{d.strftime('%Y-%m-%d')}}/">{{ d.strftime('%a, %d %b') }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <a class="w3-btn w3-white w3-border" href="/user/{{ thisuser.userid }}/date/{{ nextday.strftime('%Y-%m-%d') }}/">Next &#10095;</a>
            </div>
        </p>
<div class="w3-row">
    <div class="w3-container w3-half">
        <h2>Morning</h2>
        {% set afternoon = 0 %}
        {% for p in schedule %}
        
        {% if p.starttime > midday and afternoon == 0 %}
        </div>
    <div class="w3-container w3-half">
        <h2>Afternoon</h2>
        {% set afternoon = 1 %}
        {% endif %}
        <div class="w3-card-4">
            <header class="accordion w3-panel

                    {% if p.groupname == 'absent' %}
                    w3-dark-gray
                    {% elif p.groupname and p.ismusical == 1 %}
                    w3-pink
                    {% elif p.iseveryone == 1 and p.meal == 1 %}
                    w3-blue
                    {% elif p.iseveryone == 1 %}
                    w3-indigo
                    {% else %}
                    w3-green
                    {% endif %}

                    ">
                <h5>
                    {{p.starttime.strftime('%H:%M')}}:

                    {% if p.groupname == 'absent' %}
                    Absent
                    {% elif p.groupname and p.ismusical == 1 %}
                    {{p.groupname}}
                    {% elif p.iseveryone == 1 and p.meal == 1 %}
                    {{p.periodname}}
                    {% elif p.iseveryone == 1 %}
                    {{p.groupname}}
                    {% else %}
                    Free Period
                    {% endif %}

                    <i class="fa fa-caret-down w3-right"></i>
                </h5>
            </header>
            <div class="w3-accordion-content panel">
                <div class="w3-container">
                    <!-- If the user is absent, warn them that they won't be assigned to groups -->
                    {% if p.groupname == "absent" %}
                    <div class="w3-panel w3-red">
                        <p>You are marked absent for this period. You will not be allocated to any groups.</p>
                    </div>
                    {% endif %}
                    <table class="w3-table">
                        <tr>
                            <th>Time</th>
                            <td>{{ p.starttime.strftime('%H:%M') }} - {{ p.endtime.strftime('%H:%M') }}</td>
                        </tr>
                        {% if (p.ismusical == 1 or p.iseveryone == 1 or p.meal == 1) and p.groupname != 'absent' %}
                        <tr>
                            <th>Location</th>
                            <td>{{p.locationname}}</td>
                        </tr>
                        {% endif %}
                        {% if p.groupname and p.ismusical == 1 %}
                        <tr>
                            <th>Instrument</th>
                            <td>{{p.instrumentname}}</td>
                        </tr>
                        {% endif %}
                    </table>
                    <p>
                        <!-- Give the user a link to the whole period details -->
                        <a class="w3-btn-block w3-white w3-border" href="/user/{{ thisuser.userid }}/period/{{ p.periodid }}/">Full Listing for this Period</a>

                        <!-- If this is an assigned group, show a link to the group details -->
                        {% if p.groupname and p.ismusical == 1 %}
                        <a class="w3-btn-block w3-white w3-border" href="/user/{{ thisuser.userid }}/group/{{ p.groupid }}/">Group Details</a>
                        {% endif %}

                        <!-- If this is a future date, show the user the absent buttons -->
                        {% if date > today %}
                        <!-- If if the user is currently not assigned to a group, show them a button where they can mark themselves as absent -->
                        {% if not p.groupname or p.iseveryone %}
                        <button id={{ p.periodid }} data-periodname="{{ p.periodname }}" class="absent_request_button w3-btn-block w3-white w3-border">Mark Me as Absent</button>
                        <!-- If they are currently absent, show the a button to mark themselves as present -->
                        {% elif p.groupname == "absent" %}
                        <button id={{ p.periodid }} data-periodname="{{ p.periodname }}" class="absent_cancel_button w3-btn-block w3-white w3-border">Mark Me as Present</button>
                        {% endif %}
                        {% endif %}
                        <!-- Is this user is an conductor, they can request small groups or create instrumentation -->
                        {% if thisuser.isconductor == 1 and date > today %}
                        <a class="w3-btn-block w3-white w3-border" href="/user/{{ thisuser.userid }}/grouprequest/conductor/{{ p.periodid }}/">Create a Small Group Here</a>
                        <a class="w3-btn-block w3-white w3-border" href="/user/{{ thisuser.userid }}/instrumentation/{{ p.periodid }}/">Create Instrumentation Here</a>
                        {% endif %}
                        <!-- If this user is an admin, they can use the super editor, and create public events-->
                        {% if thisuser.isadmin == 1 %}
                        <a class="w3-btn-block w3-white w3-border" href="/user/{{ thisuser.userid }}/group/new/period/{{ p.periodid }}/edit/">Edit a New Group Here</a>
                        <a class="w3-btn-block w3-white w3-border" href="/user/{{ thisuser.userid }}/publicevent/{{ p.periodid }}/">Create Public Event Here</a>
                        {% endif %}
                    </p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <p>Last updated: {{ now.strftime('%Y-%m-%d %H:%M:%S') }}</p>
</div>
{% endblock %}
