{% extends "layout.html" %}
{% block title %}Instrumentation - {{ campname }}{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if (ob.val() != '') {
            return true
        }
        else {
            return false
        }
    }

    /* this script handles all user interaction in the group request page. Upon page load, it downloads all players
    in the camp including the instruments they play, all templates as stated by the config.xml, and the instruments
    this user plays. it uses all of this data to populate drop-down boxes, depending on what the user selects. */

    $(document).ready(function () {

        var grouptemplates = {{ grouptemplates_serialized|tojson }};
        console.log("Grouptemplates:");
        console.log(grouptemplates);

        var musics = {{ musics_serialized|tojson }};
        console.log("Music Database:");
        console.log(musics);

        var instrumentlist_string = '{{ instrumentlist_string }}'

        //run when a user changes the select template dropdown
        $(document).on("click change", '.template', function (e) {
            //get the user selected template and format it so we can iterate over it later
            var ob = $(this);
            $('#protip').hide();
            console.log('User is attempting to apply ' + ob.attr('id'));
            if (ob.attr('id') == 'musicid') {
                console.log('Selected objects id is ' + ob.attr('id'));
                var grep_template = $.grep(musics, function (elt) {
                    return String(elt.musicid) === String(ob.val());
                });
                if ($('#musicid').val() == '') {
                    $('#hidemusic').show();
                    $('#musicwritein').addClass('form-validate');
                }
                else {
                    $('#musicwritein').val('').change();
                    $('#hidemusic').hide();
                    $('#musicwritein').removeClass('form-validate');
                }
            }
            else {
                var grep_template = $.grep(grouptemplates, function (elt) {
                    return String(elt.grouptemplateid) === String(ob.attr('id'));
                });
                $('#musicid').val('').change();
                w3_close();
                toast('Applied ' + ob.html(),'message');
            }

            selectedTemplate = grep_template[0];
            console.log('Selected template is:');
            console.log(selectedTemplate);
            //for each instrument type in the group template
            $.each(selectedTemplate, function(key,value){

                if (instrumentlist_string.split(',').indexOf(key) > -1) {
                    console.log(key + ": "+String(value));
                    $('#' + key).val(0).change();
                    if (value > 0) {
                        $('#' + key).val(value).change();
                    }
                }
                else if (key == 'grouptemplatename') {
                    $('#groupname').val(value).change();
                }
                else if (key == 'defaultlocationid') {
                    $('#locationid').val(value).change();
                }
                else if (key == 'minimumlevel') {
                    $('#minimumlevel').val(value).change();
                }
                else if (key == 'maximumlevel') {
                    $('#maximumlevel').val(value).change();
                }
            });
        });
    });
</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/period/{{ thisperiod.periodid }}/" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
<li class="w3-hide-small w3-hide-medium"><a href="#" class="w3-hover-white">New Instrumentation</a></li>
{% endblock %}
{% block sidenav %}
<h4><b>Tools</b></h4>
<a class="accordion" href="#">
    Apply a Template <i class="fa fa-caret-down w3-right"></i>
</a>
<div id="templates" class="w3-accordion-content w3-card-4 panel">
    {% for g in grouptemplates %}
    <a href="#" class="w3-hover-black template" id="{{ g.grouptemplateid }}">{{ g.grouptemplatename }}</a>
    {% endfor %}
</div>
<div class="submit_hide">
    <h4><b>Save</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container w3-half">
        <div id="protip" class="w3-panel w3-blue">
            <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
            <h3>Pro tip!</h3>
            <p>You can fill this page much easier with a template. Templates are found by clicking the hamburger menu in the top left.</p>
        </div> 
        <h2>Group Configuration</h2>
        <table id="configTable" class="border-table">
            <tr>
                <th>Period Name</th>
                <td>{{ thisperiod.periodname }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ thisperiod.starttime.strftime('%A, %Y-%m-%d') }}</td>
            </tr>
            <tr>
                <th>Group Name</th>
                <td><input type="text" class="form-attribute form-validate w3-input w3-border" id="groupname"></td>
            </tr>
            <tr>
                <th>Music</th>
                <td>
                    <select class="form-attribute template w3-select w3-border" id="musicid">
                        <option value="">Other (Write your own):</option>
                        {% for m in musics %}
                        <option value="{{m.musicid}}">{{m.composer}} {% if m.musicname|length > 25 %}{{ m.musicname[0:18] }}...{% else %}{{ m.musicname }}{% endif %}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="hidemusic">
                <th>Custom Music</th>
                <td><input type="text" class="form-attribute form-validate w3-input w3-border" id="musicwritein"></td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                    <select class="form-attribute form-validate w3-select w3-border" id="locationid">
                        <option value=""></option>
                        {% for l in locations %}
                        <option value="{{ l.locationid }}">{{ l.locationname }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Minimum Level</th>
                <td>
                    <select class="form-attribute w3-select w3-border" id="minimumlevel">
                        {% for n in range(maximumlevel + 1) %}
                        {% if n  == 0 %}
                        <option value="{{ n }}">Auto</option>
                        {%else%}
                        <option value="{{ n }}">{{ n }}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Maximum Level</th>
                <td>
                    <select class="form-attribute w3-select w3-border" id="maximumlevel">
                        {% for n in range(maximumlevel + 1) %}
                        {% if n  == 0 %}
                        <option value="{{ n }}">Auto</option>
                        {%else%}
                        <option value="{{ n }}">{{ n }}</option>
                        {%endif%}
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <p>
            <label>Conductor Name</label>
            <select class="form-attribute w3-select w3-border" id="conductoruserid">
                <option value=""></option>
                {% for c in conductors %}
                {% if c.userid == thisuser.userid %}
                <option value="{{ c.userid }}" selected="selected">{{ c.firstname }} {{ c.lastname }}</option>
                {% else %}
                <option value="{{ c.userid }}">{{ c.firstname }} {{ c.lastname }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </p>
    </div>
    <div class="w3-container w3-half">
        <h2>Group Instrumentation</h2>
        <table id="playersTable" class="w3-table border-table">
            <!--Table Headers-->
            <tr>
                <th>Instrument</th>
                <th>Number</th>
            </tr>
            {% for i in instrumentlist %}
            <tr>
                <td>{{ i }}</td>
                <td>
                    <select class="instrumentnumber_dropdown form-attribute form-validate w3-select w3-border" id="{{ i }}">
                        {% set n = 21 %}
                        {% for n in range(n) %}
                        <option value="{{ n }}">{{ n }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
