<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>if (!window.jQuery) { document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>'); }</script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large">
            <li class="w3-opennav w3-right w3-hide-large">
                <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
            </li>
            <li><a href="#" class="w3-theme-l1">{% block pagename %}{% endblock %}</a></li>
            <li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/" class="w3-hover-white">Dashboard</a></li>
            <li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/grouprequest/" class="w3-hover-white">Request a group</a></li>
            <li class="w3-hide-medium w3-hide-small"><a href="/user/{{ thisuser.userid }}/grouphistory/" class="w3-hover-white">Group History</a></li>
            <li class="w3-hide-medium w3-hide-small"><a href="mailto:{{ supportemailaddress }}" class="w3-hover-white">Contact Camp Administration</a></li>
        </ul>
    </div>

    <!-- Sidenav -->
    <nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;" id="mySidenav">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
            <i class="fa fa-remove"></i>
        </a>

        {% block edit %}{% endblock %}

        <h4><b>Navigation</b></h4>
        <a href="/user/{{ thisuser.userid }}/" class="w3-hover-black">Dashboard</a>
        <a href="/user/{{ thisuser.userid }}/grouprequest/" class="w3-hover-black">Request a group</a>
        <a href="/user/{{ thisuser.userid }}/grouphistory/" class="w3-hover-black">Group History</a>
        {% if thisuser.isannouncer == 1 %}
        <a href="/user/{{ thisuser.userid }}/announcement/" class="w3-hover-black">Announcement Editor</a>
        {% endif %}
        <a href="mailto:{{ supportemailaddress }}" class="w3-hover-black">Contact Camp Administration</a>
    </nav>

    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
    <div class="w3-main" style="margin-left:250px">

        <div class="w3-row">
            <div class="w3-container">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block footer %}{% endblock %}
    </div>
    <script src="/js/sidenav.js"></script>
</body>
</html>