<!DOCTYPE html>
<html height="100%">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/print.css" media="print" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ favicon }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ favicon }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ favicon }}/manifest.json">
    <link rel="mask-icon" href="{{ favicon }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>
    <script>if (!window.jQuery) { document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>'); }</script>
    <script src="/js/jquery.tablesorter.js"></script>
    <script>
        
        var isClicked = false
        
        function sendtoserver (request,method,url) {
            //this function handles AJAX sending to the server
            $.ajax({
                //make a POST AJAX query to the same web page as the user is currently visiting
                url: (url),
                type: method,
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(request, null),
                success: function(data, textStatus) {
                    //upon success, the server will return a message and a URL. give the user the message and send them to the URL.
                    console.log(data);
                    if (data.message != 'none') {
                        alert(data.message);
                        isClicked = false;
                    }
                    if (data.url != 'none') {
                        window.location = data.url;
                    }
                    else {
                        isClicked = false;
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Submission failed with error: ' + errorThrown);
                    isClicked = false;
                },
            });
        }

        $(document).ready(function () {
            
            /* CURRENTLY BROKEN
            // add parser through the tablesorter addParser method
            $.tablesorter.addParser({
                // set a unique id
                id: 'scoreorder',
                is: function (s) {
                    // return false so this parser is not auto detected
                    return false;
                },
                format: function (s) {
                    // format your data for normalization
                    return s.toLowerCase(){% for i in instrumentlist %}.replace(/{{ i }}/, {{ loop.index }}){% endfor %};
                },
                // set type, either numeric or text
                type: 'numeric'
            });
            */

            $(function () {
                $(".sortable-table").tablesorter({
                    /*sortList: [2,1],
                    headers: {
                        2: {
                            sorter: 'scoreorder',
                            emptyto: 'top'
                        }
                    }*/
                });
            });
            

            //every page that needs to submit data uses this function. This only works if the page has an element with:
            //class="submit_button"
            //data-method="POST" (or "DELETE")
            //optional: data-submittype="Whatever you like" this is used to pass extra info about the button type to the server
            $(".submit_button").click(function () {
                if (!isClicked) {
                    isClicked = true;
                    console.log('Submit button pressed with method ' + $(this).data('method'));
                    if ($(this).data('method') == 'DELETE') {
                        var r = confirm('Are you sure you want to delete this group?');
                        if (r == true) {
                            sendtoserver('null','DELETE')
                        }
                    }
                    else {
                        //This function relies on a buildrequest function. Every page needs its own in its own script.
                        var request = buildrequest()
                        if ($(this).data('submittype') != '' || $(this).data('submittype') != null) {
                            request.submittype = $(this).data('submittype')
                        }
                        if ($(this).data('url') != '' || $(this).data('url') != null) {
                            url = $(this).data('url')
                        }
                        else { url = window.location.href }

                        console.log('Pushing the request to the server for processing:');
                        console.log(request);
                        sendtoserver(request, $(this).data('method'),url)
                    }
                }
            });
        });

    </script>
    {% block head %}{% endblock %}
</head>
<body height="100%">
    <!-- Navbar -->
    <div class="w3-top no-print">
        <ul class="w3-navbar w3-theme w3-top w3-left-align w3-large" style="display:inline-block; white-space:nowrap;">
            <li class="w3-opennav w3-right w3-hide-large">
                <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
            </li>
            <li class="w3-opennav w3-right"><a href="/user/{{ thisuser.userid }}/" class="w3-hover-white w3-large w3-theme-l1"><i class="fa fa-home"></i></a></li>
            <li><a href="#" class="w3-theme-l1">{% block pagename %}{% endblock %}</a></li>
            <li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/grouprequest/" class="w3-hover-white">Request a group</a></li>
            <li class="w3-hide-small w3-hide-medium"><a href="/user/{{ thisuser.userid }}/grouphistory/" class="w3-hover-white">Group History</a></li>
        </ul>
    </div>

    <!-- Sidenav -->
    <nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left no-print" style="z-index:3;width:250px;padding-bottom:80px" id="mySidenav">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        {% block tools %}{% endblock %}
        <h4><b>Navigation</b></h4>
        <a href="/user/{{ thisuser.userid }}/" class="w3-hover-black"><i class="fa fa-home"></i> Home</a>
        <a href="/user/{{ thisuser.userid }}/grouprequest/" class="w3-hover-black">Request a group</a>
        <a href="/user/{{ thisuser.userid }}/grouphistory/" class="w3-hover-black">Group History</a>
        <a href="mailto:{{ supportemailaddress }}" class="w3-hover-black">Contact Camp Administration</a>
        {% if thisuser.isannouncer == 1 %}
        <h4><b>Announcer</b></h4>
        <a href="/user/{{ thisuser.userid }}/announcement/" class="w3-hover-black">Announcement Editor</a>
        {% endif %}
        {% if thisuser.isadmin == 1 %}
        <h4><b>Admin</b></h4>
        <a href="/user/{{ thisuser.userid }}/groupqueue/" class="w3-hover-black">Queued Groups</a>
        <a href="/user/{{ thisuser.userid }}/useradmin/" class="w3-hover-black">User Administration</a>
        {% endif %}
    </nav>

    <!-- Overlay effect when opening sidenav on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- Main content: shift it to the right by 250 pixels when the sidenav is visible -->
    <div class="w3-main" style="margin-left:250px;">

        <div class="w3-row">
            <div class="w3-container">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block footer %}{% endblock %}
    </div>
    <script>
        // Get the Sidenav
        var mySidenav = document.getElementById("mySidenav");
        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");
        // Toggle between showing and hiding the sidenav, and add overlay effect
        function w3_open() {
            if (mySidenav.style.display === 'block') {
                mySidenav.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidenav.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }
        // Close the sidenav with the close button
        function w3_close() {
            mySidenav.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
</body>
</html>