{% extends "layout.html" %}
{% block title%}Music Library - {{ campname }}{% endblock %}
{% block head %}
<script>
    $(document).ready(function () {

        $(function () {
            $(".tablesorter").tablesorter({
                sortList: [[0, 0]]
            });
        });

        $(document).on("keyup keydown keypress", '#search', function () {
            $('.searchable').each(function () {
                var words = $('#search').val().toUpperCase().split(" ");
                for (var i = 0; i < words.length; i++) {
                    if ($(this).data('search').toUpperCase().indexOf(words[i].toUpperCase()) != -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                        break;
                    }
                }
            });
        });
    });
</script>
{% endblock %}
{% block navbar %}
<li class="w3-opennav w3-right">
    <a href="/user/{{ thisuser.logonid }}/musiclibrary/new/" class="w3-hover-white w3-large w3-theme-l1"><i class="fa fa-plus"></i></a>
</li>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">Music Library</a></li>
{% endblock %}
{% block sidenav %}
<h4><b>Tools</b></h4>
<a href="/user/{{ thisuser.logonid }}/musiclibrary/new/" class="w3-hover-black"><i class="fa fa-plus"></i> Create New Entry</a>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
        <p>Click on a work name for more details and to make a request to play it! You can search for composers, work names or instrumentation, or click on the column headers to sort.</p>
        <p>
            <input type="text" placeholder="Type to search..." style="overflow: hidden; padding-right: .5em;" class="w3-input w3-border" id="search" value="">
        </p>
        <table style="width:100%" class="tablesorter w3-hoverable border-table">
            <thead>
                <tr>
                    <th>Composer</th>
                    <th>Name</th>
                    <th><div class="w3-hide-small">Instrumentation</div><div class="w3-hide-medium w3-hide-large">Inst.</div></th>
                </tr>
            </thead>
            <tbody>
                {% if musics != None %}
                {% for m in musics %}
                <tr class="searchable" data-search="{{m.composer}} {{m.musicname}} {% for i in instrumentlist %}{% if m[i] > 0 %}{{i}} {% endif %}{% endfor %} {% for t in grouptemplates %}{% if m.grouptemplateid == t.grouptemplateid %}{{t.grouptemplatename}}{% endif %}{% endfor %}">
                    <td><a href="/user/{{ thisuser.logonid }}/musiclibrary/details/{{ m.musicid }}">{{ m.composer }}</a></td>
                    <td>
                        <a href="/user/{{ thisuser.logonid }}/musiclibrary/details/{{ m.musicid }}">
                            <div class="w3-hide-medium w3-hide-large">{% if m.musicname|length > 25 %}{{ m.musicname[0:25] }}...{% else %}{{ m.musicname }}{% endif %}</div><div class="w3-hide-small">{{ m.musicname }}</div>
                        </a>
                    </td>
                    <td>
                        {% if m.grouptemplateid != None %}
                        {% for t in grouptemplates %}
                        {% if m.grouptemplateid == t.grouptemplateid %}
                        {{t.grouptemplatename}}
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        {% for i in instrumentlist %}
                        {% if m[i] > 0 %}
                        {{i[0:2]}}: {{m[i]}}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <p>Have your own music? <a href="/user/{{ thisuser.logonid }}/musiclibrary/new/" class="w3-btn w3-green w3-round w3-border">Add it to the library</a></p>
    </div>
</div>
{% endblock %}
