{% extends "layout.html" %}
{% block title%}Music Library - {{ campname }}{% endblock %}
{% block head %}
<script>
        $(document).ready(function () {

            $(function () {
                $(".tablesorter").tablesorter({
                    sortList: [[0, 0]]
                });
            });
        });
</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">Music Library</a></li>
{% endblock %}
{% block content %}
<h3>Music Library</h3>
<p>Click on a work name to make a request to play it!</p>
<table style="width:100%" class="tablesorter">
    <thead>
        <tr>
            <th>Composer</th>
            <th>Name</th>
            <th>Instrumentation</th>
        </tr>
    </thead>
    <tbody class="zebra-table">
        {% if musics != None %}
            {% for m in musics %}
            <tr>
                <td>{{ m.composer }}</td>
                <td><a href="/user/{{ thisuser.userid }}/grouprequest/music/{{ m.musicid }}">
                    <div class="w3-hide-medium w3-hide-large">{% if m.musicname|length > 25 %}{{ m.musicname[0:25] }}...{% else %}{{ m.musicname }}{% endif %}</div><div class="w3-hide-small">{{ m.musicname }}</div>
                    </a></td>
                <td>
                    {% if m.grouptemplateid != None %}
                        {% for t in grouptemplates %}
                            {% if m.grouptemplateid == t.grouptemplateid %}
                            {{t.grouptemplatename}}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for i in instrumentlist %}
                            {% if m[i] > 0 %}
                                {{i[0:2]}}: {{m[i]}}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}