<!DOCTYPE html>
<html height="100%">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/css/newhomestyle.css" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ favicon }}/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="{{ favicon }}/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ favicon }}/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="{{ favicon }}/manifest.json">
        <link rel="mask-icon" href="{{ favicon }}/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <title>{{ campname }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"> </script>
        <script>if (!window.angular) { document.write('<script src="/js/angular.min.js"><\/script>'); }</script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"> </script>
        <script>if (!window.angular) { document.write('<script src="/js/angular-animate.min.js"><\/script>'); }</script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-touch.min.js"> </script>
        <script>if (!window.angular) { document.write('<script src="/js/angular-touch.min.js"><\/script>'); }</script>
        <script src="/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="/js/application.js"></script>
    
        <script>
            //functions dealing with setting and getting cookies
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }

            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return false;
            }
        </script>


    </head>
    <body height="100%">
        <div ng-app="Application">
            <div ng-controller="navController">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">{{ campname }}</a>
                    </div>
                    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/user/{{ thisuser.logonid }}/"><i class="fa fa-home"></i> Home</a></li>
                            {% if thisuser.isactive == 1 %}
                            <li><a href="/user/{{ thisuser.logonid }}/grouprequest/"><i class="fa fa-music"></i> Group Request</a></li>
                            <li><a href="/user/{{ thisuser.logonid }}/grouphistory/"><i class="fa fa-history"></i> Group History</a></li>
                            {% endif %}
                            {% if thisuser.isadmin == 1 %}
                            <li><a href="/user/{{ thisuser.logonid }}/groupscheduler/"><i class="fa fa-ellipsis-h"></i> Group Scheduler</a></li>
                            <li><a href="/user/{{ thisuser.logonid }}/useradmin/"><i class="fa fa-universal-access"></i> User Administration</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>


            <!-- Sidenav (no longer used)
            <nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left no-print" style="z-index:3;width:250px;padding-bottom:80px" id="mySidenav">

                <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
                    <i class="fa fa-remove"></i>
                </a>
                <h4><b>{{ thisuser.firstname }} {{ thisuser.lastname }}</b></h4>

                {% block sidenav %}{% endblock %}
                <h4><b>Navigation</b></h4>
                <a href="/user/{{ thisuser.logonid }}/" class="w3-hover-black"><i class="fa fa-home"></i> Home</a>
                {% if thisuser.isactive == 1 %}
                <a href="/user/{{ thisuser.logonid }}/grouprequest/" class="w3-hover-black"><i class="fa fa-music"></i> Request a group</a>
                <a href="/user/{{ thisuser.logonid }}/musiclibrary/" class="w3-hover-black"><i class="fa fa-book"></i> Music Library</a>
                {% endif %}
                <a href="/user/{{ thisuser.logonid }}/grouphistory/" class="w3-hover-black"><i class="fa fa-history"></i> Group History</a>
                <a href="/user/{{ thisuser.logonid }}/settings/" class="w3-hover-black"><i class="fa fa-cogs"></i> Settings</a>
                <a href="mailto:{{ supportemailaddress }}" class="w3-hover-black"><i class="fa fa-envelope"></i> Contact Support</a>
                {% if thisuser.isannouncer == 1 %}
                <h4><b>Announcer</b></h4>
                <a href="/user/{{ thisuser.logonid }}/announcement/" class="w3-hover-black"><i class="fa fa-comment"></i> Announcement Editor</a>
                {% endif %}
                {% if thisuser.isadmin == 1 %}
                <h4><b>Admin</b></h4>
                <a href="/user/{{ thisuser.logonid }}/groupscheduler/" class="w3-hover-black"><i class="fa fa-ellipsis-h"></i> Group Scheduler</a>
                <a href="/user/{{ thisuser.logonid }}/useradmin/" class="w3-hover-black"><i class="fa fa-universal-access"></i> User Administration</a>
                <a class="accordion" href="javascript:void(0)">
                    Database Editor <i class="fa fa-caret-down w3-right"></i>
                </a>
                <div id="editor" class="w3-accordion-content w3-card-4 panel">
                    <a href="/user/{{ thisuser.logonid }}/setup/" class="w3-hover-black"><i class="fa fa-wrench"></i> Initial Setup</a>
                    <a href="/user/{{ thisuser.logonid }}/objecteditor/grouptemplate/" class="w3-hover-black">Group Templates</a>
                    <a href="/user/{{ thisuser.logonid }}/objecteditor/location/" class="w3-hover-black">Locations</a>
                    <a href="/user/{{ thisuser.logonid }}/objecteditor/period/" class="w3-hover-black">Periods</a>
                    <a href="/user/{{ thisuser.logonid }}/objecteditor/music/" class="w3-hover-black">Musics</a>
                    <a href="/user/{{ thisuser.logonid }}/objecteditor/group/" class="w3-hover-black">Groups</a>
                </div>
                {% endif %}

            </nav>

            -->

            <div class="container-fluid">

                <!-- DatePicker should go here, not finished yet

                <div class="w3-center">
                    <a class="w3-btn w3-white w3-border" href="/user/{{ thisuser.logonid }}/date/{{ previousday.strftime('%Y-%m-%d') }}/"><i class="fa fa-caret-left"></i>&nbsp;Previous</a>
                    <div class="w3-dropdown-hover">
                        <button class="w3-btn w3-white w3-border">
                            {% if date.strftime('%Y-%m-%d') == today.strftime('%Y-%m-%d') %}
                            Today
                            {% else %}
                            {{ date.strftime('%a, %d %b') }}
                            {% endif %}
                            &nbsp;<i class="fa fa-caret-down"></i>
                        </button>
                        <div class="w3-dropdown-content w3-border">
                            {% for d in dates %}
                            {% if d.strftime('%Y-%m-%d') == today.strftime('%Y-%m-%d') %}
                            <a href="/user/{{ thisuser.logonid }}/date/{{d.strftime('%Y-%m-%d')}}/">Today</a>
                            {% else %}
                            <a href="/user/{{ thisuser.logonid }}/date/{{d.strftime('%Y-%m-%d')}}/">{{ d.strftime('%a, %d %b') }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <a class="w3-btn w3-white w3-border" href="/user/{{ thisuser.logonid }}/date/{{ nextday.strftime('%Y-%m-%d') }}/">Next&nbsp;<i class="fa fa-caret-right"></i></a>
                </div>
                -->



                <!-- Intro and warnings - not finished.

                <div class="w3-row">
                    <div class="w3-container">
                        <h2>Schedule: {% if date.strftime('%Y-%m-%d') == today.strftime('%Y-%m-%d') %}Today{% else %}{{ date.strftime('%d %b') }}{% endif %}</h2>
                        <div id="home_protip_welcome" class="w3-panel w3-blue protip" hidden="hidden">
                            <span class="w3-closebtn protip_close">&times;</span>
                            <h3>Welcome</h3>
                            <p">Welcome to {{campname}}! This page always shows your schedule for today. You can check out the music library and request to play specific music, by clicking the <i class="fa fa-book"></i>book icon at the top of your screen. You can request custom groups by using the <i class="fa fa-music"></i>music icon at the top of your screen. You'll see more tips like this around the place, just click the &times; in the top right to make them go away for good.</p>
                        </div>
                    </div>
                </div>
                {% if thisuser.isactive == 0 %}
                <div class="w3-row">
                    <div class="w3-container">
                        <div class="w3-panel w3-red">
                            <h3>Not Active</h3>
                            <p class="w3-hide-large">Your account is set to inactive and will not be assigned to any groups. You can rectify this by going to your settings. Select the <i class="fa fa-bars"></i>Menu in the top left of your screen, select <i class="fa fa-cogs"></i>Settings, set yourself to active and save.</p>
                            <p class="w3-hide-small w3-hide-medium">Your account is set to inactive and will not be assigned to any groups. You can rectify this by going to your settings. Select the <i class="fa fa-cogs"></i>Settings link on the left of your screen, set yourself to active and save.</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if unscheduled %}
                <div class="w3-row">
                    <div class="w3-container">
                        <div class="w3-panel w3-black">
                            <h3>Scheduling Not Complete</h3>
                            <p>Sessions on this day are still not finalised and may change.</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if thisuser.isannouncer == 1 %}
                <a href="/user/{{ thisuser.logonid }}/announcement/"><i class="fa fa-comment"></i> Accouncement Editor</a>
                {% endif %}
                {% if currentannouncement != '' and currentannouncement != None %}
                <div class="w3-row">
                    <div class="w3-container">
                        <div class="w3-panel w3-light-gray">
                            <h3>Announcements</h3>
                            <p>{{ currentannouncement|safe }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}

                -->

                
                <div class="w3-container" ng-controller="scheduleController">
 
                    <h4>Thisuser: {a thisuser.firstname a} {a thisuser.lastname a}</h4>

                    <uib-accordion close-others="true">

                        <div class="w3-card-4" ng-repeat="p in schedule">

                            <div uib-accordion-group is-open="p.isopen" ng-class="{
                                'panel-danger': p.groupname == 'absent',
                                'panel-primary': p.groupname != 'absent' && p.groupname && p.ismusical == 1 && p.iseveryone != 1,
                                'panel-info': p.groupname != 'absent' && p.groupname && p.iseveryone == 1,
                                'panel-default': !p.groupname && unscheduled,
                                'panel-success': !p.groupname && !unscheduled
                                }">

                                <uib-accordion-heading>
                                    <span ng-if="p.groupname == 'absent'">{a p.starttime | date: 'HH:mm' a}: Absent</span>
                                    <span ng-if="p.groupname != 'absent' && p.groupname && (p.ismusical == 1 || p.iseveryone == 1)">{a p.starttime | date: 'HH:mm' a}: {a p.groupname a}</span>
                                    <span ng-if="!p.groupname && unscheduled">{a p.starttime | date: 'HH:mm' a}: Check Back Later</span>
                                    <span ng-if="!p.groupname && !unscheduled">{a p.starttime | date: 'HH:mm' a}: Free Period</span>
                                    <i class="pull-right fa" ng-class="{'fa-caret-down': p.isopen, 'fa-caret-right': !p.isopen}"></i>
                                </uib-accordion-heading>

                                <!-- Warning for periods not in the user's attendance dates 
                                <div class="w3-container w3-red" ng-if="p.starttime < thisuser.arrival || p.starttime > thisuser.departure">
                                    <p class="w3-hide-large">This period is not within your account's configured dates. Go to your settings by selecting the <i class="fa fa-bars"></i>Menu in the top left of your screen, select <i class="fa fa-cogs"></i>Settings and ensure that the details there are correct.</p>
                                    <p class="w3-hide-small w3-hide-medium">This period is not within your account's configured dates. Go to your settings by using the <i class="fa fa-cogs"></i>Settings link on the left of your screen and ensure that the details there are correct.</p>
                                </div>-->


                                <div ng-if="p.starttime > thisuser.arrival && p.starttime < thisuser.departure">

                                    <!-- If the user is absent, warn them that they won't be assigned to groups -->
                                    <div class="panel-danger" ng-if="p.groupname == 'absent'">
                                        <h4>{ap.periodnamea}</h4>
                                        <p ng-if="p.meal == 1">You are marked absent for this period, meaning you will not be present for this meal.</p>
                                        <p ng-if="p.meal != 1">You are marked absent for this period. You will not be allocated to any groups.</p>
                                        <br />
                                    </div>

                                    <!-- If the unscheduled flag is set, warn the user that their allocation may change -->
                                    <div class="panel-danger" ng-if="unscheduled && p.iseveryone != 1 && p.groupname != 'absent'">
                                        <h4>Scheduling in Progress</h4>
                                        <p>Scheduling for this day is unfinished and this allocation may change.</p>
                                        <br />
                                    </div>

                                    <!-- If the group has a description, show it -->
                                    <p ng-if="p.groupdescription and p.groupdescription | length > 0">{a p.groupdescription a}</p>

                                    <!-- Show the user details about this group -->
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Time</th>
                                            <td>{a p.starttime | date:'HH:mm' a} - {a p.endtime | date:'HH:mm' a}</td>
                                        </tr>
                                        <tr ng-if="(p.ismusical == 1 || p.iseveryone == 1) && p.groupname != 'absent'">
                                            <th>Location</th>
                                            <td>{a p.locationname a}</td>
                                        </tr>
                                        <tr ng-if="p.groupname && p.ismusical == 1">
                                            <th>Instrument</th>
                                            <td>{a p.instrumentname a}</td>
                                        </tr>
                                        <tr ng-if="p.groupname && p.ismusical == 1 && p.musicname">
                                            <th>Music</th>
                                            <td><a href="/user/{a thisuser.logonid a}/musiclibrary/details/{a p.musicid a}/"><i class="fa fa-book"></i>{a p.composer a}: {a p.musicname a}</a></td>
                                        </tr>
                                        <tr ng-if="p.groupname && p.ismusical == 1 && !p.musicname && p.musicwritein">
                                            <th>Music</th>
                                            <td>{ap.musicwriteina}</td>
                                        </tr>
                                    </table>

                                    <!-- Give the user a link to the whole period details -->
                                    <a class="btn btn-default btn-block" href="/user/{a thisuser.logonid a}/period/{a p.periodid a}/">Full List</a>

                                    <!-- If this is an assigned group, show a link to the group details -->
                                    <div ng-if="p.groupname && p.ismusical == 1">
                                        <a class="btn btn-default btn-block" href="/user/{a thisuser.logonid a}/group/{a p.groupid a}/">Group List</a>
                                    </div>

                                    <!-- If this is a future date, show the user the absent buttons -->
                                    <div ng-if="p.starttime > today">
                                        <!-- If if the user is currently not assigned to a group, show them a button where they can mark themselves as absent -->
                                        <div ng-if="!p.groupname || p.iseveryone == 1">
                                            <button id={a p.periodid a} data-periodname="{a p.periodname a}" class="btn btn-default btn-block">Mark Me Absent</button>
                                        </div>
                                        <!-- If they are currently absent, show the a button to mark themselves as present -->
                                        <div ng-if="g.groupname == 'absent'">
                                            <button id={a p.periodid a} data-periodname="{a p.periodname a}" class="btn btn-default btn-block">Mark Me Present</button>
                                        </div>
                                    </div>

                                    <!-- Is this user is an conductor, they can request small groups or create instrumentation -->
                                    <div ng-if="thisuser.isconductor == 1 && date > today">
                                        <a class="btn btn-default btn-block" href="/user/{a thisuser.logonid a}/grouprequest/conductor/{a p.periodid a}/">+Small Group</a>
                                        <a class="btn btn-default btn-block" href="/user/{a thisuser.logonid a}/instrumentation/{a p.periodid a}/">Instrumentation</a>
                                    </div>

                                    <!-- If this user is an admin, they can use the super editor, and create public events-->
                                    <div ng-if="thisuser.isadmin == 1">
                                        <a class="btn btn-default btn-block" href="/user/{a thisuser.logonid a}/group/new/period/{a p.periodid a}/edit/">+Full Group</a>
                                        <a class="btn btn-default btn-block" href="/user/{a thisuser.logonid a}/publicevent/{a p.periodid a}/">Create Event</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>           
                </div>
            </div>
        </div>
    </body>
</html>