{% extends "layout.html" %}
{% block title%}Period Display - {{ campname }}{% endblock %}
{% block head %}
<script>
    $(document).ready(function () {
        $(function () {
            $(".tablesorter").tablesorter({
                emptyTo: 'bottom',
                sortList: [[2, 1], [1, 0], [0, 0]],
                headers: {
                    1: {
                        sorter: 'scoreorder',
                    },
                },
            });
        });
    });
</script>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="#" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
{% endblock %}
{% block content %}
    <h1>{{ thisperiod.periodname }}: {{ thisperiod.starttime.strftime('%A %d %b') }}, {{ thisperiod.starttime.strftime('%H:%M') }}-{{ thisperiod.endtime.strftime('%H:%M') }}</h1>
    {% if publicevents[0] != None %}
    {% for e in publicevents %}
    <h2>Public Event At This Time: <a href="/user/{{ thisuser.userid }}/group/{{ e.groupid }}">{{ e.groupname }}</a></h2>
    {% endfor %}
    {% endif %}
    <p>Total number of attendees: {{ players|length + nonplayers|length }}</p>
    <table style="width:100%" class="tablesorter">
        <thead>
            <tr>
                <th>Name</th>
                <th>Instrument</th>
                <th>Group</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody class="zebra-table">
            {% for p in players %}
            <tr>
                <td>{{ p.firstname }} {{ p.lastname }}</td>
                <td>{{ p.instrumentname }}</td>
                <td><a href="/user/{{ thisuser.userid }}/group/{{ p.groupid }}/">{{ p.groupname }}</a></td>
                <td>{{ p.locationname }}</td>
            </tr>
            {% endfor %}
            {% for p in nonplayers %}
            <tr>
                <td>{{ p.firstname }} {{ p.lastname }}</td>
                <td>{{ p.instrumentname }}</td>
                <td>{{ p.groupname }}</td>
                <td>{{ p.locationname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}