{% extends "layout.html" %}
{% block title%}{{ campname }} Period Display{% endblock %}
{% block pagename %}{{ period.periodname }}{% endblock %}
{% block head %}
    <script src="/js/jquery.tablesorter.js"> </script>
    <script>
        $(document).ready(function () {
            {% for i in instrumentlist %}
            console.log('Instrument name: {{ i }}, Loop index: {{ loop.index }})')
            {% endfor %}
            // add parser through the tablesorter addParser method 
            $.tablesorter.addParser({
                // set a unique id 
                id: 'scoreorder',
                is: function (s) {
                    // return false so this parser is not auto detected 
                    return false;
                },
                format: function (s) {
                    // format your data for normalization 
                    return s.toLowerCase(){% for i in instrumentlist %}.replace(/{{ i }}/, {{ loop.index }}){% endfor %};
                },
                // set type, either numeric or text 
                type: 'numeric'
            });

            $(function () {
                $("#periodtable").tablesorter({
                    sortList: [3,1],
                    headers: {
                        3: {
                            sorter: 'scoreorder',
                            emptyto: 'top'
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% if publicevents[0] != None %}
    {% for e in publicevents %}
    <h2>Public Event At This Time: <a href="/user/{{ thisuser.userid }}/group/{{ e.groupid }}">{{ e.groupname }}</a></h2>
    {% endfor %}
    {% endif %}
    <table>
        <tr>
            <th>Time</th>
            <td>{{ period.starttime.strftime('%A %d %b') }}, {{ period.starttime.strftime('%H:%M') }}-{{ period.endtime.strftime('%H:%M') }}</td>
        </tr>
    </table>
    <br>
    <table style="width:100%" id="periodtable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Instrument</th>
                <th>Group Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody class="zebra-table">
            {% for p in players %}
            <tr>
                <td>{{ p.firstname }}</td>
                <td>{{ p.lastname }}</td>
                <td>{{ p.instrumentname }}</td>
                <td><a href="/user/{{ thisuser.userid }}/group/{{ p.groupid }}/">{{ p.groupname }}</a></td>
                <td>{{ p.locationname }}</td>
            </tr>
            {% endfor %}
            {% for p in nonplayers %}
            <tr>
                <td>{{ p.firstname }}</td>
                <td>{{ p.lastname }}</td>
                <td>{{ p.instrumentname }}</td>
                <td>{{ p.groupname }}</td>
                <td>{{ p.locationname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}