{% extends "layout.html" %}
{% block title%}{{ campname }} Period Display{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="/user/{{ thisuser.userid }}/date/{{thisperiod.starttime.strftime('%Y-%m-%d')}}/" class="w3-hover-white">{{ thisperiod.starttime.strftime('%d %b') }}</a></li>
<li class="w3-hide-small"><a href="#" class="w3-hover-white">{{ thisperiod.periodname }}</a></li>
{% endblock %}
{% block content %}
    <h1>{{ thisperiod.periodname }}: {{ thisperiod.starttime.strftime('%A %d %b') }}, {{ thisperiod.starttime.strftime('%H:%M') }}-{{ thisperiod.endtime.strftime('%H:%M') }}</h1>
    {% if publicevents[0] != None %}
    {% for e in publicevents %}
    <h2>Public Event At This Time: <a href="/user/{{ thisuser.userid }}/group/{{ e.groupid }}">{{ e.groupname }}</a></h2>
    {% endfor %}
    {% endif %}
    <p>Total number of attendees: {{ players|length + nonplayers|length }}</p>
    <table style="width:100%" class="sortable-table">
        <thead>
            <tr>
                <th class="w3-hide-medium w3-hide-large">Name <i class="fa fa-sort"></i></th>
                <th class="w3-hide-small">First Name <i class="fa fa-sort"></i></th>
                <th class="w3-hide-small">Last Name <i class="fa fa-sort"></i></th>
                <th class="w3-hide-medium w3-hide-large">Inst <i class="fa fa-sort"></i></th>
                <th class="w3-hide-small">Instrument <i class="fa fa-sort"></i></th>
                <th class="w3-hide-medium w3-hide-large">Group <i class="fa fa-sort"></i></th>
                <th class="w3-hide-small">Group Name <i class="fa fa-sort"></i></th>
                <th>Location <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody class="zebra-table">
            {% for p in players %}
            <tr>
                <td class="w3-hide-medium w3-hide-large">{{ p.firstname }} {{ p.lastname }}</td>
                <td class="w3-hide-small">{{ p.firstname }}</td>
                <td class="w3-hide-small">{{ p.lastname }}</td>
                <td>{{ p.instrumentname }}</td>
                <td><a href="/user/{{ thisuser.userid }}/group/{{ p.groupid }}/">{{ p.groupname }}</a></td>
                <td>{{ p.locationname }}</td>
            </tr>
            {% endfor %}
            {% for p in nonplayers %}
            <tr>
                <td class="w3-hide-medium w3-hide-large">{{ p.firstname }} {{ p.lastname }}</td>
                <td class="w3-hide-small">{{ p.firstname }}</td>
                <td class="w3-hide-small">{{ p.lastname }}</td>
                <td>{{ p.instrumentname }}</td>
                <td>{{ p.groupname }}</td>
                <td>{{ p.locationname }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}