{% extends "layout.html" %}
{% block title %}{{ campname }} Public Event Creation{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if (ob.val() != '') {
            return true
        }
        else {
            return false
        }
    }

</script>
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    <h4><b>Submit</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<table id="configTable">
    <tr>
        <th>Period Name</th>
        <td>{{ thisperiod.periodname }}</td>
    </tr>
    <tr>
        <th>Date</th>
        <td>{{ thisperiod.starttime.strftime('%A, %Y-%m-%d') }}</td>
    </tr>
    <tr>
        <th>Time</th>
        <td>{{ thisperiod.starttime.strftime('%H:%M') }} - {{ thisperiod.endtime.strftime('%H:%M') }}</td>
    </tr>
</table>
<p>
    This page is used to create a public event, such as a Quiz night, Drinks, Dance, etc. It appears on everyone's dashboards
    unless they are assigned to another group. Any specific group assignment overwrites this public invitation.
</p>
<p>What is the name of the event? This will appear on all user's dashboards. <input type="text" class="form-attribute form-validate" id="groupname"></p>
<p>
    Where will this event be held? 
    <select class="form-attribute form-validate" id="locationid">
        <option value=""></option>
        {% for l in locations %}
        <option value="{{ l.locationid }}">{{ l.locationname }}</option>
        {% endfor %}
    </select>
{% endblock %}