{% extends "layout.html" %}
{% block title %}Public Event - {{ campname }}{% endblock %}
{% block head %}
<script>

    function validate(ob) {
        if (ob.val() != '') {
            return true
        }
        else {
            return false
        }
    }

</script>
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    <h4><b>Submit</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<div class="w3-row">
    <div class="w3-container">
        <h2>New Public Event</h2>
        <div class="w3-panel w3-blue">
            <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
            <h3>Pro tip!</h3>
            <p>
                This page is used to create a public event, such as a Quiz night, Drinks, Dance, etc. It appears on everyone's dashboards
                unless they are assigned to another group. Any specific group assignment overwrites this public invitation.
            </p>
        </div> 
        <table id="configTable" class="w3-table">
            <tr>
                <th>Period Name</th>
                <td>{{ thisperiod.periodname }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ thisperiod.starttime.strftime('%A, %Y-%m-%d') }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ thisperiod.starttime.strftime('%H:%M') }} - {{ thisperiod.endtime.strftime('%H:%M') }}</td>
            </tr>
        </table>
        <p>
            <label>Event Name</label>
            <input type="text" class="form-attribute form-validate w3-input w3-border" id="groupname">
        </p>
        <p>
            <label>Event Location</label>
            <select class="form-attribute form-validate w3-select w3-border" id="locationid">
                <option value=""></option>
                {% for l in locations %}
                <option value="{{ l.locationid }}">{{ l.locationname }}</option>
                {% endfor %}
            </select>
        </p>
    </div>
</div>
{% endblock %}