{% extends "layout.html" %}
{% block title %}{{ campname }} {{ type }} Setup{% endblock %}
{% block head %}


{% endblock %}
{% block navbar %}
<div class="submit_hide">
    <li class="w3-opennav w3-right w3-animate-right">
        <a href="#" class="w3-hover-white w3-large w3-theme-l1 submit_button" data-submittype="save" data-method="POST">
            <i class="fa fa-save save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i>
        </a>
    </li>
</div>
{% endblock %}
{% block breadcrumbs %}
<li class="w3-hide-small"><a href="#" class="w3-hover-white">{{ type }} Admin</a></li>
{% endblock %}
{% block sidenav %}
<div class="submit_hide">
    <h4><b>Save</b></h4>
    <a href="#" class="w3-hover-black submit_button" data-submittype="save" data-method="POST"><i class="fa fa-save save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Save Changes</a>
    <a href="#" class="w3-hover-black submit_button" data-submittype="submit" data-method="POST"><i class="fa fa-check save_icon"></i><i class="fa fa-circle-o-notch fa-spin spin_icon"></i> Submit</a>
</div>
{% endblock %}
{% block content %}
<div class="scrollable_table">
    <table style="width:100%" class="tablesorter">
        <thead>
            <tr>
                <td><input type="checkbox" id="select_all"></td>
                <th>grouptemplatename</th>
                {% for key, value in grouptemplates_dict.iteritems() %}
                {% if key != "grouptemplatename" and key != "grouptemplateid" %}
                <th>{{key}}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody class="zebra-table">
            {% for t in grouptemplates %}
            <tr>
                <td><input type="checkbox" value="{{ t.grouptemplateid }}" data-key="userid" data-mapping="{{ t.grouptemplateid }}" class="checkbox form-object-master form-validate"></td>
                <td><input type="text" data-key="grouptemplatename" data-mapping="{{ t.grouptemplateid }}" value="{{t.grouptemplatename}}"></td>
                {% for key, value in grouptemplates_dict.iteritems() %}
                {% if t[key] == None %}
                <td><input type="text" data-key="{{key}}" data-mapping="{{ t.grouptemplateid }}" value=""></td>
                {% elif key != "grouptemplatename" and key != "grouptemplateid" %}
                <td><input type="text" data-key="{{key}}" data-mapping="{{ t.grouptemplateid }}" value="{{t[key]}}"></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}