{% extends "layout.html" %}
{% block title %}{{ campname }} User Settings{% endblock %}
{% block pagename %}User Settings{% endblock %}
{% block head %}{% endblock %}
{% block tools %}{% endblock %}
{% block content %}
    <a href="/user/{{ thisuser.userid }}/edituser/new/">Create a New User</a>
    <table style="width:100%" class="sortable-table">
        <thead>
            <tr>
                <th class="shrink"><button type="button">Email Users</button></th>
                <th>Name</th>
                <th>Playcount</th>
                <th>User Home</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody class="zebra-table">
            {% if users != None %}
            {% for u in users %}
            <tr>
                <td class="shrink"><input type="checkbox" name="{{ u.userid }}" value="checked"></td>
                <td>{{ u.firstname }} {{ u.lastname }}</td>
                <td>{{ u.playcount }}</td>
                <td><a href="/user/{{ u.userid }}/">User Home</a></td>
                <td><a href="/user/{{ thisuser.userid }}/edituser/{{ u.userid }}/">Edit</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}{% endblock %}